<template>
  <el-form v-if="$route.query.isChuanYue == 1" disabled class="publish-style form-disabled" ref="formData"inline>
    <el-form-item class="w100" label="标题" prop="title">
      <el-input v-model="formData.title" placeholder="请输入标题" />
    </el-form-item>
    <el-form-item label="编号" prop="code">
      <el-input v-model="formData.code" />
    </el-form-item>
    <el-form-item label="来华人数" prop="comingNum">
      <el-input v-model="formData.comingNum" type="number" min="1" />
    </el-form-item>
    <el-form-item label="国籍" prop="nationality">
      <el-input v-model="formData.nationality" placeholder="请输入来华人员国籍" />
    </el-form-item>
    <el-form-item label="来华日期" prop="comingTime">
      <el-date-picker v-model="formData.comingTime" value-format="yyyy-MM-dd" placeholder="请选择来华日期" />
    </el-form-item>
    <el-form-item label="停留时间" prop="stayTime">
      <el-input v-model="formData.stayTime" placeholder="请输入停留时间" />
    </el-form-item>
    <el-form-item label="拟稿单位" prop="ngDeptName">
      <el-input v-model="formData.ngDeptName" placeholder="请输入拟稿单位" />
    </el-form-item>
    <el-form-item label="拟稿人员" prop="ngDeptUserName">
      <el-input v-model="formData.ngUserName" placeholder="请输入拟稿人员" />
    </el-form-item>
    <el-form-item label="联系电话" prop="telePhone">
      <el-input v-model="formData.telePhone" placeholder="请输入联系电话" />
    </el-form-item>
    <el-form-item label="拟稿日期" prop="ngDate">
      <el-input v-model="formData.ngDate" placeholder="拟稿日期" />
    </el-form-item>
    <el-form-item class="w100" label="公文正文">
      <div class="box" >
        <p class="document-content">
          <span v-show="formData.title"><i class="icon el-icon-document" />
          {{formData.title}}.doc</span>
          <el-button @click="handleEditDocument" type="primary" v-if="formData.id && (formData.title && viewType != 'view')" size="mini">编辑</el-button>
          <span class="el-button el-button--primary el-button--mini" v-if="formData.title && viewType == 'view'" @click="handlePreviewDocument">查看</span>
          <span v-if="historyButtonShow" @click="historyDialog = true" class="el-button el-button--primary el-button--mini">过程稿</span>
          <uploadFile style="margin-left: 10px" v-if="viewType != 'view'" v-show="formData.originText" buttonSize="mini" buttonText="上传" onlyUpload :id="formData.originText" />
        </p>
      </div>
    </el-form-item>
    <el-form-item label="会签附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.id " isHQ />
      </div>
    </el-form-item>
    <el-form-item label="公文附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.id" />
      </div>
    </el-form-item>
    <el-form-item label="传阅范围" class="w100">
      <div class="box">
        {{readRange}}
      </div>
    </el-form-item>
    <documentLinks
      :visible="documentDialog"
      @update:visible="v => documentDialog = v"
      @update:selection = "checkDocuments"
    />
    <TaoHongTemp :tempList="tempList" :visible="tempListVisible" @update:visible="v => tempListVisible = v" />
  </el-form>
  <el-form v-else :rules="rules" class="publish-style clearfix" :disabled="viewType == 'view'" ref="formData" :class="{'form-disabled': viewType == 'view', 'link-hidden': linkHidden }" :model="formData" inline>
    <el-form-item label="编号" prop="code">
      <el-input v-model="formData.code" />
    </el-form-item>
    <el-form-item label="标题" prop="title">
      <el-input v-model="formData.title" placeholder="请输入标题" />
    </el-form-item>
    <el-form-item label="来华人数" prop="comingNum">
      <el-input v-model="formData.comingNum" type="number" min="1" />
    </el-form-item>
    <el-form-item label="国籍" prop="nationality">
      <el-input v-model="formData.nationality" placeholder="请输入来华人员国籍" />
    </el-form-item>
    <el-form-item label="来华日期" prop="comingTime">
      <el-date-picker v-model="formData.comingTime" value-format="yyyy-MM-dd" placeholder="请选择来华日期" />
    </el-form-item>
    <el-form-item label="停留时间" prop="stayTime">
      <el-input v-model="formData.stayTime" placeholder="请输入停留时间" />
    </el-form-item>
    <el-form-item label="拟稿单位" prop="ngDeptName">
      <el-input v-model="formData.ngDeptName" placeholder="请输入拟稿单位" />
    </el-form-item>
    <el-form-item label="拟稿人员" prop="ngDeptUserName">
      <el-input v-model="formData.ngUserName" placeholder="请输入拟稿人员" />
    </el-form-item>
    <el-form-item label="联系电话" prop="telePhone">
      <el-input v-model="formData.telePhone" placeholder="请输入联系电话" />
    </el-form-item>
    <el-form-item label="拟稿日期" prop="ngDate">
      <el-input v-model="formData.ngDate" placeholder="拟稿日期" />
    </el-form-item>
    <!-- <el-form-item label="事由" prop="reason" class="w100">
      <el-input type="textarea" v-model="formData.reason" placeholder="请输入事由" />
    </el-form-item> -->
    <el-form-item class="w100" label="公文正文">
      <div class="box" >
        <p class="document-content">
          <span v-show="formData.title"><i class="icon el-icon-document" />
          {{formData.title}}.doc</span>
          <el-button @click="handleEditDocument" type="primary" v-if="formData.id && (formData.title && viewType != 'view')" size="mini">编辑</el-button>
          <span class="el-button el-button--primary el-button--mini" v-if="formData.title && viewType == 'view'" @click="handlePreviewDocument">查看</span>
          <span v-if="historyButtonShow" @click="historyDialog = true" class="el-button el-button--primary el-button--mini">过程稿</span>
          <uploadFile style="margin-left: 10px" v-if="viewType != 'view'" v-show="formData.originText" buttonSize="mini" buttonText="上传" onlyUpload :id="formData.originText" />
        </p>
      </div>
    </el-form-item>
    <el-form-item label="会签附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.id " isHQ />
      </div>
    </el-form-item>
    <el-form-item label="公文附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.id" />
      </div>
    </el-form-item>
    <el-form-item label="关联文档" class="w100">
      <div class="box files">
        <el-button v-if="$store.state.permission == 'edit'" @click="documentDialog = true" :disabled="!formData.id" icon="el-icon-search" size="mini" type="primary">选择关联文档</el-button>
        <div class="names">
          <p @click.self="DaiBanHandleClick(v, 'YiBan', true)" v-for="v in linkInfo">
            <i class="icon el-icon-document"></i>
            【{{v.poName}}】{{v.linkName}}
            <span class="el-icon-error" v-if="isCurrent && $store.state.permission == 'edit'" @click.self="handleDeleteLinkInfo(v)" />
          </p>
        </div>
      </div>
    </el-form-item>
    <documentLinks
      :visible="documentDialog"
      @update:visible="v => documentDialog = v"
      @update:selection = "checkDocuments"
    />
    <TaoHongTemp :tempList="tempList" :visible="tempListVisible" @update:visible="v => tempListVisible = v" />
  </el-form>
</template>

<script>
import documentLinks from  '@/views/publish/components/documentLinks.vue'
import TaoHongTemp from '@/components/TaoHongTemp'
import uploadFile from '@/components/uploadFile/uploadFile'
import initConfig from '@/views/publish/publish.baseInfo.js'
export default initConfig({
  name: 'InviteBaseInfo',
  components: {
    documentLinks,
    TaoHongTemp,
    uploadFile
  },
  created(_this) {
  }
})
</script>

<style lang="scss" scoped>
  @import '../publish/baseInfo.scss';
  .el-form-item {
    width: 50%
  }
  .w100 {
    width: 100%
  }
</style>