<template>
  <div class="wrapper flex">
    <toolBar />
    <TableTemplate
      v-if="$route.query.to != 'models'"
      class="table per-more-table flex"
      :table-title="$route.query.name"
      :url="urls[$route.query.title]"
      :columns="columns[$route.query.title]"
      :rowClick="rowClick"
      :search="search[$route.query.title]"
      :searchTitle="$route.query.name+'查询'"
      :operating="operating[$route.query.title]"
      :isSelection="$route.query.title == 'CaoGao'"
      :slectionOprating="slectionOprating"
       />
    <div class="models" v-else>
      <el-scrollbar v-loading="!modelsData">
        <el-card v-if="v.list.length" class="box-card" v-for="v in modelsData">
          <div slot="header" class="clearfix">
            <span class="el-icon-collection" /><span>{{v.tabName}}</span>
          </div>
          <ul>
            <li @click="handleClickLink(v)" v-for="v in v.list">
              <span class="el-icon-notebook-1" />
              {{v.name}}
            </li>
          </ul>
        </el-card>
      </el-scrollbar>
    </div>
  </div>
</template>
<script>
import { data } from './config.js'
import toolBar from '@/components/toolBar'
import TableTemplate from '@/components/table/temp.table1'
export default {
  name: 'More',
  components: {
    TableTemplate,
    toolBar
  },
  data () {
    return data
  },
  methods: {
    rowClick(row, column) {
      /*
      * 跳转详情
      * @author cheng_xiaona zhang_yanhong
      */
      if(this.$route.query.title == 'YiFa') {
        this.YiFaHandleClick(row)
      } else {
        let t = this.$route.query.title == 'message' ? 'DaiBan' : this.$route.query.title
        this.DaiBanHandleClick(row, t)
      }
    },
    getModels() {
      this.axios('xjmb/findMoreXjmb')
        .then(res => {
          if(res) {
            this.modelsData = this.modelsData.concat(res.result)
          }
        })
    },
    handleClickLink(v) {
      if (v.isNew == 1) {
        this.$router.push({name: v.url})
      } else {
        window.open(v.url, '_blank')
      }
    }
  },
  created() {
    if(this.$route.query.to == 'models') {
      this.getModels()
    }
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  box-sizing: border-box;
}
/deep/ {
  .tool-bar {
    /* background: #007373; */
    background-color: #108ee9;
    color: #fff;
    .el-icon-circle-close {
      color: #fff;
    }
  }
  .el-table--enable-row-transition .el-table__body td {
    cursor: pointer;
  }
}
.per-more-table{
  margin: 0 auto;
  padding: 0 5%;

}
/deep/ .el-pager li.active{
  background-color: #108ee9;
}
.models {
  width: 100%;
  height: 100%;
}
.el-scrollbar {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box-card {
  width: 90%;
  margin: 0 auto 10px;
  li {
    font-size: 12px;
    display: inline-block;
    line-height: 2.5em;
    border-bottom: 1px dashed #ccc;
    width: 33.3%;
    cursor: pointer;
  }
  /deep/ {
    .el-card__header {
      background: #f2f6fc
    }
    .el-card__body {
      padding-top: 15px;
    }
  }
}
/deep/ {
  .tool-bar li.close span {
    color: #fff;
  }
}
</style>