<template>
  <div class="wrapper">
    <!-- <el-dialog width="95%" :visible.sync="dialogVisible">
      <div class="content">
        <search @update:selection="updateSelection" selection noBar />
      </div>
      <div class="footer">
        <el-button @click="handleCancel" size="small">取消</el-button>
        <el-button @click="handleSure" size="small" type="primary">确认</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import search from '@/views/Search/Search.vue'
export default {
  name: 'documentLinks',
  components: {
    search
  },
  props: {
    url: {
      type: String,
      default: ''
    },
    visible: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      selections: [],
    }
  },
  watch: {
    visible(v) {
      if(v) {
        let _window = window.open('#/Search?checked=1', '_blank');
        let timer = setInterval(() => {
          if(_window.closed) {
            clearInterval(timer);
            const s = localStorage.getItem('selection');
            (s) && (this.$emit('update:selection', JSON.parse(s)), localStorage.removeItem('selection'));
            this.$emit('update:visible', false)
          }
        }, 350)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
/deep/ {
  .main {
    width: 100%;
  }
}
.content {
  height: 400px;
}
.footer {
  text-align: center;
  padding-top: 10px;
}
</style>