<template>
  <el-dialog title="查看历史版本"
    :visible.sync="historyVisible">
      <el-table
        @row-click="historyRowClick"
        v-loading="!historyData"
        :data="historyData"
        border
        width="100%"
        height="300px"
        >
        <el-table-column
          prop="createUserName"
          label="创建人" />
        <el-table-column
          prop="createTime"
          label="创建时间" />
        <el-table-column
          prop="userDeptName"
          label="创建部门" />
        <el-table-column
          prop="version"
          label="版本号" />
      </el-table>
      <div class="btns">
        <span class="el-button el-button--default el-button--mini" @click="historyVisible = false">关闭</span>
      </div>
  </el-dialog>
</template>

<script>
export default {
  name: 'documentHistory',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    id: ''
  },
  data () {
    return {
      historyVisible: this.visible,
      historyData: null
    }
  },
  methods: {
    historyRowClick(v) {
      window.readVersion(v)
    },
    getData() {
      if(this.id) {
        this.historyData = null
        this.axios
          .post('office/getFileVersionList', {id: this.id})
          .then(res => {
            if(res) {
              this.historyData = res.result
            }
          })
      }
    }
  },
  watch: {
    visible(v) {
      this.historyVisible = v;
    },
    historyVisible(v) {
      this.$emit('update:visible', v);
      if(v) {
        this.getData()
      }
    },
    id(v) {
      // this.getData()
    }
  },
  created() {
    this.getData()
  }
}
</script>

<style lang="scss" scoped>
  .btns {
    text-align: center;
    margin-top: 10px
  }
</style>