<template>
  <div class="opinion">
    <dl class="clearfix items" v-for="v in config" :class="{placeholder: !v}">
      <dt>{{v.text}}</dt>
      <dd>
        <div v-for="p in v.data" v-show="v.data && v.data.length">
          <!-- <h3 v-if="v.deptShow">{{p.deptName}}</h3> -->
          <ul>
            <li :title="v.text" v-for="item in p.ideaList">
              <!-- <b v-if="v.noteShow">【{{p.note}}】</b> -->
              <div class="per-idea-text" >{{item.idea}}</div>
              <div class="per-idea-info">
                <span v-if="item.iscollect == 1">{{item.deptname}}</span>
                <img v-else-if="item.imageUrl && item.imageUrl.length" :src="item.imageUrl">
                <span v-else>{{item.username}}</span>
                <span>{{getYear(item.ideatime)}}</span>
              </div>
            </li>
          </ul>
        </div>
      </dd>
    </dl>
  </div>
</template>

<script>
export default {
  name: 'opinion',
  props: {
    config: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      
    }
  },
  methods: {
    getYear(date) {
      let D = new Date(Date.parse(date.replace(/-/g,"/")));
      let m = D.getMonth() + 1 + '';
      let d = D.getDate() + '';
      let hh = D.getHours() + '';
      let mm = D.getMinutes() + '';
      return D.getFullYear() + '-' + m.padStart(2, '0') + '-' + d.padStart(2, '0') + ' ' + hh.padStart(2, '0') + ':' + mm.padStart(2, '0')
    }
  }
}
</script>

<style lang="scss" scoped>
$red: #f56c6c;
.items {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  dt {
    position: absolute;
    left: 0;
    top: 0;
    width: 1em;
    height: 100%;
    width: 0;
    height: 0;
    background: #efefef;
    border-radius: 0 10px;
    text-align: center;
    /*display: flex;*/
    display: none;
    align-items: center;
    padding: 0 10px;
  }
  dd {
    position: relative;
    margin: 10px;
    margin-right: 20px;
    min-height: 8em;
    h3 {
      font-size: 1.2em;
      font-weight: bold;
      color: #337399;
    }
    & > div {
      border-bottom: 1px solid $red;
      margin-bottom: 10px;
      &:last-child {
        border: none;
        margin-bottom: none;
      }
    }
  }
  ul {
    li {
      border-bottom: 1px dashed #dedede;
      font-size: 12px;
      margin-bottom: 10px;
      span {
        line-height: 68px;
      }
      img {
        height: 50px
      }
      em,
      span {
        display: inline-block;
      }
      em {
        vertical-align: bottom;
      }
       &:last-child {
        border: none;
      }
    }
  }
  .per-idea-info{
    text-align: right;

    span{
      display: block;
      line-height: 20px;
      font-size: 12px;
    }
  }
  .per-idea-text {
    text-indent: 2em
  }
}

</style>