<template>
  <div v-if="data" class="wrapper">
    <dl v-for="(v, i) in config" :style="{'padding-left': labelWidth}">
      <dt :style="{'width': labelWidth}">{{i}}</dt>
      <dd>
        <div class="item" v-for="v in data[i]">
          <ul>
            <li v-for="item in v.ideaList">
              <div class="per-idea-text" >{{item.idea}}</div>
              <div class="per-idea-info">
                <span v-if="item.iscollect == 1">{{item.deptname}}</span>
                <img v-else-if="item.imageUrl && item.imageUrl.length" :src="item.imageUrl">
                <span v-else>{{item.username}}</span>
                <span>{{getYear(item.ideatime)}}</span>
              </div>
            </li>
          </ul>
        </div>
      </dd>
    </dl>
  </div>
  <div v-else v-loading="!data" class="loading" />
</template>

<script>
export default {
  name: 'ShenHeQianPiYiJian',
  props: {
    config: {
      type: [Array, Object],
      default: () => {
        return {
          '主办部门意见': {
            code: 'NGHJ_'
          },
          '会签部门意见': {
            code: 'HQHJ_'
          },
          '领导审批意见': {
            code: 'JTLD_SH_YJ'
          },
          '办公厅核稿': {
            code: 'BGT_LD_YJ'
          },
        }
      }
    },
    labelWidth: {
      type: [Object, String],
      default: '7em'
    },
    id: ''
  },
  data () {
    return {
      data: null
    }
  },
  methods: {
    getYear(date) {
      let D = new Date(Date.parse(date.replace(/-/g,"/")));
      let m = D.getMonth() + 1 + '';
      let d = D.getDate() + '';
      let hh = D.getHours() + '';
      let mm = D.getMinutes() + '';
      return D.getFullYear() + '-' + m.padStart(2, '0') + '-' + d.padStart(2, '0') + ' ' + hh.padStart(2, '0') + ':' + mm.padStart(2, '0')
    },
    getData() {
      let p = JSON.parse(this.$route.query.params);
      let data = {};
      let promise = []
      for(let i in this.config) {
        let params = {
          fileTypeId: p.fileTypeId,
          workflowid: p.workitemid,
          recordId: p.id,
          order: "ideatime",
          ideaFieldName: this.config[i].code,
          ideaTitle: i
        }
        promise.push(new Promise((resolve, reject) => {
          this.axios
            .post('idea/getIdea', params)
            .then(res => {
              if(res) {
                data[i] = res.result;
                let d = {};
                d[i] = res.result
                resolve(d)
              } else {
                reject(res.msg)
              }
            })
            .catch(err => {
              reject(err)
            })
        }))
      }
      Promise.all(promise)
        .then(res => {
          this.data = data
        })
    }
  },
  created() {
    this.getData()
  }
}
</script>

<style lang="scss" scoped>
@import './ShenHeQianPiYiJian.scss';
</style>