.loading {
  height: 300px;
}
ul {
  li {
    border-bottom: 1px dashed #dedede;
    font-size: 12px;
    margin-bottom: 10px;
    span {
      line-height: 68px;
    }
    img {
      height: 50px
    }
    em,
    span {
      display: inline-block;
    }
    em {
      vertical-align: bottom;
    }
  }
}
dl {
  position: relative;
  padding: 0 15px;
  dt {
    padding-left: .5em;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    line-height: 2em;
    margin-top: -1em;
    text-align: right;
    color: #cf9236;
    font-weight: bold;
  }
  dd {
    border-bottom: 1px solid #dd6161;
    padding: 10px 0;
    margin-left: 10px;
    min-height: 50px;
    .item:last-child {
      ul {
        li:last-child {
          border: none;
        }
      }
    }
  }
}
.wrapper {
  dl:last-child {
    dd {
      /*border: none;*/
    }
  }
}
.per-idea-info{
  text-align: right;

  span{
    display: block;
    line-height: 20px;
    font-size: 12px;
  }
}
.per-idea-text {
  text-indent: 2em
}