<template>
  <div class="wrapper">
    
  </div>
</template>

<script>
import editOffice from '@/views/newWindow/methods/office.js'
export default {
  name: 'office',
  data () {
    return {
      
    }
  },
  created() {
    editOffice('','42271b7106174dd8b6b848a3bba6dadd','c2f9244dcc4d40f99030d94a7f9d6a01','6a82b3387ae24f3c8b03bd864c106c1e','YZ_ARCHIVES_FILELIST','00');
  }
}
</script>

<style lang="scss" scoped>
  
</style>