<template>
  <div class="wrapper">
    下一环节：
    <el-radio v-model="nodeSelect" v-for="v in formData.node" @change="change" :label="v.name" />
    <el-button :disabled="!nodeSelect" @click="getToFlowData">提交</el-button>
    <el-dialog :show-close="false" :before-close="beforeClose" :visible.sync="dialogVisible">
      111
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'TestProcess',
  data () {
    return {
      dialogVisible: false,
      formData: {
        "sysid": 1,
        "filetypeid": '79131b0f966f4107a006206e23495d93',
        "title": '111111',
        "recordid": '1',
        "deptid": '001061003003',
        "userid": '8a8782e9574258f401574280ce88011e',
        "flag": 'selectoption', //写死必传
        "docid": '1'
      },
      nodes: [],
      nodeSelect: null
    }
  },
  methods: {
    getToFlowData() {
      this.axios
        // .post('outcontrol/toFlow', this.formData)
        .post('outcontrol/toFlow', JSON.parse(JSON.stringify(this.formData)))
        .then(res => {
          this.formData = res.result;
          this.nodes = res.result.node
        })
    },
    handleSubmit() {
      let data = Object.assign(JSON.parse(JSON.tringify(this.formData)))
    },
    change(v) {
      for(let i = 0; i < this.formData.node.length; i++) {
        this.formData.node[i].isSelect = this.formData.node[i].name == v ? 'true' : 'false'
      }
    },
    beforeClose(done) {
      // done = false
    }
  },
  created() {
    this.getToFlowData()
  },
  watch: {
    formData: {
      deep: true,
      handler(v) {
        (v.flag && v.flag != 'flowinstance') && (this.dialogVisible = true)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  
</style>