<template>
  <div class="wrapper" :class="{print: isPrint}" :style="{'padding-bottom': rightBarShow ? 0 : '40px'}">
    <toolBar>
      <li @click="$refs.scroll.wrap.scrollTop = 0"><span class="icon el-icon-arrow-up" />到顶部</li>
      <li v-if="v.show" v-for="v in toolBar" @click="scrollTo(v.id)"><span class="icon" :class="v.icon" v-if="v.icon" />{{v.title}}</li>
    </toolBar>
    <div class="content-wrapper" :class="{'open-right-bar': openRightBar && !isPrint}">
      <el-scrollbar ref="scroll" :class="{print: isPrint}">
        <div class="content">
          <div class="base-content-wrapper">
            <h2>
              中国有色矿业集团有限公司 <br />
              {{title}}
            </h2>
            <slot name="baseInfo" />
          </div>
           <!---->
          <el-collapse v-show="((isPrint && printShow.some(v => (v.show &&  v.title.includes('意见')))) || !isPrint) && $route.query.isChuanYue == 0" v-model="collapseActives" class="w100">
            <el-collapse-item :class="{'no-print': !v.title.includes('意见')}" v-show="(isPrint && printShow[i] && printShow[i].show) || !isPrint" v-if="v.show" :id="v.id" v-for="(v, i) in toolBar" :name="v.id">
              <template slot="title">
                <span class="icon" :class="v.icon" />{{v.title}}
                <div class="shadow" v-show="isPrint" @click.stop="() => false">
                  <span @click="handleHidden(i)">[隐藏]</span>
                </div>
              </template>
              <slot :name="v.id" />
            </el-collapse-item>
          </el-collapse>
        </div>
      </el-scrollbar>
      <right-bar v-show="!isPrint" v-if="rightBarShow" :open="openRightBar" @update:open="v => openRightBar = v">
        <slot name="rightBar" />
      </right-bar>
    </div>

    <div class="btns" v-if="$route.query.isChuanYue == 1">
      <el-button size="mini" @click="ZhiHuiDialogVisible = true" type="primary">传阅</el-button>
      <el-button size="mini" @click="handleYueBi" v-show="from == 'DaiYue'" type="primary">阅毕</el-button>
    </div>
    <div class="btns" v-else-if="!rightBarShow || showPrint">
      <el-button v-show="!isPrint" size="mini" type="primary" @click="handleSetPrint">打印</el-button>
      <el-button v-show="$route.query.from == 'YiFa' || $route.query.from == 'YiBan'" size="mini" @click="ZhiHuiDialogVisible = true" type="primary">知会</el-button>
      <el-button class="print-button" v-show="isPrint" size="mini" type="primary" @click="handleCancelPrint">取消</el-button>
      <el-button class="print-button" v-show="isPrint" size="mini" type="primary" @click="handlePrint">确认打印</el-button>
      <el-button size="mini" v-show="!isPrint && backButtonShow" type="primary" @click="handleCheHui">撤回</el-button>
      <el-button size="mini" v-show="(from == 'YiFa') && !isPrint && isCurrent && !rebackButtonShow && formData.subFlag != '02'" type="primary" @click="handleCheBan">撤办</el-button>
      <el-button size="mini" v-show="!isPrint && rebackButtonShow && formData.subFlag != '02'" type="primary" @click="handleReback">恢复撤办</el-button>
      <el-button size="mini" @click="handleYueBi" v-show="(from == 'DaiYue') && !isPrint" type="primary">阅毕</el-button>
      <el-button size="mini" @click="handleFenFa" v-show="FenFaButtonShow" type="primary">{{$route.name == 'Publish' ? '分发' : '交办'}}</el-button>
    </div>
    <div v-show="hiddenShow" class="hidden-collapse">
      <p>已隐藏模块</p>
      <ul>
        <li v-for="v in printShow" v-show="!v.show" @click="v.show = true">{{v.title}}</li>
      </ul>
    </div>
    <zhiHuiDailog
      :visible="ZhiHuiDialogVisible"
      @update:visible="v => ZhiHuiDialogVisible = v"
      @update:isZhiHui="handleSubmitChuanYue"
      :from="'ZhiHui'"/>
  </div>
</template>

<script>
import rightBar from './rightBar.vue'
import toolBar from '@/components/toolBar'
import zhiHuiDailog from '@/views/ShouWen/yueZhiDialog.vue'
import rightMethods from './components/rightBarContent.method.js'
export default {
  name: 'publishTemp',
  components: {
    rightBar,
    toolBar,
    zhiHuiDailog
  },
  props: {
    toolBar: {
      type: Array,
      default: () => []
    },
    title:'',
    formData: {
      type: [Object, Array],
      default: () => []
    }
  },
  data () {
    return {
      ZhiHuiDialogVisible: false,
      from: 'CaoGao',
      rightBarShow: false,
      openRightBar: true,
      collapseActives: [],
      isPrint: false,
      '_collapseActives': [],
      printShow: [],
      printTip: null,
      placeholders: null,
      backButtonShow: false,
      rebackButtonShow: false,
      FenFaButtonShow: false,
    }
  },
  computed: {
    hiddenShow() {
      return this.printShow.some(v => !v.show)
    },
    showPrint() {
      return this.$store.state.showPrint
    },
    routeParams() {
      return JSON.parse(this.$route.query.params)
    },
    isCurrent() {
      return this.$store.state.userInfo.userId == this.formData.creUserId
    }
  },
  methods: {
    closeWindow() {
      (window.opener && window.opener.getHomeData) && (window.opener.getHomeData());
      setTimeout(window.close, 1000)
    },
    handleSubmitChuanYue: rightMethods.handleSubmitChuanYue,
    scrollTo(i) {
      this.$refs['scroll'].wrap.scrollTop = document.getElementById(i).offsetTop;
      (!this.collapseActives.includes(i)) && (this.collapseActives.push(i));
    },
    handleYueBi() {
      this.axios
        .post('docSend/yueBi', {sendId: JSON.parse(this.$route.query.params).sendId})
        .then(res => {
          if(res) {
            this.$message.success(res.msg);
            if(this.$store.state.from ) {
              this.$router.back()
            } else {
              this.closeWindow()
            }
          }
        })
    },
    handleSetPrint() {
      this['_collapseActives'] = JSON.parse(JSON.stringify(this.collapseActives));
      let a = [];
      let s = [];
      this.toolBar.forEach(v => {
        a.push(v.id)
        s.push({
          title: v.title,
          show: true
        })
      })
      this.collapseActives = a;
      if(!this.placeholders) {
        this.placeholders = this.clearPlaceholders();
      }
      (this.printShow.length == 0) && (this.printShow = s);
      if(this.toolBar.some(v => v.title.includes('意见') && v.show)) {
        this.printTip = this.$message.warning('请设置您想要打印的模块！');
        this.isPrint = true
      } else {
        this.isPrint = true;
        this.handlePrint()
      }
    },
    handleHidden(i) {
      this.$set(this.printShow[i], 'show', false)
    },
    handlePrint() {
      (this.printTip) && (this.printTip.close());
      document.getElementsByTagName('HTML')[0].style.height = document.getElementById('app').style.height = 'auto'
      this.$nextTick(() => {
        window.print()
      })
    },
    handleCancelPrint() {
      document.getElementById('app').removeAttribute('style');
      document.getElementsByTagName('HTML')[0].removeAttribute('style');
      this.collapseActives = this['_collapseActives'];
      this.isPrint = false;
      this.$store.commit('SET_SHOWPRINT', false)
    },
    handleFenFa() {
      let d = this.formData;
      this.$route.name == 'ShouWen' ? window.jiaoban('', '', 0, d.creUserDeptId, '', d.outWord || d.inWord, '001061', '', this.routeParams.id, '', 'FW') : window.selectSendAllNew('', '', 0, d.creUserDeptId, '', d.outWord || d.inWord, '001061', '', this.routeParams.id, '', 'FW');
    },
    getBackButtonShowState() {
      /**
      * 判断撤回按钮是否显示，只在已办和已发调用
      * @return {void}
      * @author cheng_xiaona
      */
      this.axios
        .post('gzl/ifShouHui', {id: this.routeParams.id, fileTypeId: this.routeParams.fileTypeId})
        .then(res => {
          (res) && (this.backButtonShow = res.result)
        })
    },
    getRebackButtonState() {
      /**
      * 回复撤办按钮是否显示， 只在已发时候调用
      * @return {void}
      * @author cheng_xiaona 2019/5/29 14:45
      */
      this.axios
        .post('gzl/ifReCheBan', {id: this.routeParams.id, fileTypeId: this.routeParams.fileTypeId})
        .then(res => {
          (res) && (this.rebackButtonShow = res.result)
        })
    },
    getFenFaButtonState() {
      this.axios
        .post('archivesOut/ifShowFf', {id: this.routeParams.id})
        .then(res => {
          this.FenFaButtonShow = res.result
        })
    },
    handleCheHui() {
      this.createLoading();
      this.axios
        .post('gzl/shouHui', {id: this.routeParams.id, fileTypeId: this.routeParams.fileTypeId})
        .then(res => {
          if(res) {
            this.$message.success(res.msg);
            this.$router.back()
          }
        })
    },
    handleReback() {
      this.createLoading();
      this.axios
        .post('gzl/reCheBan', {id: this.routeParams.id, fileTypeId: this.routeParams.fileTypeId})
        .then(res => {
          if(res) {
            this.$message.success(res.msg);
            this.$router.back()
          }
        })
    },
    handleCheBan() {
      this.createLoading();
      this.axios
        .post('gzl/cheBan', {id: this.routeParams.id, fileTypeId: this.routeParams.fileTypeId})
        .then(res => {
          if(res) {
            this.$message.success(res.msg);
            this.$router.back()
          }
        })
    }
  },
  created() {
    let from = this.$route.query.from;
    let froms = ['YiBan', 'YiYue', 'DaiYue', 'YiFa'];
    this.rightBarShow = !froms.includes(from);
    this.openRightBar = !froms.includes(from);
    this.from = from || 'CaoGao';
    if(from == 'YiBan' || from == 'YiFa') {
      this.getBackButtonShowState();
      this.getFenFaButtonState();
      (from == 'YiFa') && (this.getRebackButtonState())
    }
  },
  watch: {
    showPrint(v) {
      if(v) {
        this.handleSetPrint()
      } else {
        this.placeholders.forEach(v => {
          v.setAttribute('placeholder', v.getAttribute('data-placeholder'))
        })
      }
    },
  },
  mounted() {
    let time = setTimeout(() => {
      let a = []
      this.toolBar.forEach((v, i) => {
        a.push(v.id)
      })
      this.collapseActives = a;
    }, 1000)
  }
}
</script>
<style lang="scss" scoped>
@import 'publish.scss';
</style>
