.wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  overflow: hidden;
}
.btns {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #fff;
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
}

.el-scrollbar {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
$rightBarWidth: 300px;
/deep/ .content-wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: all .3s;
  &.open-right-bar {
    padding-right: $rightBarWidth;
    .right-bar-content-wrapper {
      width: $rightBarWidth;
    }
  }
}

.el-collapse-item,
.base-content-wrapper {
  box-shadow: 1px 1px 10px #ccc;
}
.base-content-wrapper {
  padding: 10px 0;
  margin: 10px 0;
  background: #fff;
}
.el-collapse-item {
  margin-bottom: 10px;
  &:last-child {
    margin: 0;
  }
}
.icon {
  margin: 0 5px;
}
/deep/ {
  .el-collapse-item__header {
    position: relative;
    &.is-active {
      border-color: #EBEEF5;
    }
  }
}
h2 {
  color: #dd6161;
  text-align: center;
  background: #fff;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.5em
}
.print {
  padding-top: 0;
  background: #fff;
  height: auto;
  /deep/ {
    .el-button:not(.print-button),
    .no-print,
    .tool-bar,
    .el-collapse-item__arrow,
    .upload .down,
    .view-button {
      display: none
    }
    .base-content-wrapper,
    .el-collapse-item
     {
      box-shadow: none
    }
  }
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: auto;
  text-align: right;
  span {
    cursor: pointer;
    color: red;
  }
}
.hidden-collapse {
  position: fixed;
  right: 25px;
  top: 0;
  box-shadow: 0 5px 7px #eee;
  padding: 10px;
  line-height: 2em;
  p {
    color: red;
    border-bottom: 1px solid #ccc;
  }
  li {
    cursor: pointer;
  }
}
@media print {
  .hidden-collapse {
      opacity: 0
  }
  @page {
    size: auto;  /* auto is the initial value */
    margin: 0mm; /* this affects the margin in the printer settings */
  }
  /deep/ {
    .el-button,
    .shadow,
    .btns,
    .view-button {
      display: none
    }
  }
}
.el-scrollbar.print {
  overflow: initial;
  /deep/ {
    .el-scrollbar__wrap {
      overflow: auto
    }
  } 
}