<template>
  <div class="right-bar-wrapper">
    <div class="right-bar-content-wrapper">
      <div class="right-bar-content">
        <slot/>
      </div>
    </div>
    <div class="bar-controller" @click="openRightBar = !openRightBar">
      <span :class="{'el-icon-arrow-left': !openRightBar, 'el-icon-arrow-right': openRightBar}" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'rightBar',
  props: {
    open: true,
  },
  data () {
    return {
      openRightBar: this.open
    }
  },
  watch: {
    openRightBar(v) {
      this.$emit('update:open', v)
    }
  }
}
</script>

<style lang="scss" scoped>
  .right-bar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #fff;
  }
  .right-bar-content-wrapper {
    position: relative;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: all .3s;
  }
  .right-bar-content {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 100%;
    width: 300px;
    overflow: hidden;
  }
  .bar-controller {
  position: absolute;
  left: -16px;
  top: 50%;
  margin-top: -20px;
  height: 30px;
  background: #c0c4cc;
  background: linear-gradient(to right, #c0c4cc, #909399);
  padding: 5px 0;
  cursor: pointer;
  color: #fff;
  border-radius: 3px 0 0 3px;
}
</style>