<template>
  <ul ref="wrapper">
    <li v-for="(v, i) in data">
      <div class="text" :style="{height: maxHeights[i] && maxHeights[i] > 72 ? heights[i] + 'px' : 'auto'}">
        <p class="paragraph">{{v.result}} <span v-show="heights[i] > maxHeight" class="close"  @click="handleClick(i, 1)">[收起]</span></p>
        <div v-show="heights[i] == maxHeight && maxHeights[i] && maxHeights[i] > 72" class="open"><em>...</em><span @click="handleClick(i)">[展开]</span></div>
      </div>
      <p style="text-align: right">{{v.acceptDeptName}}</p>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'BanLiJieGuo',
  data () {
    return {
      data: [],
      heights: [],
      maxHeight: 72,
      paragraphs: [],
      maxHeights: []
    }
  },
  computed: {
  },
  methods: {
    getData() {
      this.axios
        .post('archivesIn/findBljgHz', {id: JSON.parse(this.$route.query.params).id})
        .then(res => {
          if(res) {
            this.data = res.result;
            this.updateHeights()
          }
        })
    },
    updateHeights() {
      this.$nextTick(() => {
        this.paragraphs = this.$refs.wrapper.getElementsByClassName('paragraph');
        if(this.paragraphs[0]) {
          let timer = setInterval(() => {
            if(this.paragraphs[0].clientHeight > 0) {
              clearInterval(timer);
              for(let i = 0; i < this.paragraphs.length; i++) {
                this.heights.push(this.maxHeight);
                this.maxHeights.push(this.paragraphs[i].clientHeight)
              }
            }
          }, 300)
        }
      })
    },
    handleClick(i, isClose) {
      let h = isClose ? this.maxHeight : this.paragraphs[i].clientHeight;
      this.$set(this.heights, i, h)
    },
  },
  created() {
    this.getData()
  },
  updated() {
    /*if(this.flag) {
      this.updateHeights()
    }*/
  },
  wacth: {
    data: {
      deep: true,
      handler(v) {
        // this.updateHeights()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  ul {
    padding: 10px 20px;
    font-size: 12px;
    li {
      border-bottom: 1px dashed #dedede;
      margin-bottom: 10px;
      p:last-child {
        margin-bottom: 10px;
      }
    }
  }
  .text {
    text-indent: 2em;
    line-height: 2em;
    /*height: 6em;*/
    overflow: hidden;
    position: relative;
    transition: all .3s;
  }
  .close,
  .open span,
  .open em {
    cursor: pointer;
    background: #fff;
  }
  .close,
  .open span {
    color: #f56c6c;
  }
  .open {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0
  }
</style>