<template>
  <el-form v-if="$route.query.isChuanYue == 1" disabled class="publish-style form-disabled" ref="formData"inline>
    <el-form-item prop="title" class="w100" label="公文标题" >
      <el-input v-model="formData.title" />
    </el-form-item>
    <el-form-item prop="comingCode" class="w50" label="来文文号" >
      <el-input v-model="formData.comingCode" />
    </el-form-item>
    <el-form-item prop="comingDate" class="w50" label="来文时间" >
      <el-input v-model="formData.comingDate" />
    </el-form-item>
    <el-form-item prop="comingDeptName" class="w50" label="来文单位" >
      <el-input v-model="formData.comingDeptName" />
    </el-form-item>
    <el-form-item prop="inSort" class="w50" label="来文类型" >
      <el-input v-model="formData.inSort" />
    </el-form-item>
    <el-form-item v-if="documentType == 'bmsw' && formData.pdfId" class="w100" label="公文正文">
      <div class="box" >
        <p>
          <i class="icon el-icon-document"></i>{{formData.title}}.doc
          <span class="el-button el-button--default el-button--mini" style="margin: 5px" @click="handleEditDocument" size="mini">查看</span>
        </p>
      </div>
    </el-form-item>
    <el-form-item label="会签附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.id " isHQ />
      </div>
    </el-form-item>
    <el-form-item label="公文附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.id" />
      </div>
    </el-form-item>
    <el-form-item label="传阅范围" class="w100">
      <div class="box">
        {{readRange}}
      </div>
    </el-form-item>
  </el-form>
  <el-form v-else :rules="rules" class="publish-style clearfix" :disabled="viewType == 'view'" ref="formData" :class="{'form-disabled': viewType == 'view', 'link-hidden': linkHidden}" :model="formData" inline>
    <div class="first-line">
      <el-form-item v-if="!canBeSelected" class="w100" label="收文编号">
        <el-input disabled :value="formData.inNumber"/>
      </el-form-item>
      <div v-else class="w100 out_code clearfix">
        <el-form-item :rules="[{required: true, message: '请选择字号'}]" class="w65 fl" prop="inWord" label="字号">
          <el-select v-model="formData.inWord" @change="outWordChange">
            <el-option v-if="outWordOptions" v-for="(v, i) in outWordOptions" :label="v.text" :value="i" />
          </el-select>
        </el-form-item>
        <el-form-item class="w20 fl">
          <div class="el-input__inner" :title="formData.year">
            〔{{formData.year}}〕
          </div>
        </el-form-item>
        <el-form-item class="w15 fl" :title="formData.inNum">
          <el-input v-model="formData.inNum" />
        </el-form-item>
      </div>
     <!--  <el-form-item prop="inNum" class="w40 padding_left_7_5" label="收文编号">
       <el-input v-model="formData.inNum" />
     </el-form-item> -->
      <div class="right">
        <el-form-item prop="needGrade" class="padding_left_5" label="紧急程度">
          <el-select v-model="formData.needGrade">
           <el-option v-for="(v, i) in emergencyLevel" :label="v" :value="v" />
         </el-select>
        </el-form-item>
        <el-form-item class="padding_left_3" label="密级" >
          <el-select v-model="formData.secretGrade">
            <el-option v-for="(v, i) in secretLevel" :label="v" :value="v" />
          </el-select>
        </el-form-item>
        <el-form-item class="padding_left_5" label="保密期限"  >
          <el-input v-model="formData.saveLimitName" />
        </el-form-item>
      </div>
    </div>
    <el-form-item class="w100" label="公文标题" prop="title">
      <div class="el-input">
        <input type="text" v-model="formData.title" class="el-input__inner" @input="inputChange" />
      </div>
      <div class="input-box">
        <el-input v-model="formData.title" />
      </div>
    </el-form-item>
    <el-form-item class="w50" label="来文单位" >
      <el-input v-model="formData.comingDeptName" />
    </el-form-item>
    <el-form-item v-if="$route.query.document == 'bmsw'" class="w50" label="收文类型" >
      <!-- <el-select v-model="formData.inSort">
        <el-option v-for="(v, i) in ShouWen" :label="v" :value="v" />
      </el-select> -->
      <el-input disabled v-model="formData.inSort" />
    </el-form-item>
    <el-form-item class="w50" label="收文类型" >
      <el-select v-model="formData.inSort">
        <el-option v-for="(v, i) in ShouWen" :label="v" :value="v" />
      </el-select>
    </el-form-item>
    <el-form-item class="w50" label="来文文号" >
      <el-input v-model="formData.comingCode" />
    </el-form-item>
    <el-form-item class="w50" label="来文日期" >
      <el-input v-if="$route.query.documentType == 'bmsw'" v-model="formData.comingDate" disabled />
      <el-date-picker v-else v-model="formData.comingDate" type="date" placeholder="选择日期"  />
    </el-form-item>
    <el-form-item v-if="documentType == 'sw'" class="w100" label="主送领导" >
      <div class="box leaders">
        <span class="pointer link"  v-if="viewType != 'view'" @click="leaderDialog = true"><i class="icon el-icon-search"></i>选择主送领导</span>
        <div v-show="formData.zsldNames.length" class="names" v-text="formData.zsldNames.join(',')" :title="formData.zsldNames.join(',')"/>
      </div>
    </el-form-item>
    <el-form-item v-if="documentType == 'sw'" class="w50" label="主办单位" >
      <div class="box leaders">
        <span class="pointer link"  v-if="viewType != 'view'" @click="zhuBanDialog = true"><i class="icon el-icon-search"></i>选择主办单位</span>
        <div v-show="formData.zhsDept.length" class="names" v-text="formData.zhsDept.join(',')" :title="formData.zhsDept.join(',')"/>
      </div>
    </el-form-item>
    <el-form-item v-if="documentType == 'sw'" class="w50" label="协办单位" >
      <div class="box leaders">
        <span class="pointer link"  v-if="viewType != 'view'" @click="xieBanDialog = true"><i class="icon el-icon-search"></i>选择协办单位</span>
        <div v-show="formData.xbdwNames.length" class="names" v-text="formData.xbdwNames.join(',')" :title="formData.xbdwNames.join(',')"/>
      </div>
    </el-form-item>
    <el-form-item v-if="documentType == 'sw'" class="w50" label="阅知单位">
      <div class="box leaders">
        <span class="pointer link"  v-if="viewType != 'view'" @click="yueZhiDialog = true"><i class="icon el-icon-search"></i>选择阅知单位</span>
        <div v-show="formData.chsDept.length" class="names" v-text="formData.chsDept.join(',')" :title="formData.chsDept.join(',')"/>
      </div>
    </el-form-item>
    <el-form-item v-if="documentType == 'sw'" class="w50" label="阅知人员">
      <div class="box leaders">
        <span class="pointer link"  v-if="viewType != 'view'" @click="ZhiHuiDialogVisible = true"><i class="icon el-icon-search"></i>选择阅知人员</span>
        <div v-show="formData.yzryNames.length" class="names" v-text="formData.yzryNames.join(',')" :title="formData.yzryNames.join(',')"/>
      </div>
    </el-form-item>
    <el-form-item v-if="documentType == 'sw'" class="w50" label="提前抄送">
      <el-select v-model="formData.ifChs">
        <el-option :label="v" :value="v" v-for="(v, i) in ['是', '否']" />
      </el-select>
    </el-form-item>
    <el-form-item v-if="documentType == 'sw'" class="w50" label="是否上报">
      <el-select v-model="formData.ifSb">
        <el-option :label="v" :value="v" v-for="(v, i) in ['是', '否']" />
      </el-select>
    </el-form-item>
    <el-form-item v-if="documentType == 'sw'" class="w50" label="完成时限">
      <el-input v-model="formData.finishLimit" />
    </el-form-item>
    <el-form-item v-if="documentType == 'sw'" class="w50" label="上报要求">
      <el-input v-model="formData.sbDemind" />
    </el-form-item>
    <el-form-item v-if="documentType == 'bmsw' && !['收文', '部门收文'].includes(formData.inSort)" class="w100" label="公文正文">
      <div class="box">
        <p class="document-content">
          <span v-show="formData.title"><i class="icon el-icon-document" />{{formData.title}}.doc</span>
          <span class="view-button" @click="handlePreviewDocument" size="mini">查看</span>
          <!-- <span class="view-button" @click="handleDownload" size="mini">下载</span> -->
        </p>
      </div>
    </el-form-item>
    <el-form-item label="会签附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.id " isHQ />
      </div>
    </el-form-item>
    <el-form-item label="公文附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.inId" />
      </div>
    </el-form-item>
    <!-- <el-form-item label="关联文档" class="w100">
      <div class="box files">
        <el-button v-if="$store.state.permission == 'edit'" @click="documentDialog = true" :disabled="!(formData.outId || formData.inId)" icon="el-icon-search" size="mini" type="primary">选择关联文档</el-button>
        <div class="names">
          <p @click.self="DaiBanHandleClick(v, 'YiBan', true)" v-for="v in linkInfo">
            <i class="icon el-icon-document"></i>【{{v.poName}}】{{v.linkName}}
            <span class="el-icon-error" v-if="isCurrent && $store.state.permission == 'edit'" @click.self="handleDeleteLinkInfo(v)" />
          </p>
        </div>
      </div>
    </el-form-item> -->
    <el-form-item v-if="documentType == 'bmsw' && formData.bmswType == '交办' && ideaItems['原文领导批示'].length" class="w100" label="原文批示">
      <opinion :config="ideaItems['原文领导批示']" />
    </el-form-item>
   <!--  <el-form-item v-if="documentType == 'bmsw' && formData.bmswType == '交办' " class="w100" label="原文表单">
      <span @click="handleOpenResource" class="pointer link">打开原文表单</span>
    </el-form-item> -->
    <el-form-item v-if="documentType == 'bmsw' && formData.bmswType == '交办' && isResourceFile" class="w100" label="原文正文">
      <span @click="handleOpenResourceFile" class="pointer link">打开原文正文</span>
    </el-form-item>
    <el-form-item class="w100 words2" label="备注">
      <el-input
        type="textarea"
        :rows="2"
        placeholder="请输入内容"
        v-model="formData.memo"
         />
    </el-form-item>
    <el-form-item v-if="formData.ifYb != 1 && documentType == 'bmsw' && formData.bmswType == '交办' " class="w100" label="办理结果">
      <el-input
        type="textarea"
        :rows="2"
        placeholder="请输入内容"
        v-model="formData.result"
         />
    </el-form-item>
    <LeaderDialog
      :visible="leaderDialog"
      @update:visible="v => leaderDialog = v"
      @update:dept="v => {formData.zsldIds = v.ids; formData.zsldNames = v.names}"
      :checkedData="formData.zsldIds"
      />
    <unitsDialog
      :visible="zhuBanDialog"
      @update:visible="v => zhuBanDialog = v"
      @update:dept="v => {formData.zhsDept = v.names; formData.zhsDeptId = v.ids}"
      :checkedData="{ids: formData.zhsDeptId ,names: formData.zhsDept}"
     />
    <unitsDialog
      :visible="xieBanDialog"
      @update:visible="v => xieBanDialog = v"
      @update:dept="v => {formData.xbdwNames = v.names; formData.xbdwIds = v.ids}"
      :checkedData="{ids: formData.xbdwIds ,names: formData.xbdwNames}"
     />
     <!-- <unitsDialog
      :visible="laiWenDialog"
      @update:visible="v => laiWenDialog = v"
      @update:dept="v => {formData.comingDeptId = v.ids;formData.comingDeptName = v.names}"
      :checkedData="{ids: formData.comingDeptId ,names: formData.comingDeptName}"
     /> -->
     <unitsDialog
      :visible="yueZhiDialog"
      :checkedData="{ids: formData.chsDeptId ,names: formData.chsDept}"
      @update:visible="v => yueZhiDialog = v"
      @update:dept="v => {formData.chsDeptId = v.ids;formData.chsDept = v.names}"
     />
     <!-- 阅知 -->
     <zhiHuiDailog
      :visible="ZhiHuiDialogVisible"
      @update:visible="v => ZhiHuiDialogVisible = v"
      @update:data="v => {formData.yzryNames = v.names; formData.yzryIds = v.ids}" />
      <documentLinks
      :visible="documentDialog"
      @update:visible="v => documentDialog = v"
      @update:selection = "checkDocuments"
    />
  </el-form>
</template>

<script>
import LeaderDialog from '../publish/leader.vue'
import unitsDialog from '@/views/publish/unitsDialog.vue'
import documentLinks from  '@/views/publish/components/documentLinks.vue'
import uploadFile from '@/components/uploadFile/uploadFile'
import zhiHuiDailog from './yueZhiDialog.vue'
import opinion from '@/views/publish/components/opinion'
import initConfig from '@/views/publish/publish.baseInfo.js'
let config = initConfig({
  components: {
    LeaderDialog,
    uploadFile,
    unitsDialog,
    zhiHuiDailog,
    documentLinks,
    opinion
  },
  name: 'ShouWenbaseInfo',
  props: {
    documentType: {
      type: String,
      default: 'sw'
    },
    ideaItems: {
      type: [Array, Object],
      default: () => []
    }
  },
  data: {
    zhuBanDialog: false,
    xieBanDialog: false,
    // laiWenDialog: false,
    yueZhiDialog: false,
    ZhiHuiDialogVisible: false,
  },
  computed: {
    isResourceFile() {
      let a = ['b87d4e6482c1477fb9d5a4f6fb945dca', '4850606902604b36bb2daa082f22c3ef'];
      return a.includes(this.formData.yfileTypeId)
    }
  },
  methods: {
    handleDownload() {
      window.downloadmaintextpdf(this.formData)
    },
    handleOpenResourceFile(){
      window.readMainBody()
    },
    handleOpenResource() {
      let d = this.formData;
      /*let query = {
        from: 'YiBan',
        viewType: 'view',
        params: encodeURIComponent(JSON.stringify({
          fileTypeId: d.yfileTypeId,
          id: d.yInd,
          workitemid: '',
        }))
      }
      let url = this.setEncodeUrl('#/newWindow/ShouWen', query);
      console.log(url)
      window.open(url, '_blank')*/
      
      this.indexHandleClick({
        fileTypeId: d.yfileTypeId,
        inId: d.yinId,
        id: '',
        isNew: '1'
      }, 'YiBan', true)
    },
  }
});

export default config

</script>

<style lang="scss" scoped>
@import '../publish/baseInfo.scss';
.first-line .right .el-form-item {
  width: 33.3%
}
/deep/ {
  .items dd > div {
    border-color: #ddd;
  }
  dl.items {
    border-bottom: 1px solid #f56c6c;
    &,
    dd {
      margin: 0;
    }
  }
}
</style>