<template>
  <publish-temp class="wrapper" :tool-bar="toolBar" :formData="formData" :title="$route.query.isChuanYue == 1 ? tempTitle : title">
    <!-- 基本信息 -->
    <template slot="baseInfo">
      <baseInfo
        :ideaItems="ideaItems"
        :documentType="documentType"
        ref="base"
        @update:validate="v => formValidate = v"
        @update:formData="updateFormData"
        :data="formData"
        :checkValidate="checkValidate"
        @update:checkValidate="v => checkValidate = v"
      />
    </template>
    <!-- 审核签批意见 start -->
   <!--  <template slot="pfyj">
     <opinion :config="ideaItems['批分意见']" />
   </template> -->
    <!-- 审核签批意见 start -->
    <!-- <template slot="shqpyj">
      <opinion :config="ideaItems['审批意见-收文']" />
    </template> -->
    <template slot="shqpyj">
      <ShenHeQianPiYiJian labelWidth="5em" :config="sConfig" />
    </template>
    <!-- 部门收文 start -->
    <!-- <template slot="ywldps">
      <opinion :config="ideaItems['原文领导批示']" />
    </template> -->
    <template slot="blyj">
      <opinion :config="ideaItems['办理意见']" />
    </template>
    <!-- 交办记录 start -->
    <template slot="jbjl">
      <FenFaJiLu />
    </template>
    <!-- 流程跟踪 start -->
    <template slot="lcgz">
      <LiuChengGenZong />
    </template>
    <!-- 知会记录 start -->
    <template slot="zhjl">
      <ZhiHuiJiLu />
    </template>
    <!-- 知会记录 start -->
    <template slot="bljg">
      <BanLiJieGuo />
    </template>
    <template slot="rightBar">
      <rightbarTemp
        :baseForm="baseForm"
        :formValidate="formValidate"
        :data="formData"
        @update:formData="updateFormData"
        :checkValidate="checkValidate"
        @update:checkValidate="v => checkValidate = v"
      />
    </template>
  </publish-temp>
</template>

<script>
import publishTemp from '@/views/newWindow/components/publish/publish'
import rightbarTemp from '@/views/newWindow/components/publish/components/rightBarContent'
import LiuChengGenZong from '@/views/publish/LiuChengGenZong.vue'
import ZhiHuiJiLu from '@/views/publish/ZhiHuiJiLu.vue'
import opinion from '@/views/publish/components/opinion'
import FenFaJiLu from '@/views/publish/FenFaJiLu.vue'
import BanLiJieGuo from '@/views/ShouWen/BanLiJieGuo.vue'
import ShenHeQianPiYiJian from '@/views/publish/components/ShenHeQianPiYiJian'
import method from '@/views/publish/publish.methods.js'
import { data } from '@/views/publish/publish.data.js'
import baseInfo from './baseInfo'
import formData from './formData.js'

let methods = {};
for(let i in method) {
  methods[i] = method[i]
}
export default {
  name: 'ShouWen',
  components: {
    publishTemp,
    rightbarTemp,
    LiuChengGenZong,
    ZhiHuiJiLu,
    baseInfo,
    opinion,
    FenFaJiLu,
    BanLiJieGuo,
    ShenHeQianPiYiJian
  },
  data() {
    //Object.assign(JSON.parse(JSON.stringify(data())), JSON.parse(JSON.stringify({formData})))
    return Object.assign(vm.copyObj(data()), vm.copyObj({formData}), {
      title: '收文处理单',
      toolBar: [
        /*{
          title: '批分意见',
          id: 'pfyj',
          icon: 'el-icon-edit',
        },
        {
          title: '审批意见',
          id: 'shqpyj',
          icon: 'el-icon-edit'
        },*/
        {
          title: '审核签批意见',
          id: 'shqpyj',
          icon: 'el-icon-edit'
        },
        {
          title: '办理结果',
          id: 'bljg',
          icon: 'el-icon-date'
        },
        {
          title: '流程跟踪',
          id: 'lcgz',
          icon: 'el-icon-date'
        },
        {
          title: '知会记录',
          id: 'zhjl',
          icon: 'el-icon-date'
        },
        {
          title: '交办记录',
          id: 'jbjl',
          icon: 'el-icon-date'
        },
      ],
      sConfig: {

      },
    })
  },
  computed: {
    documentType() {
      return this.$route.query.documentType || 'sw'
    }
  },
  watch: {
    formData: {
      deep: true,
      handler(v) {
        window.formData = v
      }
    }
  },
  methods: Object.assign(methods, {
    getFormData(){
      let params = JSON.parse(this.$route.query.params)
      let wjType = this.$route.query.documentType || 'sw';
      return new Promise((resolve, reject) => {
        this.axios
          .get('archivesIn/getInfoById', {params: {id: params.id, wjType}})
          .then(res => {
            if(res) {
              // this.afterGetFormData(res.result)
              this.formData = this.formatePublishFormData(res.result, 'Array');
              if(this.viewType == 'view') {
                this.$nextTick(() => {
                  this.clearPlaceholders()
                })
              }
              resolve(res.result)
            }
          })
      })
    },
    afterGetFormData(res) {
      /**
      * this.getFormData()异步请求成功后的回调
      * @params res {Object}formData数据
      * 设置页面中title、toolBar ideaItems
      * @return {void}
      * @author cheng_xiaona 2019-05-15
      */
      /*let t = '收文处理单'
      this.documentType = vm.$route.query.documentType || 'sw';
      let result = {
        title: '办理结果',
        id: 'bljg',
        icon: 'el-icon-edit'
      };
      switch(this.documentType) {
        case 'bmsw':
          t = '部门收文处理单';
          this.ideaItems = {
            "审批意见-收文": [{
              text: '办理意见',
              code: 'NGHJ_',
              data: []
            }],
            "原文领导批示": [
              {
                text: '原文领导批示',
                code: 'JTLD_SP_YJ',
                data: [],
                ideaName: {
                  recordId: 'yinId',
                  fileTypeId: 'yfileTypeId'
                }
              }
            ]
          }
          this.toolBar.push({
            title: '交办记录',
            id: 'jbjl',
            icon: 'el-icon-date'
          })
          this.toolBar.splice(0, 1)
          this.toolBar.splice(1, 1)
          this.toolBar[0].title = "办理意见";
          if(res.bmswType == '交办') {
            this.toolBar.splice(1, 0, {
              title: '原文领导批示',
              id: 'ywldps',
              icon: 'el-icon-edit',
              show: true
            })
          }
          break;
        case 'sw':
          this.toolBar.splice(2, 0, result)
          this.ideaItems = {
            "审批意见-收文": [{
              text: '审批意见',
              code: 'JTLD_SP_YJ',
              data: []
            }],
            "批分意见": [{
              text: '批分意见',
              code: 'BGT_LD_YJ',
              data: [],
            }]
          }
          this.toolBar.push(result)
          break
      }
      this.title = t;*/
      /*if(res.bmswType == '交办' && this.documentType == 'bmsw') {
        this.toolBar.splice(1, 0, {
          title: '原文领导批示',
          id: 'ywldps',
          icon: 'el-icon-edit',
          show: true
        })
      }*/
    },
    getInitInfo() {
      return new Promise((resolve, reject) => {
        this.axios
          .get('archivesIn/create', {params: {wjType: this.documentType}})
          .then(res => {
            if(res) {
              this.formData = Object.assign(this.formData, res.result)
              resolve(res.result)
            } else {
              reject(res)
            }
          })
          .catch(err => {
            reject(err)
          })
      })
    },
    setPageConfig() {
      // this.documentType = this.$route.query.documentType || 'sw';
      let t = '收文处理单'
      switch(this.documentType) {
        case 'bmsw':
          t = '部门收文处理单';
          this.toolBar = [
            {
              title: '办理意见',
              id: 'blyj',
              icon: 'el-icon-date'
            },
            {
              title: '流程跟踪',
              id: 'lcgz',
              icon: 'el-icon-date'
            },
            {
              title: '知会记录',
              id: 'zhjl',
              icon: 'el-icon-date'
            }
          ]
          this.ideaItems = {
            "办理意见": [{
              text: '办理意见',
              code: 'NGHJ_',
              data: []
            }],
            "原文领导批示": [
              {
                text: '原文领导批示',
                code: 'JTLD_SH_YJ',
                data: [],
                ideaName: {
                  recordId: 'yinId',
                  fileTypeId: 'yfileTypeId'
                }
              }
            ]
          }
          /*this.toolBar.splice(0, 1)
          // this.toolBar.splice(1, 1)
          this.toolBar[0].title = "办理意见";*/
          /*this.sConfig = {
            '原文领导批示': {
              code: 'JTLD_SH_YJ'
            },
            '办理意见': {
              code: 'NGHJ_',
            }
          }*/
          break;
        case 'sw':
        /*
          this.toolBar.splice(2, 0, {
            title: '办理结果',
            id: 'bljg',
            icon: 'el-icon-edit'
          })
          this.toolBar.push({
            title: '交办记录',
            id: 'jbjl',
            icon: 'el-icon-date'
          })
          this.ideaItems = {
            "审批意见-收文": [{
              text: '审批意见',
              code: 'JTLD_SH_YJ',
              data: []
            }],
            "批分意见": [{
              text: '批分意见',
              code: 'BGT_LD_YJ',
              data: [],
            }]
          }*/
          this.sConfig = {
            '审批意见': {
              code: 'JTLD_SH_YJ',
            },
            "批分意见": {
              code: 'BGT_LD_YJ',
            }
          }
          break
      }
      this.title = t;
    }
  }),
  created() {
    // (1 阅件 || 办件)
    this.init(null, [this.setPageConfig])
      .then(res => {
        if(this.$route.query.documentType == 'bmsw') {
          this.title+= '(' + (res.ifYb == 1 ? '阅件' : '办件') + ')';
        }
      })
  },
  mounted() {
    this.baseForm = this.$refs.base.$children[0]
  },
  actived() {
  }
}
</script>
<style scoped lang="scss">
@import '../publish/publish.scss';
.result {
  p {
    padding: 10px 0 0 10px;
    b,
    span{
      line-height: 20px;
      display: block;
    }
    b {
      color: #3a8ee6;
      font-weight: bold;
    }
  }
}
</style>