.dialog-box {
  height: 500px
}
.left,
.right {
  height: 100%;
  border: 1px solid #eee;
  box-sizing: border-box;
  position: relative;
}
.el-scrollbar {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.left {
  width: 69%;
  float: left;
}
.right {
  width: 29%;
  float: right;
}
.content {
  padding: 10px;
  &>div {
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 2em;
    .control {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      color: #dd6161;
      transition: all .3s;
    }
    &:hover {
      .control {
        opacity: 1;
      }
    }
  }
}
.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  line-height: 40px;
  padding: 0 10px;
  background: #efefef;
}
.btns {
  text-align: center;
  padding: 10px;
}
.actived {
  color: teal;
  border-color: #b3d9d9;
  background-color: #e6f2f2;
}
/deep/ {
  .el-dialog__header {
    display: none
  }
}
.top {
  position: relative;
  padding-left: 170px;
  margin-bottom: 4px;
  .btn {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.search {
  position: relative;
  width: 100%;
  height: 28px;
  .el-input {
    line-height: 28px;
  }
  /deep/ {
    .el-input__inner {
      box-sizing: border-box;
      padding-right: 20px;
      border: 1px solid #f2f6fc;
      border-radius: 3px;
      width: 100%;
      line-height: 28px;
      height: 28px;
      &:focus {
        border-color: #339999;
      }
    }
  }
  .el-icon-search {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -6px;
    cursor: pointer;
  }
}
.right,
.member-box {
  position: relative;
  padding-top: 40px;
}
.member-box {
  height: 250px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  .title {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
  }
}
.el-dialog {
  height: 80%;
  min-height: 500px;
  overflow: hidden;
}