<template>
  <div class="yueZhiDialog">
    <el-dialog
    width="600px"
    top="10px"
    append-to-body
    center
     :visible.sync="dialogVisible"
     >
      <div class="top">
        <div class="btn">
          <el-button size="mini" :class="{actived: name == 1}" @click="name = 1">本部门</el-button>
          <el-button v-if="$route.query.documentType != 'bmsw'" size="mini" :class="{actived: name == 2}" @click="name = 2">所有部门</el-button>
        </div>
        <div class="search">
          <!-- <el-input placeholder="搜索" v-model="searchText" />
          <span class="el-icon-search" /> -->
        </div>
      </div>
      <div class="dialog-box clearfix">
        <div class="left">
          <div class="member-box">
            <div class="title">请选择阅知人员</div>
            <el-scrollbar>
              <div class="content" v-show="name == 2">
                <el-tree
                  :expand-on-click-node="false"
                  accordion
                  ref="zTree"
                  node-key="id"
                  @current-change="currentChange"
                  :load="loadZhiHuiNode" lazy
                  :props="{label: 'ownname', isLeaf: 'isLeaf'}">
                  <div style="display: inline-block;" slot-scope="{ node, data }">
                    <div class="el-checkbox tree" v-if="data.isLeaf">
                      <span class="el-checkbox__input" :class="{'is-checked': checkedNodes.find(v => v.ownname == data.ownname)}">
                        <span class="el-checkbox__inner" />
                      </span>
                    </div>
                    <span :class="{'el-icon-menu': !data.isLeaf, 'el-icon-s-custom': data.isLeaf}" />{{data.ownname}}
                  </div>
                </el-tree>
              </div>
              <div class="content" v-show="name == 1">
                <el-tree
                  accordion
                  ref="zTree"
                  node-key="id"
                  :expand-on-click-node="false"
                  @current-change="currentChange"
                  :load="loadCurrentNode" lazy
                  :props="{label: 'ownname', isLeaf: 'isLeaf'}">
                  <div style="display: inline-block;" slot-scope="{ node, data }">
                    <!-- <span :class="{'el-icon-menu': !data.isLeaf, 'el-icon-s-custom': data.isLeaf}" />{{data.ownname}} -->
                    <div class="el-checkbox tree" v-if="data.isLeaf">
                      <span class="el-checkbox__input" :class="{'is-checked': checkedNodes.find(v => v.ownname == data.ownname)}">
                        <span class="el-checkbox__inner" />
                      </span>
                    </div>
                    <span :class="{'el-icon-menu': !data.isLeaf, 'el-icon-s-custom': data.isLeaf}" />{{data.ownname}}
                  </div>
                </el-tree>
              </div>
            </el-scrollbar>
          </div>
          <div class="member-box">
            <div class="title">
              <span v-if="members.length" class="pointer" @click="updateMemebers(members)">全选</span>
              <span v-else>暂无选项</span>
            </div>
            <el-scrollbar>
              <ul class="content" >
                <li @click="updateMemebers([v])" class="pointer" v-for="v in members" v-show="!checkedNodes.find(vv => vv.ownname == v.ownname)"> {{v.ownname}}</li>
              </ul>
            </el-scrollbar>
          </div>
        </div>
        <div class="right">
          <div class="title">
            已选择
          </div>
          <el-scrollbar>
            <div class="content">
              <div v-if="checkedNodes.length > 0" :title="v.ownname" v-for="(v, i) in checkedNodes">
                <span class="el-icon-s-custom" />{{v.ownname}}
                <div class="control">
                  <span title="向上排序" v-show="i > 0" class="down el-icon-top sort" @click="handleSort(v, i, 1)" />
                  <span title="向下排序" v-show="i < checkedNodes.length - 1" class="down el-icon-bottom" @click="handleSort(v, i, -1)" />
                  <span class=" el-icon-close" @click="handleDelete(v, i)" />
                </div>
              </div>
              <div v-else>
                暂未选择！
              </div>
            </div>
          </el-scrollbar>
        </div>
      </div>
      <div class="btns">
        <el-button size="mini" @click="dialogVisible = false">关闭</el-button>
        <el-button size="mini" :disabled="checkedNodes.length == 0" type="primary" @click="handleClick">确认</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import CheckGroups from '@/components/checkGroups'
import axios from 'axios'
export default {
  name: 'yueZhiDialog',
  components: {
    CheckGroups
  },
  props: {
    visible: {
      default: false,
      type: Boolean
    },
    from: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      dialogVisible: this.visible,
      filterText: '',
      checkedNodes: [],
      name: 1,
      searchText: null,
      members: [],
      cancel: null
    }
  },
  methods: {
    updateMemebers(v) {
      let a = Array.from(this.checkedNodes);
      console.log(v)
      v.forEach(vv => {
        if(!a.find(v => v.ownid == vv.ownid)) {
          this.checkedNodes.push(vv)
        }
      })
    },
    nodeExpand(data, node, self) {
      console.log('node expand', data, node, self)
      if(node.childNodes.length) {
        this.setNodes(node.childNodes)
      }
    },
    filterNode(value, data) {
        if (!value) return true;
        return data.label.indexOf(value) !== -1;
      },
    nodeClick(data, node, self) {
      console.log('nodeClick', data, node, self)
    },
    setNodes(data) {
      let depts = [], members = [];
      data.forEach(v => {
        let isLeaf = v.isLeaf;
        let d = v;
        if(v.childNodes) {
          isLeaf = v.data.isLeaf;
          d = v.data;
        }
        isLeaf ? members.push(d) : depts.push(d)
      });
      (members.length) && (this.members = members);
    },
    getChildrenNodes(data, resolve) {
        // .post('jgzinfo/getChildrenBySend', node)
      // (this.cancel) && (this.cancel('取消上一个请求'));
      let CancelToken = axios.CancelToken
      this.axios({
        method: 'POST',
        url: "jgzinfo/getChildrenBySend",
        data,
        cancelToken: new CancelToken(c => this.cancel = c)
      })
        .then(res => {
          if(res) {
            this.setNodes(res.result)
            resolve(res.result)
          }
        })
    },
    getPrentNodes(url, resolve) {
      this.axios
        .get(url)
        .then(res => {
          if(res) {
            resolve(res.result)
          }
        })
    },
    loadZhiHuiNode(node, resolve) {
      if(node.level == 0) {
        this.getPrentNodes('jgzinfo/getChildrenNodes', resolve)
      } else {
        this.getChildrenNodes(node.data, resolve)
      }
    },
    loadCurrentNode(node, resolve) {
      if(node.level == 0) {
        this.getPrentNodes('jgzinfo/getNowDeptInfo', resolve)
      } else {
        this.getChildrenNodes(node.data, resolve)
      }
    },
    handleClick() {
      let ids = [], names = [];
      if( this.checkedNodes != null ) {
        this.checkedNodes.forEach(v => {
          ids.push(v.ownid);
          names.push(v.ownname)
        })
      }
      this.$emit('update:data', {ids, names})
      this.from == 'ZhiHui' ? this.$emit('update:isZhiHui',this.checkedNodes) : this.$emit('update:data', {ids, names});
      this.dialogVisible = false
    },
    currentChange(data, node) {
      console.log('currentChange', data, node, self)
      if(data.isLeaf) {
        this.checkedNodes.find(v => v.ownid == data.ownid) ? this.handleDelete(data) : this.checkedNodes.push(data);
      } else {
        node.childNodes.length ? this.setNodes(node.childNodes) : this.getChildrenNodes(data, () => {})
      }
      console.log(this.checkedNodes)
    },
    handleDelete(option) {
      let i = this.checkedNodes.findIndex(v => v.ownid == option.ownid);
      this.checkedNodes.splice(i, 1)
      this.$refs.zTree.setChecked(option, false, true)
    },
    handleSort(data, i, type) {
      type = type || 1;
      let n = i - type
      console.log(i, n)
      let copy = JSON.parse(JSON.stringify(this.checkedNodes[n]));
      this.checkedNodes[n] = data;
      this.checkedNodes[i] = copy;
      this.$set(this.checkedNodes, n, data)
      this.$set(this.checkedNodes, i, copy)
    },
  },
  watch: {
    dialogVisible(v) {
      this.$emit('update:visible', v)
    },
    visible(v) {
      this.dialogVisible = v
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'yueZhiDialog.scss';
/deep/ {
  .el-checkbox.tree {
    margin-right: 6px;
  }
  .el-tree-node__content {
    text-align: left
  }
}
.dialog-box {
  .content {
    text-align: left
  }
}

</style>