<template>
  <el-submenu v-if="data.sonResourceList && data.sonResourceList.length" :index="data.modelId">
    <template slot="title">
      <i v-if="showIcon" :class="data.icon"></i>
      <span slot="title" v-text="data.modelName" />
    </template>
    <el-menu-item-group v-for="(v, i) in data.sonResourceList">
      <el-submenu v-if="v.sonResourceList && v.sonResourceList.length" v-for="(c, n) in v.sonResourceList" :index="v.modelId || i + 1 + ''">
        <template slot="title">{{v.modelName}}</template>
        <el-menu-item  @click="handleClick({url: c.modelUrl, id: c.modelId, activeMenu: v, current: c})" :index="c.modelId || i + 1 + '-' + n">{{c.modelName}}</el-menu-item>
      </el-submenu>
      <el-menu-item v-if="!v.sonResourceList || !v.sonResourceList.length" :class="{'is-active': $store.state.activeId == v.modelId}" @click="handleClick({url: v.modelUrl, id: v.modelId, activeMenu: data, current: v})" :index="v.modelId || i + 1 + ''">
        <i v-if="showIcon" :class="v.icon" />
        <span slot="title" v-text="v.modelName" />
      </el-menu-item>
    </el-menu-item-group>
  </el-submenu>
  <el-menu-item :index="data.modelId" @click="handleClick({url: data.modelUrl, id: data.modelId,current: data, activeMenu: data || []})" v-else>
    <i v-if="showIcon" :class="data.icon"></i>
    <span slot="title" v-text="data.modelName" />
  </el-menu-item>
</template>

<script>
export default {
  name: 'createMenuItem',
  props: {
    showIcon: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object,
      default: () => {
        return {
          text: '创建导航'
        }
      }
    },
    index: {
      type: [Number, String],
      default: 0
    },
  },
  data () {
    return {
      
    }
  },
  methods: {
    selctHandle(index, path) {
    },
    handleClick({url, id, activeMenu, current}) {
      if(url.includes('newWindow/')) {
        window.open(url, '_blank')
        return;
      }
      if(current.isNew && current.isNew == 1) {
        this.$router.push(url)
      } else {
        this.$store.commit('SET_URL', url);
      }
      if(this.showIcon) {
        this.$store.commit('SET_ACTIVEID', 'indexMenu')
        return
      }
      this.$store.commit('SET_ACTIVEID', id)
      this.$store.commit('SET_ACTIVEMENU', activeMenu);
    },
  }
}
</script>

<style lang="scss" scoped>
  /deep/ .iconfont {
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
  }
  /deep/ .el-menu-item-group__title {
    display: none
  }
  .el-menu-item {
    line-height: 24px;
    height: 24px;
  }

</style>