<template>
  <div class="wrapper position-r" v-if="$store.state.menu" :class="{close: isCollapse}">
    <el-scrollbar>
      <div class="menu" v-if="activeId == 'index' || activeId == 'indexMenu'">
        <dl v-for="v in indexMenu">
          <dt :class="{actived: activeIndex == v.modelId}" @click="handleClickTd(v)">
            <span class="icon" :class="v.icon || 'el-icon-star-on'" />
            {{v.modelName}}
            <span :data-height="length(v.sonResourceList)" @click="handleSetState" v-if="v.sonResourceList && length(v.sonResourceList)" class="el-icon-arrow-up"></span>
          </dt>
          <dd v-show="v.sonResourceList" :style="{height: length(v.sonResourceList) * 32 + 'px'}">
            <p @click="handleClickIndex(c)" v-for="c in v.sonResourceList" :class="{actived: activeIndex == c.modelId}"><span class="icon" :class="c.icon || 'el-icon-menu'" />{{c.modelName}}</p>
          </dd>
        </dl>
      </div>
      <div class="menu" v-else>
        <dl>
          <dt>
            <span class="icon" :class="$store.state.activeMenu.modelName.icon || 'el-icon-menu'" />
            {{$store.state.activeMenu.modelName}}
          </dt>
          <dd>
            <p @click="handleClick(c, '1')" :class="{actived: activeId == c.modelId}" v-for="c in $store.state.activeMenu.sonResourceList"><span class="icon" :class="c.icon || 'el-icon-star-on'" />{{c.modelName}}</p>
          </dd>
        </dl>
      </div>
    </el-scrollbar>
    <div class="btn" @click="handleBtnClick">
      <span v-if="!isCollapse" class="el-icon-arrow-left" />
      <span v-else class="el-icon-arrow-right" />
    </div>
  </div>
</template>
<style scoped lang="scss">
  .btn {
    position: absolute;
    top: 50%;
    right: -12px;
    width: 1em;
    word-break: break-all;
    background: #fff;
    box-shadow: 6px 5px 9px #ddd;
    height: 30px;
    margin-top: -15px;
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;
  }
  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    transition: all .3s;
  }
  .close {
    width: 0;
    .el-scrollbar {
      opacity: 0
    }
  }
  .el-scrollbar {
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), #fff);
    background: #fff;/*ie9*/
    box-shadow: 1px 1px 10px #ccc;
    transition: all .3s;
    &.open {
      width: 200px
    }
  }
  .actived {
    color: #e6a23c;
  }
  dl {
    cursor: pointer;
  }
  dd {
    transition: all .3s;
    overflow: hidden;
    p {
      line-height: 2em;
      padding-left: 25px;
    }
  }
  dt {
    padding: 0 10px;
    line-height: 2.5em;
    position: relative;
    &.close {
      width: auto
    }
    .el-icon-arrow-up {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -8px;
      transition: all .3s;
      color: #ddd;
    }
    &.close {
      .el-icon-arrow-up {
        transform: rotate(180deg);
      }
    }
  }
  .icon {
    margin-right: .5em;
  }
</style>

<script>
import menuItem from './createMenuItem.vue'
import {mapState} from 'vuex'
export default {
  name: 'vMenu',
  components: {
    menuItem
  },
  props: {
    open: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      isCollapse: !this.open,
      loading: false,
      activeIndex: null,
      defaultOpen: [],
      indexMenu: [{
        "modelName": "新建事项",
        "icon": "el-icon-tickets",
        "modelId": "0001",
        "sonResourceList": [
          {
            "modelName": "新建协同",
            "modelUrl": "/archives/archivesGZXTDAction.do?method=create&saveType=5&isbig=false&flowname=206037608&flowtypeName=工作协调单",
            "icon": "el-icon-share",
            "modelId": "0002"
          },
          {
            "modelName": "新建发文",
            "modelUrl": "/newWindow/publish",
            "icon": "el-icon-document",
            "modelId": "0003",
            isNew: '1'
          },
          {
            "modelName": "新建签报",
            "modelUrl": "/newWindow/QianBao",
            "icon": "el-icon-document",
            "modelId": "0004",
            isNew: '1'
          },
          {
            "modelName": "新建白头文",
            "modelUrl": "/newWindow/BaiTouWen",
            "icon": "el-icon-document",
            "modelId": "0005",
            isNew: '1'
          }
        ]
      },
      {
        "modelName": "综合查询",
        "icon": "el-icon-search",
        "modelId": "0006",
        "sonResourceList": [
          {
            "modelName": "公文查询",
            "modelUrl": "/Search",
            "icon": "el-icon-star-on",
            "modelId": "0007",
            isNew: '1'
          },
          {
            "modelName": "协同查询",
            "modelUrl": "/jsp/more/more_ybxt_new.jsp",
            "icon": "el-icon-share",
            "modelId": "0008"
          },
          {
            "modelName": "合同查询",
            "modelUrl": "/jsp/more/more_ybht_new.jsp",
            "icon": "el-icon-document",
            "modelId": "0009"
          },
          {
            "modelName": "历史数据查询",
            "modelUrl": "/jsp/common/associateHistoryRecord.jsp?statetype=sign",
            "icon": "el-icon-date",
            "modelId": "00010"
          }
        ]
      },
      {
        "modelName": "通讯录",
        "modelUrl": "/jsp/module/generalwork/dwtxl/dwtxl_tree_view.jsp",
        "icon": "el-icon-phone-outline",
        "modelId": "00011"
      },
      {
        "modelName": "日程安排",
        "modelUrl": "/jsp/module/person/calendar/person_plan_more.jsp",
        "icon": "el-icon-date",
        "modelId": "00012"
      }],
    };
  },
  methods: {
    length(v) {
      return Array.from(new Set(v)).length
    },
    setUrl(v) {
      if(v.isNew && v.isNew == 1) {
        this.$router.push(v.modelUrl)
        this.$store.commit('SET_ACTIVEID', 'index');
        this.activeIndex = null;
      } else {
        this.$store.commit('SET_URL', v.modelUrl)
      }
    },
    handleClick(v) {
      /*if(v.modelUrl.includes('#/Search')) {
        window.open
        return;
      }*/
      this.$store.commit('SET_ACTIVEID', v.modelId);
      this.setUrl(v)
      this.activeIndex = null;
    },
    handleClickIndex(v) {
      this.activeIndex = v.modelId;
      this.$store.commit('SET_ACTIVEID', 'indexMenu');
      this.setUrl(v)
    },
    handleSetState(e) {
      let current = e.target;
      let h = current.getAttribute('data-height');
      let parent = current.parentNode
      let dd = parent.nextSibling;
      let isOpen = !parent.className.includes('close');
      if(isOpen) {
        parent.className = 'close';
        dd.style.height = 0
      } else {
        parent.className = '';
        dd.style.height = h * 32 + 'px'
      }
    },
    handleClickTd(v) {
      if(!v.sonResourceList) this.handleClickIndex(v);
    },
    handleBtnClick() {
      this.isCollapse = !this.isCollapse;
      this.$emit('update:open', !this.isCollapse)
    }
  },
  created() {
  },
  computed: {
    activeId() {
      this.loading = true;
      this.loading = false
      return this.$store.state.activeId
    },
    parentId() {
      return this.$store.state.activeMenu
    },
  },
  watch: {
    isCollapse(v) {
      this.$emit('update:open', !v);
    },
    parentId: {
      deep: true,
      handler(v) {
        this.isCollapse = true;
        this.$nextTick(() => {
          this.isCollapse = false;
        })
      }
    },
    activeId(v) {
      this.activeIndex = null
    },
    
  }
}
</script>