<template>
  <div class="menu-wrapper" :class="{overflow: btnsShow}">
    <div class="out-wrapper" ref="wrapper">
      <div class="menu-out">
        <div class="div" ref="menu" :style="{'margin-left': marginLeft + 'px'}">
          <el-menu v-if="$store.state.menu" class="menu" default-active="index" mode="horizontal">
            <el-menu-item @click="$store.commit('SET_ACTIVEID', 'index')" index="index">
              <span slot="title" v-text="'首页'" />
            </el-menu-item>
            <menu-item :data="v" :index="v.modelId" v-for="(v, i) in $store.state.menu" />
          </el-menu>
        </div>
      </div>
    </div>
    <div @click="handelScroll(-1)" :class="{disabled: marginLeft == maxLeft}" class="btn el-icon-arrow-right" />
    <div @click="handelScroll(1)" :class="{disabled: marginLeft == 0}" class="btn el-icon-arrow-left" />
  </div>
</template>

<script>
import menuItem from './createMenuItem.vue'
import {mapActions, mapState} from 'vuex'
export default {
  name: 'vNav',
  components: {
    menuItem
  },
  data () {
    return {
      menus: null,
      btnsShow: false,
      marginLeft: 0,
      maxLeft: 0
    }
  },
  methods: {
    ...mapActions(['getMenuData']),
    handleClick(id) {
      this.$store.commit('updateMenuId', id)
    },
    computedWidth() {
      let menuWidth = this.$refs.menu.clientWidth;
      let warpperWidth = this.$refs.wrapper.clientWidth;
      this.maxLeft = warpperWidth - menuWidth - 30;
      this.btnsShow = this.maxLeft < 0;
    },
    handelScroll(n) {
      let l = this.marginLeft;
      l+= n * 200;
      (l > 0) && (l = 0);
      (l < this.maxLeft) && (l = this.maxLeft);
      this.marginLeft = l;
    }
  },
  created() {
    this.getMenuData()
      .then(res => {
        this.$nextTick(() => {
          this.computedWidth()
        })
      })
  },
  mounted() {
  }
}
</script>

<style lang="scss" scoped>
.menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding-right: 260px;
  border-bottom: 1px solid #ddd;
  height: 40px;
  background: #f5f7fa;
  &.overflow {
    padding: 0 282px 0 18px;
    .btn {
      display: block
    }
  }
}
.menu-out {
  position: relative;
  top: 0;
  left: 0;
  width: 3000px;
  &>div {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
  }
}
.el-menu {
  background: none;
  border: none;
}
.out-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.btn {
  position: absolute;
  top: 0;
  line-height: 40px;
  cursor: pointer;
  border-right: 1px solid #ddd;
  display: none;
  &:hover {
    background: #e6f2f2;
  }
  &.disabled {
    background: #eee;
    cursor: not-allowed;
    color: #c0c4cc;
    :hover {
      background: #eee;
    }
  }
  &.el-icon-arrow-right {
    right: 260px;
    border-left: 1px solid #ddd;
  }
  &.el-icon-arrow-left {
    left: 0;
  }
}

</style>