<template>
  <div style="display: inline-block;" v-if="onlyUpload">
    <input ref="uploadBtn" style="display: none" type="file" name = "file" id = "fileId" />
    <el-button style="margin-bottom: 0" v-if="permission == 'edit'" @click="selectFiles" :disabled="!id || disabled" :size="buttonSize" :type="buttonType">{{buttonText}}</el-button>
    <span class="tip" v-if="tipShow" v-show="!id && !disabled"> <b>*</b>{{tip}}</span>
  </div>
  <div v-loading="loading" v-else>
    <input ref="uploadBtn" style="display: none" type="file" name = "file" id = "fileId" />
    <el-button v-if="permission == 'edit'" @click="selectFiles" :disabled="!id || disabled" :size="buttonSize" :type="buttonType">{{buttonText}}</el-button>
    <span class="tip" v-show="!id && !disabled && permission == 'edit'" v-if="tipShow"> <b>*</b>{{tip}}</span>
    <ul>
      <li class="flex" v-for="v in uploadList">
        <span class="el-icon-document"></span>
        <div :title="v.name"  @click="onPreview(v)">{{v.name}}</div>
        <span  v-if="v.error" @click="uploadFile(v, true)" class="error"><em class="el-icon-warning" />上传失败，点击重新上传</span>
        <el-progress :stroke-width="3" text-inside v-if="!v.error" :percentage="v.percentage" :status="v.exception" />
      </li>
      <li class="flex" v-for="(v, i) in fileList">
        <span class="el-icon-document" />
        <div class="text" title="点击在线预览或下载该文件" @click.self="onPreview(v)">
          {{v.name}} 
          <span style="color: #cf9236" v-if="isHQ">【{{v.creUserDeptName}}-{{v.creUserName}}】</span>
          <span @click="handleHistory(v)" v-if="v.hasVersion" size="mini" class="history">[过程稿]</span>
        </div>
        <!-- 排序 向上 -->
        <div class="right">
          <span title="向上排序" v-if="v.id && permission == 'edit'" v-show="i > 0" class="down el-icon-top sort" @click="handleSort(v.id, 1)" />
          <!-- 排序 向下 -->
          <span  title="向下排序" v-if="v.id && permission == 'edit'" v-show="i < fileList.length - 1" class="down el-icon-bottom" @click="handleSort(v.id, -1)" />
          <!-- 下载 -->
          <span title="下载" v-if="v.id" class="down el-icon-download" @click="downLoad(v)" />
          <!-- 删除 -->
          <span title="删除" v-if="isHQ" v-show="v.ifCanDelete == 1 && v.id && permission == 'edit'" class="down el-icon-circle-close" @click="onRemove(v)" />
          <span title="删除" v-else v-show="v.id && permission == 'edit'" class="down el-icon-circle-close" @click="onRemove(v)" />
        </div>
      </li>
    </ul>
    <documentHistory :visible="historyDialog" @update:visible="v => historyDialog = v" :id="historyId" />
  </div>
  <!-- <div class="upload">
  </div> -->
</template>

<script>
import { mapActions } from 'vuex'
import documentHistory from "@/views/publish/components/documentHistory.vue"
export default {
  name: 'uploadFile',
  components: {
    documentHistory
  },
  props: {
    onlyList: {
      type:Boolean,
      default: false
    },
    id: null,
    tip: {
      type: String,
      default: '保存后才可以上传！'
    },
    disabled: {
      type: Boolean,
      default: false
    },
    onlyUpload: {
      type: Boolean,
      default: false
    },
    url: {//onlyUpload == true必填
      type: String,
      default: 'archives/affixAction.do?method=fileUpload'
    },
    tipShow: {
      type: Boolean,
      default: true
    },
    buttonText: {
      type: String,
      default: '上传'
    },
    buttonSize: {
      type: String,
      default: 'small'
    },
    buttonType: {
      type: String,
      default: 'primary'
    },
    isHQ: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      fileList: [],//[{name: 'a.jpg', url: '1111', id: '11'}]
      uploadList: [],
      loading: true,
      isSorting: false,
      historyDialog: false,
      historyId: null
    }
  },
  computed: {
    permission() {
      return this.$store.state[this.isHQ ? 'permission_hq' : 'permission']
    },
    _id() {
      return this.id + (this.isHQ ? '_hq' : '')
    },
    buttons() {
      return this.$store.state.buttons
    }
  },
  methods: {
    ...mapActions(['getPermission']),
    selectFiles() {
      if(window.navigator.userAgent.toUpperCase().includes('MSIE 9.0')) {
        window.cVM = this;
        let w = window.open(window.baseUrl + 'jsp/common/affix/xt_affix_add.jsp?upType=3&recordId=' + this._id + '&isDocument=' + (this.onlyUpload ? 1 : 0), '_blank');
      } else {
        this.$refs.uploadBtn.click()
      }
    },
    fileChange(e) {
      let target = e.target;
      let file = target.files[0];
      let accepts = [
        'txt',
        'doc',
        'docx',
        'xls',
        'xlsx',
        'pdf',
        'ppt',
        'pptx',
        'rar',
        'zip',
        'jpg',
        'jpeg',
        'png',
        'gif',
      ]
      let fileType = file.name.slice(file.name.lastIndexOf('.') + 1, file.name.length)
      console.log(fileType)
      if(accepts.includes(fileType)) {
        if(this.onlyUpload) {
          this.oUploadFile(file)
        } else {
          this.uploadFile(file)
        }
      } else {
        this.$message.error('该文件文件类型不允许上传！')
      }
    },
    uploadFile(file, isRepeat) {
      console.log(file)
      let formData = new FormData();
      let item = {
        percentage: 10,
        status: "exception",
        error: false
      };
      let t = 0;
      if(isRepeat) {
        formData.append('file',file.formData);
        item = Object.assign(file, item)
      } else {
        formData.append('file',file);
        item = Object.assign(item, {
          name: file.name,
          formData,
        })
        this.uploadList.unshift(item)
      }
      let timer = setInterval(() => {
        if(item.percentage > 90 || item.percentage == 100) {
          clearInterval(timer)
        } else {
          item.percentage+= 3;
        }
      }, 300)
      this.axios({
        method: 'POST',
        url: this.setEncodeUrl('archives/affixAction.do?method=affixUpload', {id: this._id}),
        headers: {
          'Content-Type': 'multipart/form-data'
        },
        data: formData
      })
      .then(res => {
        clearInterval(timer);
        if(res.code == 1) {
          item.percentage = 100;
          item.status = "success";
          this.$set(this, 'fileList', res.result)
          this.uploadList.splice(this.uploadList.findIndex(v => v == item), 1);
          this.$message.success(res.msg);
        } else {
          item.error = true;
        }
      })
      .catch(err => {
        item.error = true;
        clearInterval(timer)
      })
    },
    handleHistory(v) {
      this.historyId = v.id
      this.historyDialog = true
    },
    oUploadFile(file) {
      /**
      * 上传，只有onlyUpload == true才调用
      * @param file {Object} 文件流
      * @return {void}
      * @author cheng_xiaona 2019/5/16 17:06
      */
      let formData = new FormData();
      formData.append('file',file);
      console.log(formData)
      this.createLoading('正在上传中...')
      this.axios({
        method: 'POST',
        url: this.setEncodeUrl(this.url, {id: this._id}),
        headers: {
          'Content-Type': 'multipart/form-data'
        },
        data: formData
      })
      .then(res => {
        if(res.code == 1) {
          this.$message.success(res.msg);
        }
      })
    },
    onRemove(file) {
      this.$confirm(
          '此操作将永久删除该文件, 是否继续?', '提示',
          {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          })
          .then(() => {
            this.loading = true
            this.axios
              .get('affix/deleteAffixById', {params: {id: file.id}})
              .then(res => {
                this.loading = false
                if (res) {
                  this.$message.success(res.msg);
                  let i = this.fileList.findIndex(v =>　v.id == file.id);
                  this.fileList.splice(i, 1)
                } else {
                  this.$message.error('删除失败！');
                }
              })
              .catch(err => {
                this.loading = false;
                this.$message.error('删除失败！');
              })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消删除'
            });
          });
    },
    getFiles() {
      this.getPermission();
      this.loading = true
      this.axios
        .get(this.setEncodeUrl('affix/getAffixList', {id: this._id}))
        .then(res => {
          this.loading = false
          if(res) {
            this.fileList = res.result;
          } else {
            this.$message.error('获取失败！');
          }
        })
        .catch(() => {
          this.loading = false
          this.$message.error('获取失败！');
        })
    },
    downLoad(file) {
      window.open(this.setEncodeUrl(window.baseUrl + 'archives/affixAction.do?method=affixDownLoad', {id: file.id}), '_blank')
      /*this.axios({
        method: 'post',
        url: this.setEncodeUrl('archives/affixAction.do?method=affixDownLoad', {id: file.id}),
        // responseType: 'blob',
        // headers: {'Content-Type': 'multipart/form-data;charset=UTF-8'}
      })
        .then(res => {
          if(res.code == 1) {
            window.open(res.result.filePath, '_blank')
          } else {
            this.$message.err(res.msg)
          }
          const blob = new Blob([res.data])
          console.log(res)
          const fileName = res.headers.filename;//下载文件名称
          const elink = document.createElement('a');
          elink.download = fileName;
          elink.style.display = 'none';
          elink.href = URL.createObjectURL(blob);
          document.body.appendChild(elink);
          elink.click();
          URL.revokeObjectURL(elink.href); // 释放URL 对象
          document.body.removeChild(elink)
        })*/
    },
    onPreview(file) {
      if(file.id) {
        if(file.name.includes('.doc') || file.name.includes('.docx') || file.name.includes('.xls') || file.name.includes('.xlsx') || file.name.includes('.pdf')) {
          window.readAffix('',file);
        } else {
          this.downLoad(file)
        }
      } else {
        this.uploadFile(file, true)
      }
    },
    handleSort(id, type) {
      this.loading = true
      this.axios
        .post(this.setEncodeUrl('affix/orderAffix', {id, type, recordId: this._id}))
        .then(res => {
          this.loading = false
          if(res) {
            this.fileList = res.result
          } else {
            this.$message.error('排序失败');
          }
        })
        .catch(err => {
          this.loading = false;
          this.$message.error('排序失败');
        })
    }
  },
  created() {
    if(this._id) this.getFiles();
    else this.loading = false;
    let from = this.$route.query.from || 'CaoGao'
    switch(from) {
      case 'DaiBan':
        this.getPermission();
        break;
      case 'CaoGao':
        this.$store.commit('SET_PERMISSION', 'edit')
        break;
    }
  },
  mounted() {
    this.$refs.uploadBtn.addEventListener('change', this.fileChange, false)
  },
  watch: {
    id(v) {
      if(v && !this.onlyUpload) this.getFiles();
    },
    fileList: {
      deep: true,
      handler(v) {
        this.$emit('update:fileList', v)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.tip {
  margin-left: 10px;
  padding-left: 5px;
  font-size: 12px;
  b {
    color: red;
    margin-right: 5px;
  }
}

li,
a {
  cursor: pointer;
  width: 100%;
  display: flex;
  position: relative;
  font-size: 13px;
  height: 1.5em;
  align-items: center;
  div {
    position: relative;
    flex: 1;
    height: 100%;
    margin: 0 .5em;
    line-height: 1.5em !important;
    p {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      text-overflow: hidden;
      white-space: nowrap;
    }
  }
  
}
.down {
  transition: all .3s;
  /*opacity: 0;*/
  color: green;
  margin-left: .5em;
}
li {
  position: relative;
  font-size: 12px;
  transition: all .3s;
  border: 1px dashed transparent;
  padding-left: 15px;
  padding-right: 72px;
  width: 100%;
  box-sizing: border-box;
  .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .el-icon-document {
    position: absolute;
    top: 3px;
    left: 0;
  }
  .right {
    position: absolute;
    right: 0;
    top: 0;
  }
  &:hover {
    border-bottom-color: #eee;
    .down {
      opacity: 1;
    }
  }
}
.error {
  color: #dd6161;
  font-size: 10px;
}
/deep/ {
  .el-upload-list__item-name {
    color: #333;
    font-size: 12px;
    cursor: pointer;
    .el-icon-document {
      color: #333;
    }
  }
}
.el-button {
  margin-bottom: 10px
}
.download {
  animation: download .3s infinite alternate;
}
@keyframes download {
  from {
    margin-top: -10px;
  }
  to {
    margin-top: 0
  }
}
.history {
  cursor: pointer;
  color: green;
}
</style>