<template>
  <el-form v-if="$route.query.isChuanYue == 1" disabled class="publish-style form-disabled" ref="formData"inline>
    <el-form-item class="w100" prop="title" label="标题">
      <el-input placeholder="请输标题" v-model="formData.title" />
    </el-form-item>
    <el-form-item class="w50" label="任务文号">
      <el-input disabled v-model="formData.taskCode" />
    </el-form-item>
    <el-form-item class="w50" label="政审文号">
      <el-input disabled v-model="formData.politicsCode" />
    </el-form-item>
    <el-form-item class="w100" label="前往国家">
      <el-input v-model="formData.countries" />
    </el-form-item>
    <el-form-item label="团组长信息" class="leader">
      <el-input v-model="formData.leaderUserName" placeholder="姓名" />
      <el-input v-model="formData.leaderUnits" placeholder="工作单位" />
      <el-input v-model="formData.leaderPosition" placeholder="职位" />
    </el-form-item>
    <el-form-item class="w50" prop="leaveTime" label="出境时间">
      <el-date-picker value-format="yyyy-MM-dd" placeholder="请选择出境时间" v-model="formData.leaveTime" />
    </el-form-item>
    <el-form-item class="w50" prop="stayTime" label="停留时间">
      <el-input placeholder="请输入境外停留时间" v-model="formData.stayTime" />
    </el-form-item>
    <el-form-item class="w50" prop="leaveNum" label="出境人数">
      <el-input type="number" placeholder="请输出境人数" v-model="formData.leaveNum" min="1" />
    </el-form-item>
    <el-form-item class="w50" prop="politicsNum" label="政审人数">
      <el-input type="number" placeholder="请输政审人数" v-model="formData.politicsNum" min="1" />
    </el-form-item>
    <el-form-item class="w50" prop="ngDeptName" label="拟稿单位">
      <div class="box el-input__inner">
        {{formData.ngDeptName}}
      </div>
    </el-form-item>
    <el-form-item class="w50" prop="ngUserName" label="拟稿人员">
      <el-input v-model="formData.ngUserName" />
      </div>
    </el-form-item>
    <el-form-item class="w33" label="拟稿日期">
      <el-input v-model="formData.ngDate" disabled />
    </el-form-item>
    <el-form-item class="w33" prop="wsTelephone" label="外事部门">
      <el-input type="number" placeholder="请输联系电话" v-model="formData.wsTelephone" min="1" />
    </el-form-item>
    <el-form-item class="w33" prop="rlTelephone" label="人事部门">
      <el-input type="number" placeholder="请输联系电话" v-model="formData.rlTelephone" min="1" />
    </el-form-item>
    <el-form-item class="w100" label="公文正文">
      <div class="box" >
        <p class="document-content">
          <span v-show="formData.title"><i class="icon el-icon-document" />
          {{formData.title}}.doc</span>
          <el-button @click="handleEditDocument" type="primary" v-if="formData.id && (formData.title && viewType != 'view')" size="mini">编辑</el-button>
          <span class="el-button el-button--primary el-button--mini" v-if="formData.title && viewType == 'view'" @click="handlePreviewDocument">查看</span>
          <span v-if="historyButtonShow" @click="historyDialog = true" class="el-button el-button--primary el-button--mini">过程稿</span>
          <uploadFile style="margin-left: 10px" v-if="viewType != 'view'" v-show="formData.originText" buttonSize="mini" buttonText="上传" onlyUpload :id="formData.originText" />
        </p>
      </div>
    </el-form-item>
    <el-form-item label="会签附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.id " isHQ />
      </div>
    </el-form-item>
    <el-form-item label="公文附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.id" />
      </div>
    </el-form-item>
    <el-form-item label="传阅范围" class="w100">
      <div class="box">
        {{readRange}}
      </div>
    </el-form-item>
    <TaoHongTemp :tempList="tempList" :visible="tempListVisible" @update:visible="v => tempListVisible = v" />
  </el-form>
  <el-form v-else :rules="rules" class="publish-style clearfix" :disabled="viewType == 'view'" ref="formData" :class="{'form-disabled': viewType == 'view', 'link-hidden': linkHidden }" :model="formData" inline>
    <div class="first">
      <template v-if="canBeSelected">
        <el-form-item class="w50 code" label="任务文号">
          <el-select placeholder="请选择字号" v-model="formData.taskCodeWord" @change="taskCodeWordChange">
            <el-option v-if="outWordOptions" v-for="(v, i) in outWordOptions" :label="v.text" :value="i" />
          </el-select>
          <el-input :class="{year: formData.taskCodeYear}" disabled placeholder="【年号】" v-model="formData.taskCodeYear" />
          <el-input style="padding: 0" v-model="formData.taskCodeNum" placeholder="文号" @input="taskCodeNumChange" />
        </el-form-item>
        <el-form-item class="w50 code" label="政审文号">
          <el-input disabled style="width: 40%" v-model="formData.politicsCodeWord" />
          <el-input :class="{year: formData.politicsCodeYear}" disabled placeholder="【年号】" v-model="formData.politicsCodeYear" />
          <el-input disabled style="padding: 0" v-model="formData.politicsCodeNum" placeholder="文号" />
        </el-form-item>
      </template>
      <template v-else>
        <el-form-item class="w33" label="任务文号">
          <el-input disabled v-model="formData.taskCode" />
        </el-form-item>
        <el-form-item class="w33" label="政审文号">
          <el-input disabled v-model="formData.politicsCode" />
        </el-form-item>
      </template>
      
      <el-form-item :class="{w33: !canBeSelected, w100: canBeSelected}" label="前往国家">
        <el-input v-model="formData.countries" />
      </el-form-item>
    </div>
    <el-form-item class="w100" prop="title" label="标题">
      <el-input placeholder="请输标题" v-model="formData.title" />
    </el-form-item>
    <el-form-item label="团组长信息" class="leader">
      <el-input v-model="formData.leaderUserName" placeholder="姓名" />
      <el-input v-model="formData.leaderUnits" placeholder="工作单位" />
      <el-input v-model="formData.leaderPosition" placeholder="职位" />
    </el-form-item>
    <el-form-item class="w50" prop="leaveTime" label="出境时间">
      <el-date-picker value-format="yyyy-MM-dd" placeholder="请选择出境时间" v-model="formData.leaveTime" />
    </el-form-item>
    <el-form-item class="w50" prop="stayTime" label="停留时间">
      <el-input placeholder="请输入境外停留时间" v-model="formData.stayTime" />
    </el-form-item>
    <el-form-item class="w50" prop="leaveNum" label="出境人数">
      <el-input type="number" placeholder="请输出境人数" v-model="formData.leaveNum" min="1" />
    </el-form-item>
    <el-form-item class="w50" prop="politicsNum" label="政审人数">
      <el-input type="number" placeholder="请输政审人数" v-model="formData.politicsNum" min="1" />
    </el-form-item>
    <el-form-item class="w50" prop="wsTelephone" label="外事部门">
      <el-input placeholder="请输联系电话" v-model="formData.wsTelephone" min="1" />
    </el-form-item>
    <el-form-item class="w50" prop="rlTelephone" label="人事部门">
      <el-input placeholder="请输联系电话" v-model="formData.rlTelephone" min="1" />
    </el-form-item>
    <el-form-item class="w33" prop="ngDeptName" label="拟稿单位">
      <div class="box el-input__inner">
        {{formData.ngDeptName}}
      </div>
    </el-form-item>
    <el-form-item class="w33" prop="ngUserName" label="拟稿人员">
      <el-input v-model="formData.ngUserName" />
    </el-form-item>
    <el-form-item class="w33" label="拟稿日期">
      <el-input v-model="formData.ngDate" disabled />
    </el-form-item>
    <!-- <el-form-item class="w100" prop="reason" label="事由">
      <el-input type="textarea" v-model="formData.reason" />
    </el-form-item> -->
    <el-form-item class="w100" label="公文正文">
      <div class="box" >
        <p class="document-content">
          <span v-show="formData.title"><i class="icon el-icon-document" />
          {{formData.title}}.doc</span>
          <el-button @click="handleEditDocument" type="primary" v-if="formData.id && (formData.title && viewType != 'view')" size="mini">编辑</el-button>
          <span class="el-button el-button--primary el-button--mini" v-if="formData.title && viewType == 'view'" @click="handlePreviewDocument">查看</span>
          <span v-if="historyButtonShow" @click="historyDialog = true" class="el-button el-button--primary el-button--mini">过程稿</span>
          <uploadFile style="margin-left: 10px" v-if="viewType != 'view'" v-show="formData.originText" buttonSize="mini" buttonText="上传" onlyUpload :id="formData.originText" />
        </p>
      </div>
    </el-form-item>
    <el-form-item label="会签附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.id " isHQ />
      </div>
    </el-form-item>
    <el-form-item label="公文附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.id" />
      </div>
    </el-form-item>
    <el-form-item label="关联文档" class="w100">
      <div class="box files">
        <el-button v-if="$store.state.permission == 'edit'" @click="documentDialog = true" :disabled="!formData.id" icon="el-icon-search" size="mini" type="primary">选择关联文档</el-button>
        <div class="names">
          <p @click.self="DaiBanHandleClick(v, 'YiBan', true)" v-for="v in linkInfo">
            <i class="icon el-icon-document"></i>
            【{{v.poName}}】{{v.linkName}}
            <span class="el-icon-error" v-if="isCurrent && $store.state.permission == 'edit'" @click.self="handleDeleteLinkInfo(v)" />
          </p>
        </div>
      </div>
    </el-form-item>
    <documentLinks
      :visible="documentDialog"
      @update:visible="v => documentDialog = v"
      @update:selection = "checkDocuments"
    />
    <TaoHongTemp :tempList="tempList" :visible="tempListVisible" @update:visible="v => tempListVisible = v" />
  </el-form>
</template>

<script>
import documentLinks from  '@/views/publish/components/documentLinks.vue'
import TaoHongTemp from '@/components/TaoHongTemp'
import uploadFile from '@/components/uploadFile/uploadFile'
import initConfig from '@/views/publish/publish.baseInfo.js'
export default initConfig({
  name: 'abroadApplyBaseInfo',
  components: {
    documentLinks,
    TaoHongTemp,
    uploadFile
  },
  methods: {
    taskCodeWordChange(v) {
      this.getCodes(v)
        .then(res => {
          if(res) {
            this.$set(this.formData, 'taskCodeNum', res)
            this.$set(this.formData, 'politicsCodeNum', res)
            /*this.formData.taskCodeNum = res
            this.formData.politicsCodeNum = res*/
          } 
        })
    },
    taskCodeNumChange(v) {
      this.$set(this.formData, 'politicsCodeNum', v)
      // this.formData.politicsCodeNum = v
    }
  },
  watch: {
    canBeSelected(v) {
      if(v) {
        this.getArchivesCodes()
      }
    },
  },
})
</script>

<style lang="scss" scoped>
@import '../publish/baseInfo.scss';
@import './goingBoard.scss';
.w66 {
  width: 66.66%
}
</style>