@import '../publish/baseInfo.scss';
.w33 {
  width: 33.33%
}
.first {
  /deep/ {
    .el-form-item {
      /*$w: 7.6em;*/
      /*padding-left: $w;*/
      .el-form-item__label {
        /*width: $w;*/
      }
    }
  }
}
.leader {
  width: 100%;
  $w: 100px;
  /deep/ {
    .el-form-item__content {
      position: relative;
      box-sizing: border-box;
      padding-left: $w;
    }

  }
  .el-input {
    width: 50%;
    box-sizing: border-box;
    padding-left: 10px;
    &:first-child {
      position: absolute;
      left: 0;
      top: 0;
      width: $w;
      padding-left: 0
    }
  }
}
.code {
  .el-select,
  .el-input {
    box-sizing: border-box;
    float: left;
    padding-right: 10px;
    width: 30%;
    /deep/ {
      .el-input__inner {
        text-align: center
      }
    }
  }
  .el-select {
    width: 40%
  }
  .year {
    position: relative;
    &:before {
      content: '〔';
      position: absolute;
      top: 0;
      left: 0;
    }
    &:after {
      content: '〕';
      position: absolute;
      top: 0;
      right: 10px;
    }
  }
}
.w25 {
  width: 25%
}