<template>
  <publish-temp class="wrapper" :tool-bar="toolBar" :formData="formData" title="出国(赴港澳)任务及人员审查审批单">
    <!-- 基本信息 -->
    <template slot="baseInfo">
      <baseInfo
        :ideaItems="ideaItems"
        ref="base"
        @update:validate="v => formValidate = v"
        @update:formData="updateFormData"
        :data="formData"
        :checkValidate="checkValidate"
        @update:checkValidate="v => checkValidate = v"
      />
    </template>
    <template slot="shqpyj">
      <ShenHeQianPiYiJian labelWidth="7em" :config="sConfig" />
    </template>
    <!-- 交办记录 start -->
    <template slot="jbjl">
      <FenFaJiLu />
    </template>
    <!-- 流程跟踪 start -->
    <template slot="lcgz">
      <LiuChengGenZong />
    </template>
    <!-- 知会记录 start -->
    <template slot="zhjl">
      <ZhiHuiJiLu />
    </template>
    <!-- 办理记录 start -->
    <template slot="bljg">
      <BanLiJieGuo />
    </template>
    <template slot="rightBar">
      <rightbarTemp
        :baseForm="baseForm"
        :formValidate="formValidate"
        :data="formData"
        @update:formData="updateFormData"
        :checkValidate="checkValidate"
        @update:checkValidate="v => checkValidate = v"
      />
    </template>
  </publish-temp>
</template>

<script>
import initConfig from '../abroadApply/methods.js'
import baseInfo from './baseInfo'
export default initConfig({
  components: {
    baseInfo
  },
  data: {
    formData: {
      id: '',
      title: '',
      taskCode: '',
      taskCodeWord: '',
      taskCodeYear: '2019',
      taskCodeNum: '',
      politicsCode: '',
      politicsCodeWord: '中色人审字',
      politicsCodeYear: '2019',
      politicsCodeNum: '',
      countries: '',
      reason: '',
      leaderUserName: '',
      leaderUnits: '',
      leaderPosition: '',
      leaveTime: '',
      stayTime: '',
      leaveNum: '',
      politicsNum: '',
      ngDeptName: '',
      ngDeptId: '',
      ngUserId: '',
      ngUserName: '',
      telePhone: '',
      ngDate: '',
      originText: '',
      sealText: '',
      pdfId: '',
      flowType: '',
      flowName: '',
      hqDeptIds: '',
      hqDeptNames: '',
      creDate: '',
      creUserId: '',
      creUserName: '',
      creUserDeptId: '',
      creDeptName: '',
    },
    toolBar: [
      {
        title: '审核签批意见',
        id: 'shqpyj',
        icon: 'el-icon-edit'
      },
      {
        title: '办理结果',
        id: 'bljg',
        icon: 'el-icon-date'
      },
      {
        title: '流程跟踪',
        id: 'lcgz',
        icon: 'el-icon-date'
      },
      {
        title: '知会记录',
        id: 'zhjl',
        icon: 'el-icon-date'
      },
      {
        title: '交办记录',
        id: 'jbjl',
        icon: 'el-icon-date'
      },
    ],
    sConfig: {
      '外事部门意见': {
        code: 'NGHJ_'
      },
      '人事部门意见': {
        code: 'HQHJ_'
      },
      '领导审批意见': {
        code: 'JTLD_SH_YJ'
      },
    }
  },
  mounted() {
    this.baseForm = this.$refs.base.$children[0];
  },
})
</script>

<style lang="scss" scoped>

</style>