<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,IE=9,IE=10,IE=11,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>中国有色矿业集团有限公司OA系统</title>
    <script>
      window.baseUrl = 'http://10.0.20.31:8081/'
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but cli3 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!-- <script src="/js/office/office.js"></script>
    <script src="/js/common.js"></script> -->
  </body>
</html>
