<template>
  <div class="checkgroup-wrapper">
    <div class="top">
      <el-checkbox :disabled="data.length == 0" :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
    </div>
    <el-scrollbar>
      <el-checkbox-group v-show="data.length" v-model="checks" @change="handleChecksChange">
        <el-checkbox v-for="v in data" :label="v" :key="v[id]">
          {{v[label]}}
          <slot name="checkbox" scope="v" />
        </el-checkbox>
      </el-checkbox-group>
      <p v-show="!data.length">暂无数据</p>
    </el-scrollbar>
  </div>
</template>

<script>
export default {
  name: 'CheckGroups',
  props: {
    data: {
      type: Array,
      default: () => []
    },
    label: {
      type: String,
      default: 'name',
    },
    id: {
      type: [String, Number],
      default: 'name',
    },
    checkData: {
      type: Array,
      default: () => []
    },
    parentData: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      checks: this.checkData,
      isIndeterminate: false,
      checkAll: false
    }
  },
  methods: {
    handleCheckAllChange(val) {
      this.checks = val ? this.data : [];
      this.isIndeterminate = false;
    },
    handleChecksChange(value) {
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.data.length;
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.data.length;
    },
    setValue(v) {
      let res = v
      if(typeof v == 'object') {
        res = JSON.stringify(v)
      }
      return res
    }
  },
  watch: {
    checks: {
      deep: true,
      handler(v) {
        this.$emit('update:data', v)
      }
    },
    data: {
      deep: true,
      handler(v) {
        this.checks = []
        this.checkAll = false;
        this.isIndeterminate = false;
      }
    },
    
  }
}
</script>

<style lang="scss" scoped>
@import 'index.scss'
</style>