.checkgroup-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding-top: 40px;
}
.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  line-height: 40px;
  padding: 0 10px;
  background: #efefef;
}
.el-checkbox-group {
  padding: 10px;
}
.el-scrollbar {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.el-checkbox {
  display: block
}