<template>
  <div class="wrapper">
    <toolBar />
    <div class="main">
      <div class="top-btns">
        <el-button @click="tzType = 1" :class="{actived: tzType == 1}" size="small">个人台账</el-button>
        <el-button @click="tzType = 2" :class="{actived: tzType == 2}" size="small">部门台账</el-button>
      </div>
      <el-tabs type="border-card">
        <el-tab-pane label="发文" title="发文">
          <tableTemp
            :url="url"
            :search="FaWen.search"
            :columns="FaWen.columns"
            :rowClick="rowClick"
            :params="{wjType: 'fw', tzType}"
            :exportQuery="exportUrl"
          />
        </el-tab-pane>
        <el-tab-pane label="签报" title="签报">
          <tableTemp
            :url="url"
            :search="QianBao.search"
            :columns="QianBao.columns"
            :rowClick="rowClick"
            :params="{wjType: 'qb', tzType}"
            :exportQuery="exportUrl"
          />
        </el-tab-pane>
        <el-tab-pane label="白头文" title="白头文">
          <tableTemp
            :url="url"
            :search="BaiTouWen.search"
            :columns="BaiTouWen.columns"
            :rowClick="rowClick"
            :params="{wjType: 'btw', tzType}"
            :exportQuery="exportUrl"
          />
        </el-tab-pane>
        <el-tab-pane label="收文" title="收文">
          <tableTemp
            :url="shouWenUrl"
            :search="ShouWen.search"
            :columns="ShouWen.columns"
            :rowClick="rowClick"
            :params="{wjType: 'sw', tzType}"
            :exportQuery="exportUrl"
          />
        </el-tab-pane>
        <el-tab-pane label="部门收文" title="收文">
          <tableTemp
            :url="shouWenUrl"
            :search="ShouWen.search"
            :columns="ShouWen.columns"
            :rowClick="rowClick"
            :params="{wjType: 'bmsw', tzType}"
            :exportQuery="exportUrl"
          />
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import tableTemp from '@/components/table/temp.table1.vue'
import toolBar from '@/components/toolBar'

export default {
  name: 'index',
  components: {
    tableTemp,
    toolBar
  },
  data () {
    let subFlagOptions =  [
      {
        label: '全部',
        value: null
      },
      {
        label: '办理中',
        value: '01'
      },
      {
        label: '已办结',
        value: '02'
      },
    ]
    let FaWen = {
        search: {
          form: {
            title: null,
            code: null,
            needGrade: null,
            fwDate: null,
            zhsDept: null,
            draftsManName: null,
            ngDeptName: null,
            hqDept: null,
            subFlag: null
          },
          items: [
            {
              label: '公文标题',
              prop: 'title',
              width: '33%'
            },
            {
              label: '文号',
              prop: 'code',
              width: '33%'
            },
            {
              label: '发文时间',
              prop: 'fwDate',
              type: 'dates',
              width: '33%'
            },
            {
              label: '紧急程度',
              prop: 'needGrade',
              type: 'select',
              width: '33%',
              options: {
                '-1': "全部",
                0:'普通',
                1:'紧急',
                2:'特急'
              }
            },
            {
              label: '主送单位',
              prop: 'zhsDept',
              width: '33%'
            },
            {
              label: '状态',
              prop: 'subFlag',
              type: 'select',
              width: '33%',
              options: subFlagOptions
            },
          ]
        },
        columns: [
          {
            prop: 'needGrade',
            label: '紧急程度',
            width: 110,
            showOverflowTooltip: true,
            tooltip: true,
            sortable: true
          },
          {
            prop: 'title',
            label: '公文标题',
            minWidth: 200,
            showOverflowTooltip: true,
            tooltip: true,
            sortable: true
          },
          {
            prop: 'code',
            label: '公文编号',
            minWidth: 120,
            showOverflowTooltip: true,
            tooltip: true,
            sortable: true
          },
          {
            prop: 'zhsDept',
            label: '主送单位',
            minWidth: 200,
            showOverflowTooltip: true,
            tooltip: true,
            sortable: true
          },
          {
            prop: 'draftsManName',
            label: '拟稿人',
            minWidth: 100,
            showOverflowTooltip: true,
            tooltip: true,
            sortable: true
          },
          {
            prop: 'ngDeptName',
            label: '拟稿部门',
            minWidth: 200,
            showOverflowTooltip: true,
            tooltip: true,
            sortable: true
          },
          {
            prop: 'subFlag',
            label: '办理状态',
            width: 110,
            showOverflowTooltip: true,
            tooltip: true,
            sortable: true
          },
          {
            prop: 'fwDate',
            label: '发文日期',
            width: 150,
            showOverflowTooltip: true,
            tooltip: true,
            sortable: true
          },
        ]
      }
    function copy(obj) {
      return JSON.parse(JSON.stringify(obj))
    }
    let QianBao = Object.assign(copy(FaWen), {
      columns: [
        {
          prop: 'needGrade',
          label: '紧急程度',
          width: 110,
          showOverflowTooltip: true,
          tooltip: true,
          sortable: true
        },
        {
          prop: 'code',
          label: '公文文号',
          minWidth: 120,
          showOverflowTooltip: true,
          tooltip: true,
          sortable: true
        },
        {
          prop: 'title',
          label: '公文公文标题',
          minWidth: 200,
          showOverflowTooltip: true,
          tooltip: true,
          sortable: true
        },
        {
          prop: 'draftsManName',
          label: '拟稿人',
          minWidth: 100,
          showOverflowTooltip: true,
          tooltip: true,
          sortable: true
        },
        {
          prop: 'ngDeptName',
          label: '拟稿部门',
          minWidth: 200,
          showOverflowTooltip: true,
          tooltip: true,
          sortable: true
        },
        {
          prop: 'hqDept',
          label: '会签部门',
          minWidth: 200,
          showOverflowTooltip: true,
          tooltip: true,
          sortable: true
        },
        {
          prop: 'subFlag',
          label: '办理状态',
          width: 110,
          showOverflowTooltip: true,
          tooltip: true,
          sortable: true
        },
      ]
    })
    let BaiTouWen = copy(QianBao)
    return {
      tzType: 1,
      url: 'gwtz/findOutGwtz',
      shouWenUrl: 'gwtz/findInGwtz',
      exportUrl: 'gwtz/importQueryBook',
      FaWen,
      QianBao,
      BaiTouWen,
      ShouWen: {
        search: {
          form: {
            title: null,
            code: null,
            needGrade: null,
            comingDate: null,
            zhsDept: null,
            xbdwNames: null,
            comingDeptName: null,
            subFlag: null,
          },
          items: [
            {
              label: '公文标题',
              prop: 'title',
              width: '33%'
            },
            {
              label: '文号',
              prop: 'code',
              width: '33%'
            },
            {
              label: '来文时间',
              prop: 'comingDate',
              type: 'dates',
              width: '33%'
            },
            {
              label: '紧急程度',
              prop: 'needGrade',
              type: 'select',
              width: '33%',
              options: [
                '普通',
                '紧急',
                '特急'
              ]
            },
            {
              label: '状态',
              prop: 'subFlag',
              type: 'select',
              width: '33%',
              options: subFlagOptions
            },
            {
              label: '来文单位',
              prop: 'comingDeptName',
              width: '33%'
            },
            {
              label: '主送单位',
              prop: 'zhsDept',
              width: '33%'
            },
            {
              label: '协办单位',
              prop: 'xbdwNames',
              width: '33%'
            },
          ]
        },
        columns: [
          {
            prop: 'needGrade',
            label: '紧急程度',
            width: 110,
            showOverflowTooltip: true,
            tooltip: true,
            sortable: true
          },
          {
            prop: 'title',
            label: '公文标题',
            minWidth: 200,
            showOverflowTooltip: true,
            tooltip: true,
            sortable: true
          },
          {
            prop: 'code',
            label: '来文编号',
            minWidth: 120,
            showOverflowTooltip: true,
            tooltip: true,
            sortable: true
          },
          {
            prop: 'comingDate',
            label: '来文日期',
            minWidth: 130,
            showOverflowTooltip: true,
            tooltip: true,
            sortable: true
          },
          {
            prop: 'comingDeptName',
            label: '来文单位',
            minWidth: 200,
            showOverflowTooltip: true,
            tooltip: true,
            sortable: true
          },
          {
            prop: 'zhsDept',
            label: '主办单位',
            minWidth: 200,
            showOverflowTooltip: true,
            tooltip: true,
            sortable: true
          },
          {
            prop: 'xbdwNames',
            label: '协办单位',
            minWidth: 200,
            showOverflowTooltip: true,
            tooltip: true,
            sortable: true
          },
          {
            prop: 'subFlag',
            label: '办理状态',
            width: 110,
            showOverflowTooltip: true,
            tooltip: true,
            sortable: true
          }
        ]
      }
    }
  },
  methods: {
    rowClick(row, column) {
      /*
      * 跳转详情
      * @author cheng_xiaona zhang_yanhong
      */
      this.DaiBanHandleClick(row, 'YiBan')
    },
  }
}
</script>

<style lang="scss" scoped>
@import '../Search/search.scss';
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  box-sizing: border-box;
}
.main,
.el-tabs {
  height: 100%;
  display: flex;
  flex-direction: column
}
.main {
  position: relative;
  padding-top:35px;
  box-sizing: border-box;
}
.actived {
  color: #007373;
  border-color: #007373;
  outline: none;
  background-color: #e6f2f2
}
.top-btns {
  position: absolute;
  top: 0;
  left: 0;
}
/deep/ {
  .el-tab-pane {
    flex: 1;
    display: flex;
    flex-direction: column;
    & > .wrapper {
      padding: 15px;
      padding-bottom: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }
  }
  .el-tabs__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
</style>