<template>
  <!--  -->
  <el-form v-if="$route.query.isChuanYue == 1" disabled class="publish-style form-disabled" ref="formData"inline>
    <el-form-item prop="title" class="w100" label="公文标题" >
      <el-input v-model="formData.title" />
    </el-form-item>
    <el-form-item prop="comingCode" class="w50" label="来文文号" >
      <el-input v-model="formData.comingCode" />
    </el-form-item>
    <el-form-item prop="comingDate" class="w50" label="来文时间" >
      <el-input v-model="formData.comingDate" />
    </el-form-item>
    <el-form-item prop="comingDeptName" class="w50" label="来文单位" >
      <el-input v-model="formData.comingDeptName" />
    </el-form-item>
    <el-form-item prop="inSort" class="w50" label="来文类型" >
      <el-input v-model="formData.inSort" />
    </el-form-item>
    <el-form-item label="公文正文" class="w100">
      <div class="box" >
        <p>
          <i class="icon el-icon-document"></i>{{formData.title}}.doc
          <span class="el-button el-button--primary el-button--mini" @click="handlePreviewDocument" size="mini" type="primary">查看</span>
        </p>
      </div>
    </el-form-item>
    <el-form-item label="会签附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.outId " isHQ />
      </div>
    </el-form-item>
    <el-form-item label="公文附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.id" />
      </div>
    </el-form-item>
    <el-form-item label="传阅范围" class="w100">
      <div class="box">
        {{readRange}}
      </div>
    </el-form-item>
  </el-form>
  <el-form v-else :rules="rules" ref="formData" :disabled="viewType == 'view'" class="publish-style clearfix" :class="{'form-disabled': viewType == 'view', 'link-hidden': linkHidden}" :model="formData" inline>
    <div class="first-line">
      <el-form-item v-if="!canBeSelected" class="w100" label="公文编号">
        <el-input disabled :value="formData.outCode"/>
      </el-form-item>
      <div v-else class="w100 out_code clearfix">
        <el-form-item :rules="[{required: true, message: '请选择字号'}]" class="w65 fl" prop="outWord" label="字号">
          <el-select v-model="formData.outWord" @change="outWordChange">
            <el-option v-if="outWordOptions" v-for="(v, i) in outWordOptions" :label="v.text" :value="i" />
          </el-select>
        </el-form-item>
        <el-form-item class="w20 fl">
          <div class="el-input__inner" :title="formData.year">
            〔{{formData.year}}〕
          </div>
        </el-form-item>
        <el-form-item class="w15 fl" :title="formData.outNum">
          <el-input v-model="formData.outNum" />
        </el-form-item>
      </div>
      <div class="right">
        <el-form-item class="padding_left_5" prop="needGrade" label="紧急程度">
          <el-select :value="0" v-model="formData.needGrade">
            <el-option v-for="(v, i) in emergencyLevel" :label="v" :value="v" :key="v.index"/>
          </el-select>
        </el-form-item>
        <el-form-item class="padding_left_3" prop="secretGrade" label="密级" >
          <el-select :value="0" v-model="formData.secretGrade">
            <el-option v-for="(v, i) in secretLevel" :label="v" :value="v" :key="v.index"/>
          </el-select>
        </el-form-item>
        <el-form-item prop="secretDate" class="w15 padding_left_4" label="保密期限"  >
          <el-input value="" v-model="formData.secretDate"/>
        </el-form-item>
        <el-form-item class="padding_left_3" label="文种" prop="outType" >
          <el-select :value="0" v-model="formData.outType">
            <el-option v-for="(v, i) in ShouWen" :label="v" :value="v" :key="v.index"/>
          </el-select>
        </el-form-item>
      </div>
    </div>
    <el-form-item prop="title" class="w100" label="公文标题" >
      <div class="el-input">
        <input type="text" v-model="formData.title" class="el-input__inner" @input="inputChange" />
      </div>
      <div class="input-box">
        <el-input v-model="formData.title" />
      </div>
    </el-form-item>
    <el-form-item prop="bgshgUserName" class="w100" label="主送领导" >
      <div class="box leaders">
        <span v-if="viewType != 'view'" @click="leaderDialog = true" class="pointer link"><i class="icon el-icon-search"></i>选择主送领导</span>
        <div v-show="formData.bgshgUserName.length" class="names" v-text="formData.bgshgUserName.join(',')" :title="formData.bgshgUserName.join(',')"/>
      </div>
    </el-form-item>
    <el-form-item prop="hqDept" class="w100" label="会签部门" >
      <div class="box leaders" >
        <span v-if="viewType != 'view'" @click="visible3 = true" class="pointer link"><i class="icon el-icon-search"></i>选择会签部门</span>
        <div v-show="formData.hqDept.length" class="names" v-text="formData.hqDept.join(',')" :title="formData.hqDept.join(',')" />
      </div>
    </el-form-item>
    <el-form-item class="w50 in-icon" label="拟稿人员">
      <div class="box el-input__inner">
        {{formData.draftsmanName}}
      </div>
    </el-form-item>
    <el-form-item class="w50" label="拟稿部门">
      <div class="box el-input__inner">
        {{formData.ngDeptName}}
      </div>
    </el-form-item>
    <el-form-item class="w50" label="拟稿日期">
      <div class="el-input__inner">{{formData.ngDate}}</div>
    </el-form-item>
    <el-form-item class="w50" label="发文日期">
      <el-date-picker
        value=""
        type="date"
          v-model="formData.fwDate"
        placeholder="选择日期" />
    </el-form-item>
    <el-form-item label="主送单位" class="w100" prop="zhsDept">
      <div class="box">
        <div v-if="viewType != 'view'" class="departmants">
          <el-checkbox-group v-model="superJgzCheckedArr">
            <el-checkbox :value="v" :label="v.ownname" v-for="v in hiddenJGZ(jgzData)" />
          </el-checkbox-group>
          <span class="pointer" @click="visible1 = true"><i class="icon el-icon-search"></i>选择单位</span>
        </div>
        <div v-show="formData.zhsDept.length" class="names" v-text="formData.zhsDept.join(',')" :title="formData.zhsDept.join(',')" />
      </div>
    </el-form-item>
    <el-form-item label="抄送单位" class="w100" prop="chsDept">
      <div class="box">
        <div v-if="viewType != 'view'" class="departmants">
          <el-checkbox-group v-model="CcJgzCheckedArr">
            <el-checkbox :value="v" :label="v.ownname" v-for="v in jgzData" />
          </el-checkbox-group>
          <span class="pointer" @click="visible2 = true"><i class="icon el-icon-search"></i>选择单位</span>
        </div>
        <div v-show="formData.chsDept.length" class="names" v-text="formData.chsDept.join(',')" :title="formData.chsDept.join(',')" />
      </div>
    </el-form-item>
    <el-form-item label="公文正文" class="w100">
      <div class="box">
        <!-- <p v-if="formData.title && viewType != 'view'">
          <i class="icon el-icon-document"></i>{{formData.title}}.doc
          <el-button style="margin: 5px" @click="handleEditDocument" type="primary" v-if="formData.outId" size="mini">编辑</el-button>
          <uploadFile v-show="formData.originText" buttonSize="mini" type="primary" buttonText="上传" onlyUpload :id="formData.originText" />
        </p>
        <p v-if="formData.title && viewType == 'view'">
          <i class="icon el-icon-document"></i>{{formData.title}}.doc
          <span @click="handlePreviewDocument" class="el-button el-button--primary el-button--mini">查看</span>
        </p> -->
        <p class="document-content">
           <span v-show="formData.title"><i class="icon el-icon-document" />
          {{formData.title}}.doc</span>
          <span v-if="historyButtonShow" @click="historyDialog = true" class="el-button el-button--primary el-button--mini">过程稿</span>
          <el-button @click="handleEditDocument" type="primary" v-if="formData.outId && viewType != 'view'" size="mini">编辑</el-button>
          <span class="el-button el-button--primary el-button--mini" v-if="viewType == 'view'" @click="handlePreviewDocument">查看</span>
          <uploadFile style="margin-left: 10px" v-if="viewType != 'view'" v-show="formData.originText" buttonSize="mini" buttonText="上传" onlyUpload :id="formData.originText" />
        </p>
      </div>
    </el-form-item>
    <el-form-item label="会签附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.outId " isHQ />
      </div>
    </el-form-item>
    <el-form-item label="公文附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.outId" />
      </div>
    </el-form-item>
    <el-form-item label="关联文档" class="w100">
      <div class="box files">
        <el-button v-if="$store.state.permission == 'edit'" @click="documentDialog = true" :disabled="!(formData.outId || formData.inId)" icon="el-icon-search" size="mini" type="primary">选择关联文档</el-button>
        <div class="names">
          <p @click.self="DaiBanHandleClick(v, 'YiBan', true)" v-for="v in linkInfo">
            <i class="icon el-icon-document"></i>【{{v.poName}}】{{v.linkName}}
            <span class="el-icon-error" v-if="isCurrent && $store.state.permission == 'edit'" @click.self="handleDeleteLinkInfo(v)" />
          </p>
        </div>
      </div>
    </el-form-item>
    <el-form-item class="w100 words2" label="备注">
      <el-input
        value="参照执行"
        type="textarea"
        :rows="2"
        placeholder="请输入内容"
        v-model="formData.memo"
         />
    </el-form-item>
    <!-- 主送单位 -->
    <unitsDialog
      @update:dept="v => superJgz.units = v"
      @update:visible="v => visible1 = v"
      :visible="visible1"
      :checkedData="{ids: formData.zhsDeptId ,names: formData.zhsDept}" />
    <!-- 抄送单位 -->
    <unitsDialog
      @update:dept="v => CcJgz.units = v"
      @update:visible="v => visible2 = v"
      :visible="visible2"
      :checkedData="{ids: formData.chsDeptId ,names: formData.chsDept}" />
    <!-- 会签部门 -->
    <unitsDialog
      :outerBtnShow="false"
      @update:dept="v => {formData.hqDeptId = v.ids;formData.hqDept = v.names}"
      :visible="visible3"
      @update:visible="v => visible3 = v"
      :checkedData="{ids: formData.hqDeptId ,names: formData.hqDept}" />
    <!-- 拟稿部门 -->
    <!-- <unitsDialog
      @update:dept="v => {formData.ngDeptId = v.ids;formData.ngDeptName = v.names}"
      :checkedData="{ids: formData.ngDeptId ,names: formData.ngDeptName}"
      :visible="ngDeptDialogVisible"
      @update:visible="v => ngDeptDialogVisible = v" /> -->
    <!-- 主送领导 -->
    <LeaderDialog
      :visible="leaderDialog"
      @update:visible="v => leaderDialog = v"
      @update:dept="v => {formData.bgshgUserId = v.ids; formData.bgshgUserName = v.names}"
      :checkedData="formData.bgshgUserId" />
    <documentLinks
      :visible="documentDialog"
      @update:visible="v => documentDialog = v"
      @update:selection = "checkDocuments"
    />
    <!-- <el-dialog title="请选择套红模板" :visible.sync="tempListVisible">
      <el-radio v-model="taoHongId" v-for="v in tempList" :label="v.modelId" :key="v.modelId">{{v.modelName}}</el-radio>
      <div class="btns" style="text-align: center;">
        <el-button @click="setTaoHong()" size="mini" type="primary">确定</el-button>
        <el-button @click="tempListVisible = false" size="mini">取消</el-button>
      </div>
    </el-dialog> -->
    <TaoHongTemp :tempList="tempList" :visible="tempListVisible" @update:visible="v => tempListVisible = v" />
    <memberDialog
      :visible="memberDialogVisible"
      @update:visible="v => memberDialogVisible = v"
      @update:member="v => {formData.draftsmanName = v.names; formData.draftsmanId = v.ids}" />
    <documentHistory :visible="historyDialog" @update:visible="v => historyDialog = v" :id="formData.originText" />
  </el-form>
</template>

<script>
import LeaderDialog from './leader'
import unitsDialog from './unitsDialog.vue'
import uploadFile from '@/components/uploadFile/uploadFile'
import memberDialog from './memberDialog'
import TaoHongTemp from '@/components/TaoHongTemp'
import initConfig from '@/views/publish/publish.baseInfo.js'
import documentLinks from  '@/views/publish/components/documentLinks.vue'
import documentHistory from "@/views/publish/components/documentHistory.vue"
import axios from 'axios'
export default initConfig({
  components: {
    LeaderDialog,
    unitsDialog,
    uploadFile,
    memberDialog,
    initConfig,
    documentLinks,
    documentHistory,
    TaoHongTemp
  },
  name: 'publishBaseInfo',
  data: {
    outWordOptions: null,
    year: new Date().getFullYear(),
    routeParams: null,
    cancelPromise: null
  },
  watch: {
    canBeSelected(v) {
      if(v) {
        this.getArchivesCodes()
      }
    }
  }
})
</script>
<style lang="scss" scoped>
@import 'baseInfo.scss'
</style>