<template>
  <el-form class="publish-style clearfix" :model="mockData" inline>
    <el-form-item class="w40 padding_left_7_5" label="公文编号">
      <el-input value="中色党字〔2019〕37号" />
    </el-form-item>
    <el-form-item class="w15 padding_left_4" label="紧急程度">
      <el-select :value="0">
       <el-option v-for="(v, i) in emergencyLevel" :label="v" :value="i" />
     </el-select>
    </el-form-item>
    <el-form-item class="w15 padding_left_3" label="密级" >
      <el-select  :value="0">
        <el-option v-for="(v, i) in secretLevel" :label="v" :value="i" />
      </el-select>
    </el-form-item>
    <el-form-item class="w15 padding_left_4" label="保密期限"  >
      <!-- <el-select  :value="0">
        <el-option v-for="(v, i) in storageTime" :label="v" :value="i" />
      </el-select> -->
      <el-input value="" />
    </el-form-item>
    <el-form-item class="w15 padding_left_4" label="文种"  >
      <el-select  :value="0">
        <el-option v-for="(v, i) in ShouWen" :label="v" :value="i" />
      </el-select>
    </el-form-item>
    <el-form-item class="w100" label="公文标题" >
      <el-input value="关于召开中国有色集团总部干部大会的通知" v-model="mockData.title" />
    </el-form-item>
    <div class="el-form-item w100">
      <div class="el-form-item__label">主送领导</div>
      <div class="el-form-item__content">
        <div class="el-input__inner">
          <span class="pointer"><i class="icon el-icon-search"></i>选择主送领导</span>
        </div>
      </div>
    </div>
    <el-form-item class="w100" label="会签部门">
      <div class="padding-v10">
        <el-select
          :value="[0, 1]"
          multiple
          default-first-option
          placeholder="请选择会签部门">
          <el-option
            v-for="(v, i) in ['办公厅', '党群工作部']"
            :label="v"
            :value="i" />
        </el-select>
      </div>
    </el-form-item>
    <el-form-item class="w50 in-icon" label="拟稿人员">
        <el-input value="陆赞"/>
        <i class="el-icon-phone-outline"></i>
    </el-form-item>
    <el-form-item class="w50" label="拟稿部门">
      <el-input value="信息中心" />
    </el-form-item>
    <el-form-item class="w50" label="拟稿日期">
      <el-date-picker
        value="2019-03-25"
        type="date"
        placeholder="选择日期" />
    </el-form-item>
    <el-form-item class="w50" label="发文日期">
      <el-date-picker
        value="2019-03-25"
        type="date"
        placeholder="选择日期" />
    </el-form-item>
    <div class="el-form-item w100">
      <div class="el-form-item__label">主送单位</div>
      <div class="box in-checkbox">
        <el-checkbox-group 
          v-model="checkedUnits1">
          <el-checkbox 
          v-for="(unit,index) in units"
          :label="unit" 
          :key="unit" 
          @change="handleChange(unit,$event,index)">{{unit}}</el-checkbox>
        </el-checkbox-group>
        <el-select 
          v-model="value" 
          placeholder="请选择" 
          v-if="selectVisible" 
          size="small"
          class="pers-select"
        >
          <el-option 
            v-for="item in optionsUnit"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
        <span class="pers-tag" 
         v-for="tag in dynamicTags"
         :key="tag">{{tag}}</span>
        <!-- <el-tag
          :key="tag"
          v-for="tag in dynamicTags"
          closable
          :disable-transitions="true"
          size="small"
          hit="true"
          color="#ffffff"
          >
          {{tag}}
        </el-tag> -->
      </div>
      <!-- <div class="el-form-item__content">
        <div class="el-input__inner">
          <span class="pointer"><i class="icon el-icon-search"></i>选择主送单位</span>
        </div>
      </div> -->
    </div>
    <div class="el-form-item w100">
      <div class="el-form-item__label">抄送单位</div>
      <div class="box in-checkbox">
        <el-checkbox-group 
          v-model="checkedUnits2">
          <el-checkbox 
          v-for="(unit2,index) in units2"
          :label="unit2" 
          :key="unit2" 
          @change="handleChange2(unit2,$event,index)">{{unit2}}</el-checkbox>
        </el-checkbox-group>
        <span class="pers-tag" 
         v-for="tag2 in dynamicTags2"
         :key="tag2">{{tag2}}</span>
        <!-- <el-tag
          :key="tag2"
          v-for="tag2 in dynamicTags2"
          closable
          :disable-transitions="false"
          @close="handleClose2(tag2)"
          size="small">
          {{tag2}}
        </el-tag> -->
      </div>
      <!-- <div class="el-form-item__content">
        <div class="el-input__inner">
          <span class="pointer"><i class="icon el-icon-search"></i>选择抄送单位</span>
        </div>
      </div> -->
    </div>
    <div class="el-form-item w100">
      <div class="el-form-item__label">公文正文</div>
      <div class="el-form-item__content">
        <div class="box">
          <p v-if="mockData.title">
            <i class="icon el-icon-document"></i>{{mockData.title}}.doc
          </p>
        </div>
      </div>
    </div>
    <div class="el-form-item w100">
      <div class="el-form-item__label">公文附件</div>
      <div class="el-form-item__content">
        <div class="box">
          <p>
            <i class="icon el-icon-document"></i>总干部大会.doc
          </p>
        </div>
      </div>
    </div>
    <div class="el-form-item w100">
      <div class="el-form-item__label">关联文档</div>
      <div class="el-form-item__content">
        <div class="box files">
          <p v-if="mockData.title" v-for="v in mockData.files">
            <i class="icon el-icon-document"></i>{{v}}.doc
          </p>
        </div>
      </div>
    </div>
    <el-form-item class="w100 words2" label="备注">
      <el-input
        value="参照执行"
        type="textarea"
        :rows="2"
        placeholder="请输入内容"
         />
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: 'baseInfo',
  data () {
    return {
      mockData: {
        title: '关于召开中国有色集团总部干部大会的通知',
        files: [
          '关于召开2018年度出资企业党建工作责任制考评',
          '中国有色矿业集团有限公司党组织工作经费使用管理办法',
          '中国有色矿业集团有限公司党组织工作经费使用管理办法',
          '2019年中国有色集团出资企业党委（党支部）理论学习中心组专题学习重点内容安排',
        ],
        equipments: [
          {
            id:'1',
            menu:'主送单位',
            childMenu:[{
              id:'1',
              menu:'总部各部门'
            },{
              id:'2',
              menu:'各出资企业'
            },{
              id:'3',
              menu:'各出资企业党委'
            },{
              id:'4',
              menu:'单位',
              chlidOption:[{
                id:'1',
                menu:'集团公司领导',
                option:[{
                  id:'1',
                  name:'刘大山'
                },{
                  id:'2',
                  name:'于洪会'
                },{
                  id:'3',
                  name:'陈曙光'
                },{
                  id:'4',
                  name:'谢建国'
                },{
                  id:'5',
                  name:'李杰'
                },{
                  id:'6',
                  name:'陈永坪'
                },{
                  id:'7',
                  name:'安逸'
                },{
                  id:'8',
                  name:'朱青风'
                },{
                  id:'9',
                  name:'刘大军'
                },{
                  id:'10',
                  name:'邹杰夫'
                }]
              },{
                  id:'2',
                  menu:'信息中心',
                  option:[{
                    id:'1',
                    name:'王也'
                  },{
                    id:'2',
                    name:'冯宝宝'
                  },{
                    id:'3',
                    name:'张楚岚'
                  },{
                    id:'4',
                    name:'张灵玉'
                  },{
                    id:'5',
                    name:'风莎莎'
                  },{
                    id:'6',
                    name:'诸葛青'
                  } ]
                }]
              },]
            }
          ]
      },
      checkedUnits1: ['总部各部门'],
      units: ['总部各部门', '各出资企业', '各出资企业党委', '单位'],
      dynamicTags: ['总部各部门'],
      checkedUnits2: ['总部各部门'],
      units2: ['总部各部门', '各出资企业', '各出资企业党委', '单位'],
      dynamicTags2: ['总部各部门'],
      optionsUnit:[{
          value: '选项1',
          label: '黄金糕'
        }, {
          value: '选项2',
          label: '双皮奶'
        }, {
          value: '选项3',
          label: '蚵仔煎'
        }, {
          value: '选项4',
          label: '龙须面'
        }, {
          value: '选项5',
          label: '北京烤鸭'
        }],
      value: '',
      selectVisible:false // 选择单位出现下拉框
    }
  },
  methods: {
    /* handleClose(tag) {
      let tagIndex = this.dynamicTags.indexOf(tag)
      this.dynamicTags.splice(tagIndex, 1)
      this.checkedUnits1.splice(this.checkedUnits1.indexOf(tag),1)
    }, */
    handleChange(unit,e,i) {
      if (e) {
          this.dynamicTags.push(unit);
      } else {
          this.dynamicTags.splice(this.dynamicTags.indexOf(unit), 1);
      }
      unit == ''
    },
    handleClose2(tag2) {
      let tagIndex = this.dynamicTags2.indexOf(tag2)
      this.dynamicTags2.splice(tagIndex, 1)
      this.checkedUnits2.splice(this.checkedUnits2.indexOf(tag2),1)
    },
    handleChange2(unit2,e,i) {
      if (e) {
          this.dynamicTags2.push(unit2);
      } else {
          this.dynamicTags2.splice(this.dynamicTags.indexOf(unit2), 1);
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@import 'baseInfo.scss'
</style>