.el-checkbox-group {
  display: inline;
  margin-right: 10px
}
.el-form {
  padding-right: 20px;
}
.input-box {
  height: 0;
  overflow: hidden;
}
.document-content {
  .el-button {
    margin: 10px 0 10px 10px;
  }
}
.el-form-item {
  $label: 5.5em;
  font-size: 12px;
  margin-right: 0;
  position: relative;
  box-sizing: border-box;
  padding-left: $label;
  margin-bottom: 0;
  /deep/ {
    .el-form-item__error {
      top: 0;
      left: 0;
      right: 0;
      position: relative;
      color: #007373;
    }
    .el-form-item__content {
      display: block;
      margin-left: 10px;
      position: relative;
    }
    .el-form-item__label {
        position: absolute;
        top: 50%;
        left: 0;
        width: $label;
        line-height: 30px;
        margin-top: -15px;
      }
  }
}

/deep/ {
  .el-dialog__body {
    padding-top: 20px;
  }
  .el-textarea.is-disabled .el-textarea__inner,
  .el-input.is-disabled .el-input__inner {
    background: none;
    border-color: #f56c6c;
    color: #333;
    cursor: not-allowed;
    resize: none;
  }

}
.w40 {
  width: 40%;
}
.w50 {
  width: 50%;
}
.w20 {
  width: 20%;
}
.w15 {
  width: 15%;
}
.w100 {
  width: 100%;
}
.w20,
.w40,
.w50,
.w100 {
  box-sizing: border-box;
}


.pointer {
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  display: inline-block;
  cursor: pointer;
  color: #f56c6c;
  text-decoration: underline;
}
.box {
  min-height: 30px;
  height: auto;
  font-size: 12px;
  padding-left: 15px;
  border-bottom: 1px solid #f56c6c;
  &.files{
    line-height: 20px;
  }
  &.in-checkbox{
    min-height: 0;
    line-height: 29px;
    padding: 0 0 0 10px;
    margin: 0 0 0 10px;
    .el-checkbox-group{
      padding: 10px 0;
      line-height: 0;
    }
    .pers-tag{
      font-size: 12px;
      color: #909399;
      margin-right: 1em;
    }
  }
}
.el-select {
  display: block
}
.icon {
  margin-right: 5px;
}
.files {
  /*padding: 10px 0;*/
  padding-top: 10px;
  padding-bottom: 10px;
  p {
    line-height: 20px;
  }
}
.padding-v10 {
  padding: 10px 0;
}
.words2{
  letter-spacing:10px;
}
.in-icon{
  position: relative;
  .el-icon-phone-outline{
    position: absolute;
    top: 10px;
    right: 1em;
    cursor: pointer;
  }
}

.per-check-tag{
  /deep/ .el-form-item{
    padding-left: 0;
  }
  /deep/ .el-form-item__content {
      margin-left: 0;
  }
}
.names {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1em;
  padding-bottom: 10px;
  p {
    position: relative;
    cursor: pointer;
    border-bottom: 1px dashed transparent;
    transition: all .3s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 1em;
    span {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -6px;
    }
    &:hover {
      border-color: #ddd;
    }
  }
}
.leaders {
  position: relative;
  padding-left: 115px;
  .link {
    position: absolute;
    left: 15px;
    top: 0;
  }
  .names {
    line-height: inherit;
    padding-bottom: 0
  }
}

.form-disabled {
  /deep/ {
    .el-input__suffix,
    .el-input__prefix{
        display: none
      }
    .el-form-item__label:before {
      display: none
    }
    .el-input__inner {
      padding-left: 15px;
    }
  }
  .leaders {
    padding-left: 15px;
  }
  .names {
    line-height: inherit;
    padding-bottom: 0
  }
  .el-textarea .el-textarea__inner,
  .el-input .el-input__inner {
    &::-webkit-input-placeholder {
      color: transparent;
    }
  }
}
.link-hidden {
  .leaders {
    padding-left: 15px;
    .link {
      display: none
    }
  }
  .departmants {
    display: none
  }
  .names {
    line-height: inherit;
    padding-bottom: 0
  }
}
.first-line {
  $w: 526px;
  position: relative;
  padding-right: $w;
  width: 100%;
  box-sizing: border-box;
  .right {
    position: absolute;
    top: 0;
    right: 0;
    width: $w;
    .el-form-item {
      width: 25%
    }
    /deep/ {
      .el-input__inner {
        padding-left: 5px;
      }
    }
  }
}
.padding_left_7_5 {
  $lable: 5.5em;
  padding-left: $lable;
  /deep/ .el-form-item__label {
    width: $lable;
  }
}
@for $i from 1 through 10 {
  .padding_left_#{$i} {
    padding-left: (1em * $i);
    /deep/ {
      .el-form-item__label {
        width:(1em * $i);
      }
    }
  }
}
.fl {
  float: left;
}
.w15 {
  width: 15%
}
.w20 {
  width: 20%
}
.w65 {
  width: 65%
}
.w70 {
  width: 70%
}
.out_code {
  .w15,
  .w20 {
    padding-left: 0;
    /deep/ .el-input__inner {
      padding: 0;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
/deep/ {
  .per-select-box {
    margin-bottom: 10px;
    .el-select--small{
       width: 100px;
      .el-input--small {
        .el-input__inner{
          width: 100px;
          border:1px solid #ccc; 
        }
        .el-select-dropdown.el-popper{
          min-width:100px;
        }
      }
    }
  }
  .el-date-editor.el-input {
    width: 100%
  }
  .el-form-item{
    text-align: left;
  }
  .per-el-dialog{
      height: 100%;
      margin :0 !important;position: absolute;
      top: 50%;
      left :50%;
      transform :translate(-50%, -50%);
    
  }
  .per-inline-parent{
    display: flex;
  }
  .per-inline-parent > input{
    border-bottom: none;
  }
  .per-inline{
    float: left;
    width: 30%;
  }
  .el-upload-list__item-name {
    padding-left: 0;
    font-size: 12px;
    color: #333;
  }
}
.view-button {
  margin: 5px;
  display: inline-block;
  border: 1px solid #ddd;
  line-height: 1em;
  padding: .5em;
  cursor: pointer;
  border-radius: 3px;
  &:hover {
    background: #f2f6fc;
    border-color: #66b3b3;
  }
}
