<template>
  <div class="padding10" style="height: 530px">
    <TableTemplate
      :columns="columns"
      url="archivesOut/getFfjlInfo"
      :params="params"
      @refresh="refresh" />
  </div>
</template>

<script>
import TableTemplate from '@/components/table/temp.table1'
export default {
  name: 'FenFaJLu',
  components: {
    TableTemplate
  },
  data () {
    return {
      columns: [
        {
          prop: 'title',
          label: '标题',
          'min-width': 150,
          show: true,
          showOverflowTooltip: true,
        },
        {
          prop: 'sendDept',
          label: '接收部门',
          width: 150,
          show: true,
          showOverflowTooltip: true,
        },
        {
          prop: 'fwDate',
          label: '接收时间',
          width: 150,
          show: true,
          showOverflowTooltip: true,
        },
        {
          prop: 'acceptUser',
          label: '签收人',
          width: 150,
          show: true,
          showOverflowTooltip: true,
        },
        {
          prop: 'backDate',
          label: '签收时间',
          width: 150,
          show: true,
          showOverflowTooltip: true,
        }
      ],
    }
  },
  computed: {
    params() {
      return {
        id: JSON.parse(this.$route.query.params).id
      }
    }
  },
  methods: {
    refresh(v) {
      window.refreshFenFaJiLu = v
    }
  }
}
</script>

<style lang="scss" scoped>
  p {
    span {
      margin: 0 10px 0 5px;
    }
  }
  .el-table {
    margin: 10px 0 0;
  }
  .tel {
    color: #dd6161;
    font-size: 14px
  }
</style>