<template>
  <el-dialog width="600px" :visible.sync="dialogVisible">
    <el-transfer
      v-model="groupChecked"
      :titles="['请选择', '已选择']"
      :props="{
        key: 'ownid',
        label: 'ownname'
      }"
      :data="data" />
    <div class="btn">
      <el-button size="mini" type="primary" @click="dialogVisible = false">关闭</el-button>
    </div>
  </el-dialog>
</template>
<script>
export default {
  name: 'Leader',
  props: {
    visible: {
      default: false
    },
    checkedData: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data() {
    return {
      data: [],
      dialogVisible: this.visible,
      groupChecked: [],
      result: {},
      isFirstFlag: true,
    }
  },
  created() {
    this.getLeader()
  },
  methods: {
    getLeader() {
      /*
       * 获取主送领导人
       * @params {id,owntype}
       * @resoult json
       *  */
      let url = 'jgzinfo/getChildrenBySend';
      let params = {
        id: "D_001061001",
        owntype: "flow_dept"
      }
      this.axios
        .post(url, params)
        .then((res) => {
          if (res) {
            this.data = res.result;
            if(window.formData) {
              this.groupChecked = this.checkedData
            } else {
              let timer = setInterval(() => {
                if(window.formData) {
                  this.groupChecked = this.checkedData;
                  clearInterval(timer)
                }
              }, 0);
            }
          }
        })
    }
  },
  watch: {
    visible(v) {
      this.dialogVisible = v
    },
    dialogVisible(v) {
      this.$emit('update:visible', v)
    },
    groupChecked: {
      deep: true,
      handler(v) {
        let names = [];
        let ids = [];
        v.forEach(val => {
          let o = this.data.find(v => val == v.ownid);
          (o) && (
            names.push(o.ownname),
            ids.push(o.ownid)
          );
        })
        this.$emit('update:dept', {names,ids})
      }
    },
  }
}
</script>
<style lang="scss" scoped>
@import 'dialog.scss';
</style>