<template>
  <div class="padding10">
    <!-- <p>
      当前办理人:<span>李娟</span>
      当前处理状态:<span>正式发文</span>
    </p> -->
    <el-table
      :data="data"
      stripe
      style="width: 100%">
      <el-table-column
        prop="index"
        label="序号"
        width="50" />
      <el-table-column
        prop="wflevename"
        label="办理环节"
        width="200"
        showOverflowTooltip
         />
      <!-- <el-table-column
        prop="receivetime"
        label="开始时间"
        width="140"
        /> -->
      <el-table-column
        prop="sendtime"
        label="发送时间"
        width="140"
        />
      <el-table-column
        prop="staytime"
        label="办理时长"
        width="130" />
      <el-table-column
        width="80"
        prop="sendname"
        label="发送人"
        showOverflowTooltip />
      <el-table-column
        width="80"
        prop="receivename"
        label="接收人"
        showOverflowTooltip />
      <el-table-column
        width="150"
        prop="operatename"
        label="经过路由"
      />
      <el-table-column
        prop="idea"
        label="办理意见"
        min-width="100"
        showOverflowTooltip
         />
      <el-table-column
        width="50"
        prop="phone"
        label="电话">
        <template slot-scope="scope">
          <el-tooltip v-show="scope.row.phone.length" class="item" effect="dark" :content="scope.row.phone" placement="right">
              <span class=" tel el-icon-phone-outline"></span>
          </el-tooltip>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  name: 'LiuChengGenZong',
  data () {
    return {
      data: []
    }
  },
  created() {
    this.getFlowCourse()
      .then(res => {
        this.data = res
      })
  }
}
</script>

<style lang="scss" scoped>
  p {
    span {
      margin: 0 10px 0 5px;
    }
  }
  .el-table {
    margin: 10px 0 0;
  }
  .tel {
    color: #dd6161;
    font-size: 14px
  }
</style>