<template>
  <div class="memberDailog">
    <el-dialog v-loading="treeData.length == 0" title="请选择拟稿人员" :visible.sync="dialogVisible">
      <el-tree
        ref="tree"
        v-if="treeData.length > 0"
        :props="props"
        :load="loadNode"
        lazy
        show-checkbox
        @check-change="handleCheckChange" />
      </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'memberDialog',
  props: {
    visible: {
      default: false
    }
  },
  data () {
    return {
      dialogVisible: this.visible,
      treeData: [],
      props: {
        label: 'ownname',
        children: 'children',
      }
    }
  },
  methods: {
    handleCheckChange() {
      let arr = this.$refs.tree.getCheckedNodes();
      let names = [], ids = [];
      arr.forEach(v => {
        names.push(v.ownname)
        ids.push(v.ownid)
      })
      this.$emit('update:member', {names, ids})
    },
    loadNode(node, resolve) {
      if (node.level === 0) {
        return resolve(this.treeData);
      } else {
        console.log(node)
        this.axios
          .post('jgzinfo/getChildrenBySend', {id: node.data.id, owntype: node.data.owntype})
          .then(res => {
            if(res) {
              resolve(res.result)
            }
          })
      }
    },
    getTreeData() {
      this.axios
        .get('jgzinfo/getChildrenNodes')
        .then(res => {
          if(res) {
            console.log(res, 1111111)
            this.treeData = res.result
          }
        })
    }
  },
  watch: {
    visible(v) {
      this.dialogVisible = v
    },
    dialogVisible(v) {
      this.$emit('update:visible', v)
    }
  },
  created() {
    this.getTreeData()
  },
  computed: {
    getCheckedNodes() {
      // return this.$refs.tree.getCurrentNode()
      console.log(this.$refs.tree)
      return []
    }
  }
}
</script>

<style lang="scss" scoped>
  
</style>