<template>
  <publish-temp class="wrapper" :tool-bar="toolBar" :formData="formData" :title="$route.query.isChuanYue == 1 ? tempTitle : '公文审批单'">
    <!-- 基本信息 -->
    <template slot="baseInfo">
      <baseInfo
        ref="base"
        @update:validate="v => formValidate = v"
        @update:formData="updateFormData"
        :data="formData"
        :checkValidate="checkValidate"
        @update:checkValidate="v => checkValidate = v"
        :historyButtonShow="historyButtonShow"
        @update:historyButtonShow="v => historyButtonShow = v"
        />
    </template>
    <template slot="shqpyj">
      <ShenHeQianPiYiJian />
    </template>
    <!-- 审批意见 start -->
    <!-- <template slot="shqpyj">
      <opinion :config="ideaItems['审批意见']" />
    </template> -->
    <!-- 办公厅意见 -->
    <!-- <template slot="bgtsh">
      <opinion :config="ideaItems['办公厅意见']" />
    </template> -->
    <!-- 部门会签 -->
    <!-- <template slot="bmhq">
      <opinion :config="ideaItems['部门会签']" />
    </template> -->
    <!-- 主办部门意见 -->
    <!-- <template slot="zbbmyj">
      <opinion :config="ideaItems['主办部门意见']" />
    </template> -->
    <!-- 流程跟踪 start -->
    <template slot="lcgz">
      <LiuChengGenZong />
    </template>
    <!-- 分发记录 start -->
    <template slot="ffjl">
      <FenFaJiLu />
    </template>
    <!-- 知会记录 start -->
    <template slot="cyjl">
      <ZhiHuiJiLu />
    </template>
    <template slot="rightBar">
      <rightbarTemp
        :baseForm="baseForm"
        :formValidate="formValidate"
        :data="formData"
        @update:formData="updateFormData"
        :checkValidate="checkValidate"
        @update:checkValidate="v => checkValidate = v"
        @update:historyButtonShow="v => historyButtonShow = v"/>
    </template>
  </publish-temp>
</template>

<script>
import publishTemp from '@/views/newWindow/components/publish/publish'
import rightbarTemp from '@/views/newWindow/components/publish/components/rightBarContent'
import LiuChengGenZong from '@/views/publish/LiuChengGenZong.vue'
import ZhiHuiJiLu from '@/views/publish/ZhiHuiJiLu.vue'
import FenFaJiLu from '@/views/publish/FenFaJiLu.vue'
import baseInfo from './baseInfo'
import { formData, data } from './publish.data.js'
import method from './publish.methods.js'
import ShenHeQianPiYiJian from '@/views/publish/components/ShenHeQianPiYiJian'
// import opinion from '@/views/publish/components/opinion'
let methods = {}
for(let i in method) {
  methods[i] = method[i]
}
export default {
  name: 'Publish',
  components: {
    publishTemp,
    rightbarTemp,
    LiuChengGenZong,
    ZhiHuiJiLu,
    FenFaJiLu,
    baseInfo,
    ShenHeQianPiYiJian
    // opinion
  },
  data,
  methods,
  watch: {
    formData: {
      deep: true,
      handler(v) {
        window.formData = v
      }
    }
  },
  created() {
    /*this.ideaItems['审批意见'].splice(0, 1)
    this.ideaItems['办公厅意见'].splice(1, 1)*/
    this.init()
  },
  mounted() {
    this.baseForm = this.$refs.base.$children[0];
  },
}
</script>
<style scoped lang="scss">
@import 'publish.scss'
</style>