<template>
  <div class="unitsDialog">
    <el-dialog width="600px" v-loading="loading" @close="close" :visible.sync="dialogVisible">
      <div class="top-btn" v-if="outerBtnShow">
        <el-button @click="type = 'jgz'" :class="{actived: type == 'jgz'}" size="mini">内部单位</el-button>
        <el-button @click="type = 'wb'" :class="{actived: type == 'wb'}" size="mini">外部单位</el-button>
        <!-- <el-button @click="type = 'czqy'" :class="{actived: type == 'czqy'}" size="mini">出资企业</el-button> -->
      </div>
      <div class="top-btn" v-else>
        <el-button @click="type = 'dw'" :class="{actived: type == 'dw'}" size="mini">内部单位</el-button>
      </div>
      <div class="el-transfer">
        <div class="el-transfer-panel">
          <p class="el-transfer-panel__header clearfix" v-if="type != 'jgz'">
            <span class="select fl" @click="selectAll">全选</span>
            <span class="fr select" @click="leftChecked = []">取消</span>
          </p>
          <div class="el-transfer-panel__header" v-else>请选择</div>
          <div class="el-transfer-panel__body">
            <el-scrollbar>
              <div v-show="type == 'jgz'">
                <el-tree
                  default-expand-all
                  ref="tree"
                  @check-change="checkChange"
                  show-checkbox
                  :data="jgzData"
                  node-key="ownid"
                  :filter-node-method="filterNode"
                  :props="{label: 'ownname', children: 'children'}" />
              </div>
              <div v-show="type != 'jgz'">
                <span v-show="isClear" class="clear">暂无数据！</span>
                <el-checkbox-group v-model="leftChecked">
                  <el-checkbox :title="v.ownname" v-show="v.type == type && !v.checked" :label="JSON.stringify(v)" v-for="v in data">{{v.ownname}}</el-checkbox>
                </el-checkbox-group>
              </div>
            </el-scrollbar>
          </div>
        </div>
        <div class="el-transfer__buttons">
          <el-button @click="cancelHandle" class="el-transfer__button" :disabled="rightChecked.length == 0" icon="el-icon-arrow-left" circle />
          <el-button v-if="type == 'jgz'" @click="nodeFilter" class="el-transfer__button" :disabled="leftNodesChecked.length == 0" icon="el-icon-arrow-right" circle />
          <el-button v-else @click="checkedHandle" class="el-transfer__button" :disabled="leftChecked.length == 0" icon="el-icon-arrow-right" circle />
        </div>
        <div class="el-transfer-panel">
          <p class="el-transfer-panel__header clearfix">
            <span class="select fl" @click="rightChecked = checkedResult">全选</span>
            <span class="fr select" @click="rightChecked = []">取消</span>
          </p>
          <div class="el-transfer-panel__body">
            <el-scrollbar>
              <el-checkbox-group v-model="rightChecked">
                <el-checkbox :title="JSON.parse(v).ownname" :label="v" v-for="v in checkedResult"><span :style="{color: isRed(v) ? 'red' : ''}">{{JSON.parse(v).ownname}}</span></el-checkbox>
              </el-checkbox-group>
            </el-scrollbar>
          </div>
        </div>
      </div>
      <div class="btn">
        <el-button size="mini" type="primary" @click="dialogVisible = false">关闭</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
export default {
  name: 'unitsDialog',
  props: {
    checkedData: {
      type: Object,
      default: () => {
        return {ids: [], names: []}
      }
    },
    visible: {
      type: Boolean,
      default: false,
    },
    outerBtnShow: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      dialogVisible: this.visible,
      type: 'dw',
      loading: true,
      data: [],
      checkedResult: [],
      leftChecked: [],
      leftNodesChecked: [],
      rightChecked: [],
      length: {
        dw: 0,
        wb: 0,
        cz: 0
      },
      leftCheckALL: false,
      rightCheckALL: false,
      treeDefaultData: [],
      firstFlag: true
    }
  },
  computed: {
    isClear() {
      return !this.data.some(v => v.checked == false && v.type == this.type)
    },
    jgzData() {
      return this.$store.state.jgzInfo
    }
  },
  methods: {
    // ...mapActions(['getWbInfo', 'getDwInfo', 'getCzqyInfo', 'getJGZInfo']),
    ...mapActions(['getWbInfo', 'getDwInfo', 'getJGZInfo']),
    isRed(v) {
      v = JSON.parse(v)
      let res = false
      if(v.type == void(1)) {
        res = this.type == 'jgz'
      } else {
        res = this.type == v.type
      }
      return res
    },
    selectAll() {
      let arr = [];
      let d = this.data
      for(let i = 0 ; i < d.length; i++) {
        (d[i].type == this.type && !d[i].checked) && (arr.push(JSON.stringify(d[i])))
      }
      this.leftChecked = arr
    },
    close(v) {
      this.$emit('update:visible', v)
    },
    setCheckedStatus(data, status) {
      /**
      * 设置this.data[index].checked
      * @param data {Array} 需要操作选中集合
      * @param status {Boolen} 设置的值
      * @return {void}
      * @author cheng_xiaona
      */
      let removeArr = []
      data.forEach(v => {
        let o = JSON.parse(v);
        let provider = this.data.find(val => val.ownid == o.ownid);
        let item = this.data.find(val => val.ownid == o.ownid);
        console.log(item && typeof item.checked)
        if(item && typeof item.checked != 'undefined') {
          this.data.find(val => val.ownid == o.ownid).checked = status;
        }
      })
    },
    checkedHandle() {
      let data = JSON.parse(JSON.stringify(this.leftChecked));
      this.setCheckedStatus(data, true);
      this.checkedResult = this.checkedResult.concat(data);
      this.leftChecked = []
    },
    cancelHandle() {
      let data = this.copyObj(this.rightChecked);
      this.setCheckedStatus(data, false);
      data.forEach(v => {
        let i = this.checkedResult.findIndex(c => c == v)
        this.checkedResult.splice(i, 1)
      })
      this.rightChecked = []
      this.$refs.tree.filter()
    },
    checkChange() {
      let checked = this.$refs.tree.getCheckedNodes();
      let arr = [];
      checked.forEach(v => {
        (v.isLeaf) && (arr.push(v))
      })
      this.leftNodesChecked = arr
    },
    nodeFilter() {
      let lChecked = this.copyObj(this.leftNodesChecked);
      lChecked.forEach(v => {
        (!this.checkedResult.find(vv => JSON.parse(vv).ownid == v.ownid)) && (this.checkedResult.push(JSON.stringify(v)))
      })
      this.leftNodesChecked = [];
      this.$refs.tree.filter();
    },
    filterNode(val, data) {
      this.$refs.tree.setCheckedKeys([]);
      return this.checkedResult.find(v => JSON.parse(v).ownid == data.ownid) == void(1)
    },
    getInfo(type, store, callback) {
      return new Promise((resolve, reject) => {
        let d = store;
        let success = res => {
          let d = res;
          this.length[type] = d.length
          d.forEach(v => v.type = type)
          resolve(d)
        }
        if(d) {
          success(JSON.parse(JSON.stringify(d)))
        } else {
          callback()
            .then(success)
        }
      })
    },
    formatData(data) {
      /**
      * 去重
      * @param data {Array} 需要去重的对象
      * @return {void}
      * @author cheng_xiaona 2019/06/14 15:53
      */
      let res = [];
      data.forEach(v => {
        (res.find(r => r.ownid == v.ownid) == void(1)) && (res.push(v))
      })
      return res
    },
    setData(res) {
      this.loading = false;
      let data = [];
      res.forEach(v => {
        data = data.concat(v)
      })
      data = this.formatData(data);
      data.forEach(v => v.checked = false);
      this.treeDefaultData = this.copyObj(this.checkedData.ids)
      Array.from(this.checkedData.ids).forEach((v, i) => {
        let o = data.find(a => a.ownid === v);
        if(o) {
          o.checked = true
          this.checkedResult.push(JSON.stringify(o))
        } else {
          this.checkedResult.push(JSON.stringify({ownid: v, ownname: this.checkedData.names[i]}))
        }
      })
      let base = this.copyObj(this.checkedData.ids);

      this.data = data;
    },
    isUndefined(v) {
      return v.isLeaf == void(1)
    },
    getData() {
      /*let P = [
        this.getInfo('dw', this.$store.state.DwInfo, this.getDwInfo),
        this.getInfo('wb', this.$store.state.WbInfo, this.getWbInfo),
        this.getInfo('czqy', this.$store.state.CzqyInfo, this.getCzqyInfo),
      ];*/
      let P = [
        this.getInfo('dw', this.$store.state.DwInfo, this.getDwInfo),
        this.getInfo('wb', this.$store.state.WbInfo, this.getWbInfo),
      ];
      if(this.jgzData.length == 0) P.push(this.getJGZInfo());
      Promise
        .all(P)
        .then((res) => {
          if(window.formData) {
            this.setData(res)
          } else {
            let timer = setInterval(() => {
              if(window.formData) {
                this.setData(res);
                clearInterval(timer)
              }
            }, 0)
          }
        })
    }
  },
  created() {
    this.getData();
    (this.outerBtnShow) && (this.type = 'jgz');
  },
  mounted() {
    console.log(999, this.$refs)
  },
  watch: {
    visible(v) {
      this.dialogVisible = v;
      if(this.firstFlag) {
        this.firstFlag = false;
        let timer = setInterval(() => {
          if(this.$refs.tree) {
            clearInterval(timer);
            this.$refs.tree.filter()
          }
        }, 0)
      }
    },
    checkedResult: {
      deep: true,
      handler(v) {
        let names = [], ids = [];
        v.forEach(val => {
          let o = JSON.parse(val);
          names.push(o.ownname)
          ids.push(o.ownid)
        })
        this.$emit('update:dept', {names, ids})
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@import 'dialog.scss';
.actived {
  color: #fff;
  border-color: #007373;
  background: #007373
}
.el-checkbox {
  display: block;
  padding: 0 .5em;
  line-height: 30px
}
/deep/ {
  .el-dialog__body {
    padding-top: 0
  }
  .el-transfer-panel__header {
    padding:0 10px;
  }
  .el-transfer {
    margin: 20px 0 0 0;
    width: 100%;
  }
  .el-transfer-panel {
    width: 230px
  }
  .el-tree-node__label {
    font-size: 12px;
  }
}
.select {
  cursor: pointer;
}
.top-btn {
  position: absolute;
  top: 26px;
  left: 20px;
}
.el-transfer-panel__body {
  position: relative;
}
.el-scrollbar {
  width: 100%;
  height: 100%;
}
.clear {
  padding: 10px;
  font-size: 12px;
  text-align: center;
  display: block
}
</style>