<template>
  <div class="padding10" style="height: 530px">
    <TableTemplate
      :columns="columns"
      url="pendread/getSendReadInfo"
      :params="params" />
  </div>
</template>

<script>
import TableTemplate from '@/components/table/temp.table1'
export default {
  name: 'LiuChengGenZong',
  components: {
    TableTemplate
  },
  data () {
    return {
    }
  },
  computed: {
    params() {
      return {
        id: JSON.parse(this.$route.query.params).id
      }
    },
    columns() {
      let states = {
        0: '待阅',
        1: '已阅',
      }
      return [
        {
          prop: "inDeptName",
          label: "接收部门",
          'min-width': "200",
          'showOverflowTooltip': true,
        },
        {
          prop: "inUser",
          label: "接收人",
          width: "100",
          showOverflowTooltip: true,
        },
        {
          prop: "sendUser",
          label: "发送人",
          width: "100",
          showOverflowTooltip: true,
        },
        {
          prop: "creTime",
          label: "接收时间",
          width: "150",
          showOverflowTooltip: true,
        },
        {
          prop: "seeFlag",
          label: "处理状态",
          width: "200",
          showOverflowTooltip: true,
          createTemp(scope) {
            return states[scope.row.seeFlag]
          }
        }
      ]
    }
  },
}
</script>

<style lang="scss" scoped>
  p {
    span {
      margin: 0 10px 0 5px;
    }
  }
  .el-table {
    margin: 10px 0 0;
  }
  .tel {
    color: #dd6161;
    font-size: 14px
  }
</style>