<template>
  <el-scrollbar>
    <div class="tit">{{title}}</div>
    <slot/>
  </el-scrollbar>
</template>

<script>
// import ECharts from 'vue-echarts'
export default {
  name: 'statistics',
  props: {
    title: {
      type: String,
      default: '各部门发文处理时效'
    },
  },
  data () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
.el-tabs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.el-tab-pane {
  width: 100%;
  height: 100%;
}
/deep/ {
  .el-tabs__content {
    flex: 1;
    padding: 0;
  }
}
.el-scrollbar {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content {
  height: 100%;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}
.tit {
  position: fixed;
  top: 4px;
  left: 10px;
  z-index: 1002;
  font-size: 13px;
}
</style>