<template>
  <div class="card gray" ref="card" :style="{height: (open ? 50 + height : 50) + 'px'}" :class="theme">
    <h3 :class="{up: open}" @click="open = !open">
      <b class="iconfont" v-html="icon"></b>
      {{title}}
      <div class="right">
        <slot name="bar" />
        <span class="el-icon-arrow-down icon" />
      </div>
    </h3>
    <div class="content-wrapper" ref="wrapper">
      <slot />
    </div>
  </div>
</template>
<script>
export default {
  name: 'card',
  props: {
    closed: false,
    icon: {
      type: String,
      default: '&#xe7a9;'
    },
    title: '',
    cardClick: {
      type: Function,
      default: status => {}
    },
    updateData: {
      type: [Number, Array, Object, Function],
      default: 0
    },
    theme: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      className: '',
      open: !this.closed,
      height: 0
    }
  },
  methods: {
    computedWrapperHeight() {
      this.height = this.$refs.wrapper.clientHeight;
    }
  },
  mounted() {
    this.computedWrapperHeight();
  },
  updated() {
    this.$nextTick(this.computedWrapperHeight)
  },
  watch: {
    closed(v) {
      this.open = !v;
    },
    open(v) {
      this.$emit('update:closed', !v)
      // this.$nextTick(this.computedWrapperHeight)
    },
    updateData: {
      deep: true,
      handler(v) {
        // this.$nextTick(this.computedWrapperHeight)
      }
    }
  },
}
</script>
<style lang="scss" scoped>
@import './h3.scss';
.card {
  margin-bottom: 10px;
  overflow: hidden;
  transition: all .3s;
  color: #333;
  font-size: 12px;
}
.content-wrapper {
  background: #fff;
  padding: 10px;
}
.gray {
  box-shadow: 0 2px 13px #ccc;
  border-radius: 5px;
  border: 1px solid #efefef;
  /deep/ {
    & > h3 {
      font-size: 13px;
      border-bottom: 1px solid #eee;
      .iconfont {
        font-size: 1em;
        margin-right: .5em;
        color: #333;
      }
      .icon {
        color: #333;
        font-size: 13px;
      }
    }
    .el-form--inline .el-form-item__label,
    .el-input__inner {
      font-size: 12px
    }
  }
}
</style>