$normalFontColor: #333;
$blueColor: blue;
h3 {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 2px solid #1464b9;
  font-size: 15px;
  color: $normalFontColor;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #fff;

  .iconfont:not(.icon) {
    color: $blueColor;
    margin-right: 10px;
    font-size: 1.2em;
  }
  .icon {
    transition: all .3s;
    margin-left: 1em;
  }
  .right {
    position: absolute;
    top: 50%;
    right: 20px;
    /*transform: translateY(-50%);*/
    margin-top: -24.8px;
  }
  &.up {
    .el-icon-arrow-down {
      transform: rotate(180deg);
    }
  }
  &.gray {
    h3 {
      font-size: 13px
    }
  }
}