<template>
  <h3 class="flex" :class="theme">
    <b class="iconfont" v-html="icon"></b>
    {{title}}
    <div class="fr position-r">
      <slot />
    </div>
  </h3>
</template>

<script>
export default {
  name: 'h3Bar',
  props: {
    title: {
      type: String,
      default: 'bar'
    },
    icon: {
      type: String,
      default: '&#xeba1;'
    },
    theme: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'h3.scss';
h3 {
  cursor: auto;
}
.fr {
  display: flex;
  align-items: center;
  /deep/ .iconfont {
    cursor: pointer
  }
}

</style>
<style>
</style>