<template>
  <div class="wrapper publish-style">
    <h3>办理意见</h3>
    <div class="form-item">
      <el-select v-model="idea" @change="submitIdea = idea">
        <el-option-group v-for="v in ideaOptions" :label="v.label">
          <el-option v-for="c in v.options" :value="c.value || c" :label="c.value || c" />
          <!-- <el-option label="拟同意" />
          <el-option label="不同意" /> -->
        </el-option-group>
        <!--  <el-option-group label="以下是个人意见">
         <el-option v-for="v in proposalOptions" :label="v" />
       </el-option-group> -->
      </el-select>

      <el-button @click="setOptionVisible = true" size="mini" type="primary">常用意见</el-button>
    </div>
    <div class="box">
      <!-- <el-input v-model="" />
      <div class="border el-textarea">
        <textarea autocomplete="off" rows="8" placeholder="请填写意见" class="el-textarea__inner" style="resize: none; min-height: 29px;" v-model="submitIdea" />
      </div> -->
      <el-input class="border" v-model="submitIdea" resize="none" :rows="8" type="textarea" placeholder="请填写意见" />
    </div>
    <div v-if="buttons && buttons.some(v => v.num == 'SBT014')">
      <h3>
        <el-button size="mini" type="primary" @click="getIdeaLinks">{{getButtonName('SBT014')}}</el-button>
      </h3>
      <el-dialog
        width="65%"
        class="idea-dialog"
        title="提取意见"
        :visible.sync="setOpinionDialogVisibale">
        <div class="idea-link" v-loading="!ideaLinks">
          <el-checkbox-group v-model="collectIdea" >
            <el-checkbox :label="v.idea" v-for="v in ideaLinks">【{{v.name}}】{{v.idea}}</el-checkbox>
          </el-checkbox-group>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="setOpinionDialogVisibale = false">关 闭</el-button>
          <el-button :disabled="!collectIdea.length" type="primary" size="mini" @click="() => {submitIdea = collectIdea.join('\n'); setOpinionDialogVisibale = false}">确认</el-button>
        </div>
      </el-dialog>
    </div>
    <div v-if="data.outId || data.inId || data.id">
      <h3>下一环节<span v-if="PrewflevelId && findPrewflevel">【<em>上一环节</em>: {{findPrewflevel.name}}】</span></h3>
      <div class="box">
        <div class="border padding10">
          <div class="clearfix">
            <el-radio v-for="v in radioData" v-model="nextNode" :label="v">{{v.name}}</el-radio>
          </div>
          <el-button v-if="viewType != 'view'" :diabled="!nextNode" size="mini" type="primary" @click="handleSubmit">提交</el-button>
          <el-button v-if="viewType == 'view'" size="mini" type="primary">撤回</el-button>
        </div>
      </div>
    </div>
    <div class="box" style="padding-top: 0">
      <div class="border" style="padding: 0 0 10px 10px">
        <el-button v-if="viewType != 'view'" size="mini" type="primary" @click="handleSave()">保存</el-button>
        <!-- 签章 -->
        <el-button v-show="formData.outCode || formData.taskCode || formData.code" size="mini" v-if="buttons && buttons.some(v => v.num == 'SBT005')" type="primary" @click="handleQianZhang">{{getButtonName('SBT005')}}</el-button>
        <!-- 分发：发文 -->
        <el-button size="mini" v-if="buttons && buttons.some(v => v.num == 'SBT006')" type="primary" @click="handleFenFa('SBT006')">{{getButtonName('SBT006')}}</el-button>
        <!-- 交办：收文 -->
        <el-button size="mini" v-if="buttons && buttons.some(v => v.num == 'SBT011')" type="primary" @click="handleJiaoBan">{{getButtonName('SBT011')}}</el-button>
        <!-- 分发：签报、白头文、发文 -->
        <el-button size="mini" v-if="buttons && buttons.some(v => v.num == 'SBT009')" type="primary" @click="handleFenFa('SBT009')">{{getButtonName('SBT009')}}</el-button>
        <!-- 办结按钮 -->
        <el-button size="mini" v-if="buttons && buttons.some(v => v.num == 'SBT010')" type="primary" @click="handleBanJie">{{getButtonName('SBT010')}}</el-button>
        <!-- 交办 -->
        <!-- <el-button v-if="$route.query.from && $route.query.from != 'CaoGao' && ($route.name == 'ShouWen' && $route.query.documentType != 'bmsw')" size="mini" type="primary" @click="handleJiaoBan">交办</el-button> -->
        <!-- <el-button v-if="($route.query.from && $route.query.from != 'CaoGao') || ((formData.outId || formData.inId || formData.id) && formData.ifChs == '是')" size="mini" type="primary" @click="ZhiHuiDialogVisible = true">知会</el-button> -->
        <el-button v-if="(formData.outId || formData.inId || formData.id) || (($route.name == 'ShouWen' && $route.query.documentType != 'bmsw') && formData.ifChs == '是')" size="mini" type="primary" @click="ZhiHuiDialogVisible = true">
          {{$route.query.documentType == 'bmsw' ? '传阅' : '知会'}}
        </el-button>
        <el-button v-if="isYJ && !(buttons && buttons.some(v => v.num == 'SBT010'))" size="mini" type="primary" @click="handleBanJieBMSW">
          办结
        </el-button>
        <!-- <el-button type="primary" v-if="isCaoGao" size="mini" @click="handleDeleteCaoGao([{id: data.outId || data.inId, fileTypeId: data.flowType}], true)">
          删除
        </el-button> -->
        <el-button size="mini" type="primary" @click="$store.commit('SET_SHOWPRINT', true)">打印</el-button>
        <el-button v-show="false" size="mini" type="primary" @click="handleGoToWorkStream">移动端提交工作流</el-button>
      </div>
    </div>
    <el-dialog :visible.sync="dialogVisible">
      <div class="dialog-box clearfix">
        <div class="fl">
          待选参与者
          <el-scrollbar style="width: 100%;height: 300px">
            <el-tree ref="tree"
              @check-change="checkChange"
              :data="treeData"
              :default-checked-keys="defaultCheckedKeys"
              show-checkbox default-expand-all node-key="id" :props="{label: 'name', children: 'nodes'}" />
          </el-scrollbar>
        </div>
        <div class="fr">
          <p>已选参与者</p>
          <div class="tip">{{memberText}}</div>
          <p>办理类型：</p>
          <el-radio :selected="i == 0" v-model="examinetag" style="width: auto; margin: 0 5px" v-for="(v, i) in examinetagRadioData" v-if="v.name != '共同办'" :label="v.type">{{setName(v.name)}}理</el-radio>
          <ul class="tip">
            <li v-for="(v, i) in tips">{{i}}理：{{v}}</li>
          </ul>
          <div v-show="zhiHuiMemeber.length">
            <p>知会人员</p>
            <p class="tip">{{zhiHuiMemeber.join(',')}}</p>
          </div>
        </div>
      </div>
      <div class="btns">
        <el-button size="mini" type="primary" @click="handleSubmitMember(false)">提交</el-button>
        <el-button size="mini" @click="dialogVisible = false">取消</el-button>
        <el-button v-if="(formData.outId || formData.inId || formData.id) || (($route.name == 'ShouWen' && $route.query.documentType != 'bmsw') && formData.ifChs == '是')" size="mini" type="primary" @click="ZhiHuiDialogVisible = true">知会</el-button>
      </div>
    </el-dialog>
    <zhiHuiDailog
      :visible="ZhiHuiDialogVisible"
      @update:visible="v => ZhiHuiDialogVisible = v"
      @update:isZhiHui="handleSubmitChuanYue"
      @update:data="v => zhiHuiMemeber = v.names"
      :from="'ZhiHui'"/>
    <el-dialog
      title="请选择发文类型"
      :visible.sync="checkVisible"
      width="30%">
      <div class="checked-dialog">
        <el-radio value="1" v-model="extendattr" :label="false">发文</el-radio>
        <el-radio value="" v-model="extendattr" label="subInfo=2">特殊发文</el-radio>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" size="mini" @click="handleSelectFaWenType">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog
      width="35%"
      class="idea-dialog"
      title="设置常用意见"
      :visible.sync="setOptionVisible">
      <div class="checked-dialog">
        <ul>
          <li class="ideas" v-for="(v, i) in ideaOptions[1].options">
            <p>{{v.value}}</p>
            <div>
              <span @click="handleSortIdea(v, -1)" v-show="i < ideaOptions[1].options.length - 1" class="el-icon-sort-down" title="向下排序" />
              <span @click="handleSortIdea(v)" v-show="i > 0" class="el-icon-sort-up" title="向上排序" />
              <!-- <em v-show="v.isCustom != 1" @click="handleSetCustomIdea(v)">设为默认</em> -->
              <span @click="handleDeleteIdea(v)" title="删除" class="el-icon-close" />
            </div>
          </li>
        </ul>
        <el-input resize="none" placeholder="新增意见" v-model="createIdea" type="textarea" />
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button size="mini" @click="setOptionVisible = false">关 闭</el-button>
        <el-button :disabled="!createIdea" type="primary" size="mini" @click="handleAddIdea">新 增</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import zhiHuiDailog from '@/views/ShouWen/yueZhiDialog.vue'
import methods from './rightBarContent.method.js'

export default {
  name: 'rightBarContent',
  components: {
    zhiHuiDailog
  },
  props: {
    data: {
      defualt: {}
    },
    formValidate: {
      default: false,
      type: Boolean
    },
    baseForm: {
      default: null
    },
    a: {
      type: String
    }
  },
  data() {
    let ideaOptions = [
      {
        label: '请选择',
        options: ['同意', '拟同意', '不同意']
      }, {
        label: '以下是个人意见',
        options: []
      }
    ]
    return {
      collectIdea: [],
      setOpinionDialogVisibale: false, //提取意见
      defaultCheckedKeys: [],
      historyVisible: false, //查看历史版本
      setOptionVisible: false,
      checkVisible: false,
      idea: '',
      ideaOptions,
      submitIdea: '',
      optionData: null,//下一环节提交的的params
      deptData: null, //选择人员提交的params
      firstInitWork: true,
      test: null,
      flag: true,
      geWorkTime: 0,
      viewType: 'create',
      tips: {
        '并行办': '选择的办理人不分先后顺序并行办理；',
        '顺序办': '按选择的办理人顺序依次办理；',
        // '竞争办': '选择的办理人只要有一个用户办理即可;',
      },
      dialogVisible: false,
      ZhiHuiDialogVisible: false,
      formData: this.data,
      nextNode: null,
      radioData: [],//下一环radio数据
      examinetag: null,
      examinetagRadioData: [],
      treeData: [{
        "deptName": "规划管理处",
        "name": "刘瑾",
        "deptId": "001061003003",
        "only": "false",
        "checked": "true",
        "id": "8a8782e9574258f401574280ce88011e",
        "type": "user",
        "selected": "true",
        "status": ""
      }],
      memberChecked: [],
      memberText: '',
      workStreamData: {
        idea: ''
      },
      extendattr: false,
      PrewflevelId: null,//上一环节办理id
      createIdea: null,
      order: 999,
      historyData: null,
      zhiHuiMemeber: [],
      isFirstFlag: true,//formData表单第一次更新并获取了id
      ideaLinks: null
    }
  },
  computed: {
    routeParams() {
      return JSON.parse(this.$route.query.params)
    },
    findPrewflevel() {//上一环节详情
      return this.radioData.find(v => v.nextWfleveId == this.PrewflevelId)
    },
    isCaoGao() {
      return (this.data.outId || this.data.inId || this.data.id) && ((this.$route.query.from && this.$route.query.from == 'CaoGao') || !this.$route.query.from)
    },
    buttons() {
      return this.$store.state.buttons
    },
    isYJ() {
      return this.$route.query.documentType == 'bmsw' && this.$route.name == 'ShouWen' && this.formData.ifYb == 1
    }
  },
  methods,
  created() {
    let Q = this.$route.query
    let from = Q.from || '';
    this.viewType = Q.viewType || 'create';
    if(from == 'DaiBan') {
      this.getButtons()
      this.getPrewflevelId()
    }
    this.getIdeas();
  },
  watch: {
    data: {
      deep: true,
      handler(v) {
        // this.formData = v;
        this.$set(this, 'formData', v)
        let initFroms = ['DaiBan', 'CaoGao'];
        let from = this.$route.query.from || 'CaoGao';
        if ((v.outId || v.inId || v.id) && this.flag && initFroms.includes(from)) {
          let openItems = this.$store.state.specialDepartments.specail
          let U = this.$store.state.userInfo
          if((this.viewType == 'create' || from == 'CaoGao') && this.$route.name == 'Publish' && openItems.includes(U.deptId)) {
            this.checkVisible = true;
          }
          this.initWorkData();
        }
        if(this.formData.hqDeptId && this.nextNode && this.nextNode.name == '会签部门') {
          this.memberText = v.hqDept.join('/')
          this.defaultCheckedKeys = this.copyObj(v.hqDeptId)
        }
      }
    },
    formData: {
      deep: true,
      handler(v) {
        console.log('formData update', this.formData.inId)
        // this.$emit('update:formData', v)
      }
    },
    nextNode: {
      deep: true,
      handler(v) {
        this.defaultCheckedKeys = this.formData.hqDeptId && v.name == '会签部门' ? this.copyObj(this.formData.hqDeptId) : []
      }
    }
  }
}
</script>
<style lang="scss" scoped>
h3 {
  position: relative;
  padding: 0 10px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  span {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12px;
    em {
      color: #dd6161;
      font-style: normal;
    }
  }
}

.form-item {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0 100px 0 10px;
  margin-top: 10px;
  .el-button {
    position: absolute;
    right: 10px;
    top: 2px;
    margin: 0;
  }
}

.box {
  padding: 10px;
}

.text-center {
  text-align: center
}

.el-select {
  width: 100%;
  font-size: 12px;
}

.border {
  border: 1px solid #ddd;
}

.el-radio {
  width: 50%;
  margin-right: 0;
  height: 20px;
  line-height: 20px
}

.clearfix {
  margin-bottom: 10px;
}

.tip {
  padding: 10px;
  background: #efefef;
  border: 1px solid #ddd;
  font-size: 12px;
  line-height: 1.5em;
  margin: 10px 0;
}

.dialog-box {

  .fl,
  .fr {
    width: 49%;
    overflow: hidden;
  }
}
.idea-link {
  .el-checkbox {
    width: 100%;
    position: relative;
    padding-left: 12px;
    box-sizing: border-box;
  }
  /deep/ {
    .el-checkbox__input {
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -6.8px;
    }
    .el-checkbox__label {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding-left: .5em;
      white-space: pre-wrap;
      display: block
    }
  }
}
/deep/ {
  .el-button+.el-button {
    margin: 0;
  }
  .el-button,
  .el-button + .el-button {
    margin: 10px 10px 0 0
  }
}

.btns {
  text-align: center
}
.checked-dialog {
  text-align: center;
  .el-radio {
    width: 30%;
    margin: 0 5px;
  }
}
.dialog-footer {
  text-align: center;
}
.ideas {
  display: flex;
  font-size: 12px;
  border-bottom: 1px dashed transparent;
  transition: all .3;
  line-height: 2em;
  &:hover {
    border-color: #ddd;
  }
  p {
    position: relative;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }
  &>div {
    margin-left: auto;
  }
  span,
  em {
    color: green;
    cursor: pointer;
    margin-left: .5em;
  }
  em {
    color: #f56c6c;
    font-style: normal;
  }
}
.idea-dialog {
  .el-textarea {
    border: 1px solid #ddd;
    margin-top: 10px;
  }
  /deep/ {
    .el-dialog__body {
      padding: 10px 20px
    }
  }
}
</style>