<template>
  <div class="table">
    
  </div>
</template>

<script>
export default {
  name: 'table',
  props: {
    data: {
      type: Array,
      default: () => []
    },
    column: {
      {
        type: Array,
        default: () => []
      }
    }
  },
  data () {
    return {
      
    }
  }
}
</script>

<style lang="scss" scoped>
.el-table {
  margin: 10px 0 0;
}
</style>