<template>
  <el-form v-if="$route.query.isChuanYue == 1" disabled class="publish-style form-disabled" ref="formData"inline>
    <el-form-item prop="title" class="w100" label="公文标题" >
      <el-input v-model="formData.title" />
    </el-form-item>
    <el-form-item prop="comingCode" class="w50" label="来文文号" >
      <el-input v-model="formData.comingCode" />
    </el-form-item>
    <el-form-item prop="comingDate" class="w50" label="来文时间" >
      <el-input v-model="formData.comingDate" />
    </el-form-item>
    <el-form-item prop="comingDeptName" class="w50" label="来文单位" >
      <el-input v-model="formData.comingDeptName" />
    </el-form-item>
    <el-form-item prop="inSort" class="w50" label="来文类型" >
      <el-input v-model="formData.inSort" />
    </el-form-item>
    <el-form-item label="公文正文" class="w100">
      <div class="box" >
        <p>
          <i class="icon el-icon-document"></i>{{formData.title}}.doc
          <span @click="handlePreviewDocument" class="el-button el-button--primary el-button--mini">查看</span>
        </p>
      </div>
    </el-form-item>
    <el-form-item label="会签附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.outId " isHQ />
      </div>
    </el-form-item>
    <el-form-item label="公文附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.outId" />
      </div>
    </el-form-item>
    <el-form-item label="传阅范围" class="w100">
      <div class="box">
        {{readRange}}
      </div>
    </el-form-item>
  </el-form>
  <!-- , 'link-hidden': -->
  <el-form v-else :rules="rules" class="publish-style clearfix" :disabled="viewType == 'view'" ref="formData" :class="{'form-disabled': viewType == 'view', 'link-hidden': linkHidden }" :model="formData" inline>
    <div class="first-line">
      <el-form-item v-if="!canBeSelected" class="w100" label="公文编号">
        <el-input disabled :value="formData.outCode"/>
      </el-form-item>
      <div v-else class="w100 out_code clearfix">
        <el-form-item :rules="[{required: true, message: '请选择字号'}]" class="w65 fl" prop="outWord" label="字号">
          <el-select v-model="formData.outWord" @change="outWordChange">
            <el-option v-if="outWordOptions" v-for="(v, i) in outWordOptions" :label="v.text" :value="i" />
          </el-select>
        </el-form-item>
        <el-form-item class="w20 fl">
          <div class="el-input__inner" :title="formData.year">
            〔{{formData.year}}〕
          </div>
        </el-form-item>
        <el-form-item class="w15 fl" :title="formData.outNum">
          <el-input v-model="formData.outNum" />
        </el-form-item>
      </div>
      <div class="right">
        <el-form-item class=" padding_left_5" label="紧急程度">
          <el-select v-model="formData.needGrade">
            <el-option v-for="(v, i) in emergencyLevel" :label="v" :value="v" />
          </el-select>
        </el-form-item>
        <el-form-item class=" padding_left_3" label="密级">
          <el-select v-model="formData.secretGrade">
            <el-option v-for="(v, i) in secretLevel" :label="v" :value="v" />
          </el-select>
        </el-form-item>
        <el-form-item prop="secretDate" class="padding_left_5" label="保密期限">
          <!-- <el-select  :value="0">
            <el-option v-for="(v, i) in storageTime" :label="v" :value="i" />
          </el-select> -->
          <el-input v-model="formData.secretDate" />
        </el-form-item>
      </div>
    </div>
    <el-form-item prop="title" class="w100" label="公文标题">
      <div class="el-input">
        <input type="text" v-model="formData.title" class="el-input__inner" @input="inputChange" />
      </div>
      <div class="input-box">
        <el-input v-model="formData.title" />
      </div>
    </el-form-item>
    <el-form-item prop="bgshgUserName" class="w100" label="呈送领导" >
      <div class="box leaders">
        <span v-if="viewType != 'view'" @click="leaderDialog = true" class="pointer link"><i class="icon el-icon-search"></i>选择呈送领导</span>
        <div v-show="formData.bgshgUserName.length" class="names" v-text="formData.bgshgUserName.join(',')" :title="formData.bgshgUserName.join(',')"/>
      </div>
    </el-form-item>
    <el-form-item class="w50" label="拟稿单位">
      <el-input disabled :value="formData.ngDeptName" />
    </el-form-item>
    <el-form-item class="w50" label="拟稿人员">
      <el-input disabled :value="formData.draftsmanName" />
    </el-form-item>
    <el-form-item class="w50" label="联系电话">
      <el-input v-model="formData.contactPhone" />
    </el-form-item>
    <el-form-item class="w50" label="拟稿日期">
      <div class="el-input__inner">{{formData.ngDate}}</div>
    </el-form-item>
    <el-form-item prop="hqDept" class="w100" label="会签部门" >
      <div class="box leaders" >
        <span v-if="viewType != 'view'" @click="visible3 = true" class="pointer link"><i class="icon el-icon-search"></i>选择会签部门</span>
        <div v-show="formData.hqDept.length" class="names" v-text="formData.hqDept.join(',')" :title="formData.hqDept.join(',')" />
      </div>
    </el-form-item>
    <el-form-item label="阅知部门" class="w100" prop="zhsDept">
      <div class="box leaders">
        <div v-if="viewType != 'view'">
          <span class="pointer link" @click="visible1 = true"><i class="icon el-icon-search"></i>选择阅知部门</span>
        </div>
        <div v-show="formData.zhsDept.length" class="names" v-text="formData.zhsDept.join(',')" :title="formData.zhsDept.join(',')" />
      </div>
    </el-form-item>
    <el-form-item label="公文正文" class="w100">
      <div class="box" >
        <!-- <p v-if="formData.title && viewType != 'view'">
          <i class="icon el-icon-document"></i>{{formData.title}}.doc
          <el-button style="margin: 5px" @click="handleEditDocument" type="primary" v-if="formData.outId" size="mini">编辑</el-button>
        </p>
        <p v-if="formData.title && viewType == 'view'">
          <i class="icon el-icon-document"></i>{{formData.title}}.doc
          <span class="el-button el-button--primary el-button--mini" @click="handlePreviewDocument">查看</span>
        </p> -->
        <p class="document-content">
          <span v-show="formData.title"><i class="icon el-icon-document" />
          {{formData.title}}.doc</span>
          <el-button @click="handleEditDocument" type="primary" v-if="formData.outId && (formData.title && viewType != 'view')" size="mini">编辑</el-button>
          <span class="el-button el-button--primary el-button--mini" v-if="formData.title && viewType == 'view'" @click="handlePreviewDocument">查看</span>
          <span v-if="historyButtonShow" @click="historyDialog = true" class="el-button el-button--primary el-button--mini">过程稿</span>
          <uploadFile style="margin-left: 10px" v-if="viewType != 'view'" v-show="formData.originText" buttonSize="mini" buttonText="上传" onlyUpload :id="formData.originText" />
        </p>
      </div>
    </el-form-item>
    <el-form-item label="会签附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.outId " isHQ />
      </div>
    </el-form-item>
    <el-form-item label="公文附件" class="w100">
      <div class="box files">
        <uploadFile :onlyList="viewType == 'view'" :id="formData.outId" />
      </div>
    </el-form-item>
    <el-form-item label="关联文档" class="w100">
      <div class="box files">
        <el-button v-if="$store.state.permission == 'edit'" @click="documentDialog = true" :disabled="!(formData.outId || formData.inId)" icon="el-icon-search" size="mini" type="primary">选择关联文档</el-button>
        <div class="names">
          <p @click.self="DaiBanHandleClick(v, 'YiBan', true)" v-for="v in linkInfo">
            <i class="icon el-icon-document"></i>
            【{{v.poName}}】{{v.linkName}}
            <span class="el-icon-error" v-if="isCurrent && $store.state.permission == 'edit'" @click.self="handleDeleteLinkInfo(v)" />
          </p>
        </div>
      </div>
    </el-form-item>
    <unitsDialog
      @update:dept="v => superJgz.units = v"
      @update:visible="v => visible1 = v"
      :visible="visible1"
      :checkedData="{names: formData.zhsDept, ids: formData.zhsDeptId}" />
    <!-- 会签部门 -->
    <unitsDialog
      :checkedData="{names: formData.hqDept, ids: formData.hqDeptId}"
      :outerBtnShow="false"
      @update:dept="v => {formData.hqDeptId = v.ids;formData.hqDept = v.names}"
      :visible="visible3"
      @update:visible="v => visible3 = v" />
    <!-- 主送领导 -->
    <LeaderDialog
      :visible="leaderDialog"
      @update:visible="v => leaderDialog = v"@update:dept="v => {formData.bgshgUserId = v.ids; formData.bgshgUserName = v.names}"
      :checkedData="formData.bgshgUserId" />
    <documentLinks
      :visible="documentDialog"
      @update:visible="v => documentDialog = v"
      @update:selection = "checkDocuments"
    />
    <el-dialog title="请选择套红模板" :visible.sync="tempListVisible">
      <el-radio v-model="taoHongId" v-for="v in tempList" :label="v.modelId" :key="v.modelId">{{v.modelName}}</el-radio>
      <div class="btns" style="text-align: center;">
        <el-button @click="setTaoHong()" size="mini" type="primary">确定</el-button>
        <el-button @click="tempListVisible = false" size="mini">取消</el-button>
      </div>
    </el-dialog>
    <memberDialog
      :visible="memberDialogVisible"
      @update:visible="v => memberDialogVisible = v"
      @update:member="v => {formData.draftsmanName = v.names; formData.draftsmanId = v.ids}" />
    <documentHistory :visible="historyDialog" @update:visible="v => historyDialog = v" :id="formData.originText" />
  </el-form>
</template>
<script>
import LeaderDialog from '../publish/leader.vue'
import unitsDialog from '../publish/unitsDialog.vue'
import memberDialog from '../publish/memberDialog.vue'
import documentLinks from  '@/views/publish/components/documentLinks.vue'
import documentHistory from "@/views/publish/components/documentHistory.vue"
import uploadFile from '@/components/uploadFile/uploadFile'
import initConfig from '@/views/publish/publish.baseInfo.js'
export default initConfig({
  components: {
    LeaderDialog,
    unitsDialog,
    uploadFile,
    initConfig,
    memberDialog,
    documentLinks,
    documentHistory
  },
  name: 'QianBaoBaseInfo'
})
</script>
<style lang="scss" scoped>
@import '../publish/baseInfo.scss';
$w: 460px;
.first-line {
  padding-right: $w;
  .right {
    width: $w;
    .el-form-item {
      width: 33.3%;
    }
  }
}
</style>