<template>
  <publish-temp :formData="formData" class="wrapper" :tool-bar="toolBar" :title="$route.query.isChuanYue == 1 ? tempTitle : title">
    <!-- 基本信息 -->
    <template slot="baseInfo">
      <baseInfo
        ref="base"
        @update:validate="v => formValidate = v"
        @update:formData="updateFormData"
        :data="formData"
        :checkValidate="checkValidate"
        @update:checkValidate="v => checkValidate = v"
        :historyButtonShow="historyButtonShow"
        @update:historyButtonShow="v => historyButtonShow = v"
        />
    </template>
    <template slot="shqpyj">
      <ShenHeQianPiYiJian />
    </template>
    <!-- 审批意见 start -->
    <template slot="shqpyj">
      <opinion :config="ideaItems['审批意见']" />
    </template>
    <!-- 办公厅意见 -->
    <template slot="bgtsh">
      <opinion :config="ideaItems['办公厅意见']" />
    </template>
    <!-- 部门会签 -->
    <template slot="bmhq">
      <opinion :config="ideaItems['部门会签']" />
    </template>
    <!-- 主办部门意见 -->
    <template slot="zbbmyj">
      <opinion :config="ideaItems['主办部门意见']" />
    </template>
    <!-- 流程跟踪 start -->
    <template slot="lcgz">
      <LiuChengGenZong />
    </template>
    <!-- 知会记录 start -->
    <template slot="cyjl">
      <ZhiHuiJiLu />
    </template>
    <!-- 交办记录 start -->
    <template slot="ffjl">
      <FenFaJiLu />
    </template>
    <!-- 交办记录 start -->
    <!-- <template slot="ffjl">
      <FenFaJiLu />
    </template> -->
    <!-- 办理结果 start -->
    <template slot="bljg">
      <BanLiJieGuo />
    </template>
    <template slot="rightBar">
      <rightbarTemp
        :baseForm="baseForm"
        :formValidate="formValidate"
        :data="formData"
        @update:formData="updateFormData"
        :checkValidate="checkValidate"
        @update:checkValidate="v => checkValidate = v"
        @update:historyButtonShow="v => historyButtonShow = v"/>
    </template>
  </publish-temp>
</template>

<script>
import publishTemp from '@/views/newWindow/components/publish/publish'
import rightbarTemp from '@/views/newWindow/components/publish/components/rightBarContent'
import pic from "@/assets/img/1.png"
import LiuChengGenZong from '@/views/publish/LiuChengGenZong.vue'
import ZhiHuiJiLu from '@/views/publish/ZhiHuiJiLu.vue'
import baseInfo from './baseInfo'
import { formData, data } from '@/views/publish/publish.data.js'
import methods from '@/views/publish/publish.methods.js'
import opinion from '@/views/publish/components/opinion'
import FenFaJiLu from '@/views/publish/FenFaJiLu.vue'
import BanLiJieGuo from '@/views/ShouWen/BanLiJieGuo.vue'
import ShenHeQianPiYiJian from '@/views/publish/components/ShenHeQianPiYiJian'
export default {
  name: 'QianBao',
  components: {
    publishTemp,
    rightbarTemp,
    LiuChengGenZong,
    ZhiHuiJiLu,
    baseInfo,
    opinion,
    FenFaJiLu,
    BanLiJieGuo,
    ShenHeQianPiYiJian
  },
  props: {
    title: {
      type: String,
      default: '签报处理单'
    }
  },
  data() {
    return Object.assign(JSON.parse(JSON.stringify(data())), {
      documentType: 'sw'
    })
  },
  methods,
  watch: {
    formData: {
      deep: true,
      handler(v) {
        window.formData = v
      }
    }
  },
  created() {
    // this.toolBar.splice(5, 1);
    this.toolBar[this.toolBar.findIndex(v => v.title == '分发记录')].title = '交办记录';
    this.toolBar.push({
      title: '办理结果',
      id: 'bljg',
      icon: 'el-icon-date'
    })
    /*this.toolBar.push({
      title: '交办记录',
      id: 'jbjl',
      icon: 'el-icon-date'
    })*/
    this.init(this.title == '签报处理单' ? 'qb' : 'btw');
  },
  mounted() {
    this.baseForm = this.$refs.base.$children[0]
  },
}
</script>
<style scoped lang="scss">
@import '../publish/publish.scss';
.result {
  p {
    padding: 10px 0 0 10px;
    b,
    span{
      line-height: 20px;
      display: block;
    }
    b {
      color: #3a8ee6;
      font-weight: bold;
    }
  }
}
</style>