<template>
  <div class="wrapper clearfix">
    <img class="logo fl" :src="require('../assets/img/logo.png')" alt="中国有色矿业集团有限公司">
    <h1 class="fl">中国有色矿业集团有限公司</h1>
    <p class="text fl">涉密不上网，上网不涉密</p>
    <div class="fr info">
      <p>
        【{{userInfo.deptName}}】{{userInfo.userName}}，欢迎您！
      </p>
      <p>
        <span @click="handleLoginOut"><i class="iconfont">&#xe673;</i>
        注销</span>
        <span @click="handleResetPasswords">[修改密码]</span>
        <span v-if="userInfo.isShow" @click="changeDeptHandle">[切换部门]</span>
      </p>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Header',
  data () {
    return {
      
    }
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo || {userName: '***', deptName: '***'}
    }
  },
  methods: {
    ...mapActions(['getUserInfo']),
    handleMessageShow() {
      this.$store.commit('SET_MESSAGEBOXSHOW', true)
    },
    handleLoginOut() {
      this.$confirm('您确定要注销?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.createLoading('正在注销中...')
            this.axios
              .get('common/logout')
              .then(res => {
                localStorage.clear();
                location.href = location.protocol + '//' +location.host
              })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消注销'
            });
          });
    },
    handleResetPasswords() {
      location.href = '/yhsz/yhszAction.do?method=editPws'
    },
    changeDeptHandle() {
      this.axios
        .get('common/changeDept')
        .then(res => {
          if(res) {
            location.reload()
          }
        })
    }
  },
  created() {
    if(!this.$store.state.userInfo) {
      this.getUserInfo()
    }
  },
}
</script>

<style lang="scss" scoped>
  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: #10569e;
    background: linear-gradient(#0768ce, #10569e);
    height: 90px;
    padding: 0 25px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .logo {
    height: 50px;
    width: 54px;
    margin-top: 20px;
  }
  h1 {
    line-height: 90px;
    color: #fff;
    padding-left: 10px;
  }
  .iconfont,
  .info {
    color: #fff;
    font-size: 12px;
  }
  .info {
    padding-top: 19px;
    p {
      line-height: 26px;
      text-align: right;
    }
    span {
      margin-left: 10px;
      cursor: pointer;
    }
  }
  /deep/ {
    .el-badge__content.is-fixed.is-dot {
      $w: 4px;
      top: 7px;
      right: 4px;
      width: $w;
      height: $w;
    }
  }
  .text {
    line-height: 90px;
    color: #e6a23c;
    font-size: 1.5em;
    padding-left: 50px;
  }
</style>