<template>
  <el-dialog title="请选择套红模板" :visible.sync="dailogVisible">
    <el-radio v-model="taoHongId" v-for="v in tempList" :label="v.modelId" :key="v.modelId">{{v.modelName}}</el-radio>
    <div class="btns" style="text-align: center;">
      <el-button @click="setTaoHong()" size="mini" type="primary">确定</el-button>
      <el-button @click="dailogVisible = false" size="mini">取消</el-button>
    </div>
  </el-dialog>
</template>

<script>
export default {
  name: 'TaoHongTemp',
  props: {
    visible: {
      default: false,
      type: Boolean
    },
    tempList: {
      default: () => [],
      type: Array
    }
  },
  data () {
    return {
      dailogVisible: this.visible,
      taoHongId: null
    }
  },
  methods: {
    setTaoHong(id) {
      id = id || this.taoHongId;
      // let d = this.formData;
      // window.taoHong('', id, d.originText, d.originText, 'archives_out', d.outId, 'YZ_ARCHIVES_FILELIST', d.flowType);
      window.taoHong(id)
      this['dailogVisible'] = false
    },
  },
  watch: {
    visible(v) {
      this['dailogVisible'] = v
    },
    dailogVisible(v) {
      this.$emit('update:visible', v)
    }
  }
}
</script>

<style lang="scss" scoped>
  
</style>