<template>
  <div class="tool-bar">
    <ul class="clearfix">
      <slot />
      <li class="close"><span @click="$router.replace('/')" class="el-icon-s-home" title="首页">首页</span><span v-if="$store.state.from" @click="$router.back()" title="关闭" class="el-icon-arrow-left">返回</span></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'toolBar',
  props: {
    closeClick: {
      type: Function,
      default: () => {
        vm.$router.back()
      }
    }
  },
}
</script>

<style lang="scss" scoped>
  .tool-bar {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    padding: 0 10px;
    background: #ecf5ff;
    font-size: 12px;
    box-shadow: 0px 1px 5px #ccc;
    z-index: 999;
    li {
      line-height: 30px;
      float: left;
      cursor: pointer;
      margin-right: 10px;
      &.close {
        margin: 0;
        float: right;
        font-size: 12px;
        span {
          color: #333;
          margin-left: .5em;
        }
      }
    }
  }
</style>