<template>
  <QianBao title="白头文处理单" />
</template>

<script>
import QianBao from '@/views/QianBao/QianBao'
export default {
  name: 'BaiTouWen',
  components: {
    QianBao
  },
  data () {
    return {}
  }
}
</script>
