<template>
    <div class="office-wrapper">
        <object id="TANGER_OCX" classid="clsid:A39F1330-3322-4a1d-9BF0-0BA2BB90E970" codebase="http://10.7.20.33:8081/officecontrol/OfficeControl.cab#version=5,0,3,1"
            width="100%" height="800px">   
            <param name="MakerCaption" value="">   
            <param name="MakerKey" value="">   
            <param name="ProductCaption" value="">   
            <param name="ProductKey" value="">   
            <param name="IsUseUTF8URL" value="-1">   
            <param name="IsUseUTF8Data" value="-1">   <param name="Caption" value="NTKO OFFICE文档控件示例演示 http://www.ntko.com">   
            <span style="color:red">不能装载文档控件。请在检查浏览器的选项中检查浏览器的安全设置。</span>   
        </object>
        <div class="per-office-btn">
            <el-button type="primary">保存</el-button>
            <el-button plain>取消</el-button>
        </div>
        
    </div>
</template>

<script>
export default {
    name: 'OfficeControl',
    props:{
        wordName: {
            type: String,
            default: ''
        },
        isOfficeWord: {
            type:Boolean,
            default: null
        }
    },
    components: {
        
    },
    data() {
        return {
            isWinVersion: window.navigator.platform, //获取电脑系统版本
            classidx64:"A64E3073-2016-4baf-A89D-FFE1FAA10EE0", //64位控件的calssid
            classid:"A64E3073-2016-4baf-A89D-FFE1FAA10EC0", //32位控件的classid
            codebase:"http://10.7.20.33:8081/OfficeControl.cab#version=6,0,0,1",//32位控件包的路径
            codebase64:"OfficeControlx64.cab#version=5,0,3,1" //64位控件包的路径
        }
    },
    mounted() {

    },
    methods: {
        /* 
        *打开用ntko Office 打开本地文档
        * */
        handleOfficeOpen() {
            console.log(this.isWinVersion)
        }
    }
}
</script>
<style lang="scss" scoped>
    /* @import url("./ntkoStyle.css"); */
    @import url("./officecontrol.css"); 
</style>
      