$blueColor: blue;
.wrapper {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.table-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 0 48px;
}
.el-pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.index {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
.el-form-item {
  box-sizing: border-box;
  padding: 0 5px;
  margin: 0 0 10px;
  display: flex;
  /deep/ .el-form-item__content {
    flex: 1;
    & > div > div {
      width: 100%;
    }
  }
}
.tabs {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 47px;
  border-bottom: 1px solid $blueColor;
  background: #fff;

  li {
    align-self: center;
    white-space: nowrap;
    position: relative;
  }
}

.tit {
  padding: 0 20px;
  background: $blueColor;
  height: 100%;
  color: #fff;
  line-height: 47px;
  padding-right: 74px;
  font-size: 20px;
  white-space: nowrap;
}

.tab {
  font-size: 16px;
  color: #333;
  position: relative;
  padding: 0 26px;
  cursor: pointer;

  &.actived {
    color: $blueColor;
  }

  &:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 16px;
    background: #88abda;
    top: 50%;
    right: -.5px;
    transform: translateY(-50%);
  }

  &.noafter:after {
    width: 0;
    height: 0;
  }
}

.more {
  color: #989898;
  font-size: 12px;
  margin-right: 15px;
  cursor: pointer;

  .iconfont {
    font-size: 12px
  }
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.3);
}
/deep/ h3 {
  .iconfont,
  [class^="el-icon"] {
    font-size: 1.3em;
    color: blue;
    margin-right: 10px
  }
}
.excel-box {
  position: relative;
  cursor: pointer;
  ul {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    transition: all .3s;
    white-space: nowrap;
    background: #fff;
    box-shadow: 0px 1px 5px #ddd;
    font-size: 13px;
    line-height: 2em;
    li {
      padding: 0 10px;
      transition: all .3s;
      &:hover {
        background: #eee;
      }
    }
  }
  &:hover {
    ul {
      top: 100%;
      display: block;
    }
  }
}
.per-pTno{
  padding-top: 0;
}