<template>
  <div class="wrapper flex1 flex-column">
    <div>
      <card v-if="search.form" :title="searchTitle" :closed="close" icon="&#xe601;">
        <span slot="bar" v-if="exportQuery" @click.stop="handleDownLoad" class="icon el-icon-download">导出表格</span>
        <div class="search-wrapper">
          <el-form calss="position-r" :label-width="labelWidth" ref="searchForm" class="flex flex-wrap" inline :model="searchForm">
            <el-form-item :style="{width: item.width || '25%'}" v-for="item in search.items" :label="item.label" :rules="item.rules" :prop="item.prop">
              <slot v-if="item.slot" :name="item.prop" />
              <div v-else>
                <el-date-picker size="small" value-format="yyyy-MM-dd HH:mm:ss" :type="item.dateType" v-if="item.type == 'datePicker'" v-model="searchForm[item.prop]"
                :format="item.format"
                :placeholder="item.placeholer || '请选择日期'" />
                <el-date-picker type="daterange"
                  value-format="yyyy-MM-dd"
                  range-separator="至"
                  start-placeholder="开始日期"
                  end-placeholder="结束日期"
                  size="small"
                  v-else-if="item.type == 'dates' "
                  v-model="searchForm[item.prop]" />
                <el-select :multiple="item.multiple" size="small" v-else-if="item.type == 'select'" v-model="searchForm[item.prop]" :placeholder="item.placeholer || '请选择'">
                  <el-option v-for="o in item.options" :label="isString(o) ? o : o.label" :value="isString(o) ? o : o.value" />
                </el-select>
                <el-input size="small" v-else v-model="searchForm[item.prop]" :placeholder="item.placeholer || '请输入' + item.label" />
              </div>
            </el-form-item>
            <div class="flex flex-center" style="width: 100%;margin: 10px 0 0; text-align: center">
              <el-button icon="el-icon-refresh" @click="handleReset" size="mini">重置</el-button>
              <div class="shadow" v-if="loading" />
              <el-button icon="el-icon-search" :disabled="loading" type="primary" @click="handleSearch" size="mini">查询</el-button>
            </div>
          </el-form>
        </div>
      </card>
    </div>
    <div class="table-wrapper" :style="{height: tableHeight}">
      <el-table
        stripe class="theme1" v-loading="loading" border
        tooltip-effect="light"
        ref="multipleTable"
        :data="mockData"
        height="100%"
        :cell-style="setCellName"
        @doLayout="handleDoLaout"
        @row-click="rowClick"
        @cell-mouse-enter="cellMouseEnter" @sort-change="sortChange"
        @selection-change="handleSelectionChange"
        :header-row-class-name="HeaderRowClassName"
        :header-cell-class-name="HeaderCellClassName"
        >
        <el-table-column v-if="isSelection" type="selection" width="40" />
        <el-table-column
          v-if="!orderHidden"
          label="序号"
          width="55">
          <template slot-scope="scope">
            {{setOrderNumber(scope)}}
          </template>
        </el-table-column>
        <el-table-column v-if="columnCheckList.includes(v.label)" v-for="(v, i) in props" :label="v.label" :sortable="(v.sortable) && (v.sortable)" :fixed="v.fixed ? true : false" :prop="v.prop" :width="(v.width) && (v.width)" :minWidth="(v.minWidth) && (v.minWidth)" show-overflow-tooltip>
          <el-table-column
            v-if="columnCheckList.includes(c.label)"
            v-for="(c, i) in v.children"
            :label="c.label"
            :sortable="(c.sortable) && (c.sortable)"
            :fixed="c.fixed ? true : false" :prop="c.prop"
            :width="(c.width) && (c.width)"
            :minWidth="(c.minWidth) && (c.minWidth)"
            :showOverflowTooltip="(c.showOverflowTooltip) && (c.showOverflowTooltip)">
            <template slot-scope="scope">
              <div class="psition-r content" v-html="(typeof c.createTemp == 'function' && c.createTemp(scope, c)) || createTemp(scope, c)" />
            </template>
          </el-table-column>
          <template slot-scope="scope">
            <div class="psition-r content" v-html="(typeof v.createTemp == 'function' && v.createTemp(scope, v)) || createTemp(scope, v)" />
          </template>
        </el-table-column>
        <el-table-column v-if="operating" fixed="right" label="操作" :width="operating.width || 100">
          <template slot-scope="scope">
            <el-button v-for="v in (operating.data || operating)" :icon="(v.style) && (v.style.icon)" :type="(v.style) && (v.style.type)" @click.stop="handleOprerating(scope, v.handler, vm)" size="mini">
              {{v.text}}
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pageQuery.page" :page-sizes="pageSizes" :page-size="pageQuery.limit" layout="total, sizes, prev, pager, next, jumper" :total="pageQuery.count">
      </el-pagination>
    </div>
    <div class="slection-btns" v-show="multipleSelection.length">
      <el-button v-for="v in slectionOprating" :icon="(v.style) && (v.style.icon)" :type="(v.style) && (v.style.type)" @click.stop="v.handler(multipleSelection, vm)" size="mini">
        {{v.text}}
      </el-button>
      <el-button @click="$refs.multipleTable.clearSelection()" size="mini">取消选择</el-button>
    </div>
  </div>
</template>
<script>
import card from '../card/card'
import h3Bar from '@/components/card/h3Bar'
import setFields from './setFields.js'
export default {
  name: 'TableTemplate1',
  components: {
    card,
    h3Bar,
  },
  props: {
    orderHidden: {
      type: Boolean,
      default: false
    },
    HeaderRowClassName: {
      type: [Function, String],
      default: ''
    },
    HeaderCellClassName: {
      type: [Function, String],
      default: ''
    },
    isSelection: {
      type: Boolean,
      default: false
    },
    exportShow: {
      type: Boolean,
      default: false
    },
    exportQuery: {
      type: [String, Object]
    },
    labelWidth: {
      type: String,
      default: '5em'
    },
    rowClick: {
      type: Function,
      default: () => false
    },
    cellMouseEnter: {
      type: Function,
      default: () => false
    },
    params: {
      type: Object,
      default: () => {
        return {}
      }
    },
    url: {
      type: String,
      default: ''
    },
    search: {
      type: [Object, Array],
      default: () => {
        return {}
        /*{
          form: {
            code: null,
            name: null,
            show: false,//是否显示
          },
          items: [
            {
              label: '编码',
              prop: 'code',
              rules: [{required: true, message: 'qingshuru'}],//选填
              placeholder: '请输入编码',//选填， 默认为请输入label
              type: 'datePicker',//选填, 默认为input框, datePicker日期选择器， selecte 下拉菜单
              options: [{label: '名称', val: 'value'}]，//若type == select 为必填,数组集合可以为json也可以为string
            }
          ]
        }*/
      }
    },
    searchTitle: {
      type: String,
      default: '搜索'
    },
    tableTitle: {
      type: String,
      default: '线索信息'
    },
    columns: { //tabel列名相关
      type: Array,
      default: () => []
    },
    data: { //table数据
      type: [Array, Object],
      default: () => []
    },
    operating: {
      type: [Array, Object],
      default: () => {
        return null;
        /*[
          {
            text: '删除',
            style: {
            icon: 'el-icon-delete',
            type: 'primary'
            },
            handler: (i, data, scope) => {
            console.log(i, data, scope)
            }
          }
        ]*/
      }
    },
    slectionOprating: {
      type: [Array, Object],
      default: () => []
    },
    noBar: {
      type: Boolean,
      default: false
    },
    close: {
      type: Boolean,
      default: true
    }
  },
  data() {
    let pageSizes = [20, 15, 10, 5]
    let props = this.columns;
    let mockData = this.data;
    let columnCheckList = [];
    let pageQuery = { page: 1, limit: pageSizes[0], count: 0 };
    props.forEach((v, i) => {
      if(v.children) {
        v.children.forEach(c => {
          columnCheckList.push(c.label)
        })
      }
      columnCheckList.push(v.label)
    })
    return {
      currentPage4: 1,
      pageSizes,
      searchResult: null,
      searchDialogVisible: false,
      tabsIndex: 0,
      columnCheckList,
      searchBtnDisabled: false,
      mockData,
      props,
      fields: setFields(props),
      currentPage: 1,
      timer: null,
      loading: true,
      h: 200,
      isPrinting: false,
      searchForm: this.search.form || this.search,
      pageQuery,
      firstComing: true,
      isSearched: false,
      order: {
        orderBy: '',
        orderAD: '',
      },
      checkGroupShow: false,
      checkboxGroup: [],
      tableHeight: 'auto',
      multipleSelection: []
    }
  },
  methods: {
    setFields,
    setOrderNumber(v) {
      return (this.pageQuery.page - 1) * this.pageQuery.limit + v.$index + 1
    },
    isArray(obj) {
      return Array.isArray(obj)
    },
    handleSelectionChange(v) {
      this.multipleSelection = v
    },
    handleShowSearchItems() {
      /**
      * 显示搜索相关条件itel
      * @return {void}
      * @author cheng_xiaona 2019/05/20 17:21
      */
    },
    handleExport() {
      let JP = JSON.parse,
        JS = JSON.stringify;
      let data = Object.assign(JP(JS(this.params || {})), JP(JS(this.searchForm)), JP(JS(this.pageQuery)))
      this.axios
        .post(this.exportUrl, data)
        .then(res => {
          (res) && (this.$message.success(res.msg))
        })
    },
    handleOprerating(scope, fn) {
      let vm = this;
      fn(scope.$index, vm.mockData, scope, vm)
    },
    handleTabs(i) {
      this.tabsIndex = i;
      console.log('tabs click', i)
    },
    handleSearch() {
      /**
       * 单页面搜索
       * @return {void}
       * @author cheng_xiaona
       */
      this.isSearched = true;
      this.pageQuery.page = 1;
      this.createData()
    },
    searchHandle(isAll) {
      let l = 0;
      let params = this.searchForm;
      for (let attr in params) {
        (isAll) && (params[attr] = null);
        (params[attr]) && (l++);
      }
      this.handleSearch()
      this.loading = true;
    },
    clearHandle(e) {
      for (let i in this.searchForm) {
        this.searchForm[i] = null;
      }
    },
    createTemp(s, config) {
      let prop = s.column.property
      let res = s.row[prop];
      let _p = prop.toLowerCase()
      if (config.isCode && config.params) {
        return config.params[res]
      } else if(_p.includes('date') || _p.includes('time')){
        return this.setViewTime(res)
      } else{
        return res
      }
    },
    isString(obj) {
      return !Array.isArray(obj) && typeof obj == 'string'
    },
    handleReset(e) {
      for (let i in this.searchForm) {
        this.searchForm[i] = null
      }
      this.$emit('update:isReset', true)
    },
    handleCulonmControl(e) {
      let current = e.target;
      let className = current.className;
      let isOpen = className.includes('actived');
      current.className = isOpen ? className.replace(' actived', '') : className + ' actived';
    },
    print() {
      this.$htmlToPaper('print')
    },
    handleDoLaout() {
      console.log('layout changed')
    },
    setCellName(row) {
      if (row.columnIndex == 6) {
        return {
          padding: 0
        }
      }
    },
    computedCellHeight() {

    },
    deleteRow(index, rows) {
      rows.splice(index, 1);
    },
    createData() {
      this.loading = true;
      let url = this.url;
      let C = this.copyObj
      let params = Object.assign(C(this.searchForm), C(this.pageQuery), C(this.order), C(this.searchForm), C(this.params))
      this.$emit('update:params', params)
      this.axios
        .post(url, params)
        .then(data => {
          if (data) {
            let query = {
              count: Number(data.count),
              page: Number(data.page)
            }
            let D = data.result;
            /*let I = this.tabsIndex;
            D.forEach((v, i) => {
              v.orderNum = (data.page - 1) * data.limit + (i + 1)
            })*/
            this.pageQuery = Object.assign(this.pageQuery, query);
            this.mockData = D;
            console.log(780987, D)
            this.$emit('update:data', D)
            let i = 0;
            let searchResult = {};
            for (let name in search) {
              let v = search[name];
              (v) && (i++, searchResult[name] = v);
            }
            this.searchResult = i ? searchResult : null;
          }
          this.$nextTick(() => {
            this.loading = false;
          })
        })
        .catch(res => {
          this.loading = false;
        })
    },
    handleSizeChange(val) {
      if (this.isGroup) {
        this.pageQuery[this.tabsIndex].limit = val
      } else {
        this.pageQuery.limit = val
      }
      this.createData()
    },
    handleCurrentChange(val) {
      if (this.isGroup) {
        this.pageQuery[this.tabsIndex].page = val
      } else {
        this.pageQuery.page = val
      }
      this.createData()
    },
    checkValid() {
      this.$nextTick(() => {
        this.$refs.searchForm.validate(valid => {
          this.searchBtnDisabled = !valid
        })
      })
    },
    sortChange(column) {
      console.log(column)
      this.order = {
        orderBy: column.prop,
        orderAD: column.order.replace('ending', '')
      }
      this.createData();
      return false
    },
    handleDownLoad(e) {
      let url = this.exportQuery.url || this.exportQuery;
      let C = this.copyObj
      let params = Object.assign(C(this.searchForm), C(this.pageQuery), C(this.order), C(this.searchForm), C(this.params), C(this.exportQuery.params || {}))
      let ieLink = this.setEncodeUrl(window.baseUrl + 'archives/queryBookAction.do?method=QueryBookDownLoad', params)
      e.target.setAttribute('data-url', ieLink)
      console.log('ieLink', ieLink)
      if(this.isIE9) {
        window.open(ieLink, '_blank')
      } else {
        this.axios({
          url: this.setEncodeUrl(url, params),
          method: 'get',
          headers: {
           // 'Content-Type': 'application/octet-stream',
           'No-Interceptor': '1'
          },
          responseType: 'blob'
        })
          .then(res => {
            if(res.data) {
              console.log(res.data)
              const content = res.data
              const blob = new Blob([content])
              const fileName = decodeURIComponent(res.headers['file-name']);
              if ('download' in document.createElement('a')) { // 非IE下载
                const elink = document.createElement('a')
                elink.download = fileName
                elink.style.display = 'none'
                elink.href = URL.createObjectURL(blob)
                document.body.appendChild(elink)
                elink.click()
                URL.revokeObjectURL(elink.href) // 释放URL 对象
                document.body.removeChild(elink)
              } else { // IE10+下载
                navigator.msSaveBlob(blob, fileName)
              }
            }
          })
      }
    }
  },
  created() {
    this.$emit('refresh', this.createData)
    if (!this.data || (this.data && !this.data.length)) {
      this.createData();
    } else {
      this.loading = false
    }
    (window.navigator.userAgent.includes('MSIE 9.0')) && (this.tableHeight = '100%');
    // (!this.isGroup) && (this.checkValid());
  },
  mounted() {

  },
  watch: {
    props: {
      deep: true,
      handler(v) {
        this.fields = setFields(v)
      }
    },
    data: {
      deep: true,
      handler(v) {
        console.log('data changed')
        this.mockData = v;
        (v) && (this.loading = false);
      }
    },
    search: {
      deep: true,
      handler(v) {
        this.searchForm = v.form || v
      }
    },
    searchForm: {
      deep: true,
      handler(v) {
        this.$nextTick(() => {
          this.checkValid()
        })
        this.$emit('update:isReset', false)
      }
    },
    tabsIndex(v) {
      this.searchForm = this.search[v].form;
      this.createData()
    },
    url(v) {
      console.log('url changed')
      this.fields = setFields(v);
      this.createData();
    },
    pageQuery: {
      deep: true,
      handler(v) {
        this.$emit('update:pageQuery', v)
      }
    },
    params: {
      deep: true,
      handler(v) {
        this.createData()
      }
    }
  },
  computed: {
    vm() {
      return this
    }
  }
}
</script>
<style lang="scss" scoped>
@import './table.scss';

/deep/ .el-form--inline {
  /deep/ .el-form-item__label {
    width: auto;
  }
}

.content {
  width: 100%;
  height: 100%;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table-wrapper {
  flex: 1;
  position: relative;
  overflow: hidden;
  .wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.el-table {
  overflow: inherit;
  height: 100%;
}

.el-pagination {
  background: #fff;
  padding: 10px;
}

.iconfont {
  cursor: pointer;
}

.tool {
  margin-right: 10px;

  .iconfont {
    margin-left: 10px;
  }
}

.column-control {
  cursor: pointer;
  position: relative;

  .el-checkbox-group {
    opacity: 0;
    position: absolute;
    bottom: -1px;
    right: 0;
    transform: translate(0, 100%);
    transition: all .3s;
    z-index: -1;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 13px #ddd;
    max-height: 200px;
    overflow-y: scroll;

    .el-checkbox {
      padding: 0 10px;
      height: 1.5em;
    }

    /deep/ label {
      display: flex;
      align-items: center;
      margin: 5px;
    }
  }

  &.actived .el-checkbox-group {
    z-index: 999;
    opacity: 1
  }
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .6);
}

.search-wrapper {
  padding: 10px 0;
}

.search {
  margin: 0 10px 0 0;
  padding: 0 10px;
  cursor: pointer;
  transition: all .3s;
  background: none;
  height: 40px;
  width: 40px;
  padding: 0;
  line-height: 40px;
  text-align: center;

  &:hover {
    border-radius: 50%;
    color: #fff;
    background: linear-gradient(#3a8ee6, skyblue);
    animation: search .6s infinite alternate
  }
}

.search-result {
  background: #fff;
  padding: 10px;

  span {
    font-size: 12px;
    display: inline-block;
    padding: 2px 5px;
    background: #eee;
    margin-right: 5px;

    &:first-child {
      background: none;
    }

    &:nth-child(2) {
      cursor: pointer
    }
  }

  .el-icon-close {
    cursor: pointer;
  }
}

.line {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  align-items: center;

  input {
    border: none;
    flex: 1;
  }

  .iconfont {
    margin: 0 10px;
    cursor: pointer;
  }

  .icon-search {
    border: none;
    color: #0c85bf;
    font-size: 16px;

    &[disabled] {
      color: #ccc;
    }
  }

  button {
    padding: 0;
  }

  .clear {
    margin-right: 0;
  }
}

/deep/ .search-item {
  margin: 10px 10px 20px 0;

  /deep/ .el-form-item__label {
    width: 6em
  }
}

.inline {
  display: flex;
  flex-wrap: wrap;

  .search-item {
    flex: 1;
    margin: 10px;
  }

  .btns {
    width: 100%;
  }

  /deep/ .el-form-item__label {
    width: auto
  }
}

.shadow-search {
  padding: 10px 10px 20px;

  .btns {
    /*display: flex;*/
    justify-content: center;
  }
}

.table-wrapper {
  .red {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background: #ff3c00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.green {
      background: #02c77f
    }

    &.yellow {
      background: #f1e300
    }
  }
}

div.wrapper.flex-clumn {
  padding-top: 0;
}
.el-form-item {
  position: relative;
  padding-left: 60px;
  box-sizing: border-box;
}
/deep/ {
  .el-form--inline .el-form-item__label {
    position: absolute;
    top: 0;
    left: 0;
  }
  .el-form-item[data-v-e6ee8248] .el-form-item__content {
    & > div,
    .el-input__inner,
    & {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
.slection-btns {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background: #fff;
  z-index: 999
}
.selections {
  padding-bottom: 40px;
}
/deep/ {
  .el-table th.center {
    text-align: center
  }
}
</style>