<template>
  <div class="wrapper" :class="{print: isPrint}">
    <toolBar>
      <li @click="$refs.scroll.wrap.scrollTop = 0"><span class="icon el-icon-arrow-up" />到顶部</li>
    </toolBar>
    <div class="content-wrapper">
      <el-scrollbar ref="scroll" :class="{print: isPrint}">
        <div class="content">
          <div class="base-content-wrapper">
            <h2 v-html="title" />
            <slot />
          </div>
          <el-collapse v-model="collapseActives">
            <el-collapse-item name="1">
              <template slot="title">
                <span class="icon el-icon-date" />审核签批意见
              </template>
              <options />
            </el-collapse-item>
          </el-collapse>
        </div>
      </el-scrollbar>
    </div>

    <div class="btns">
      <el-button size="mini" type="primary">打印</el-button>
      <el-button size="mini" type="primary" v-for="v in buttons">{{v.name}}</el-button>
    </div>
  </div>
</template>

<script>
import toolBar from '@/components/toolBar'
import options from './options.vue'
export default {
  name: 'abroadApply',
  components: {
    toolBar,
    options
  },
  data () {
    return {
      isPrint: false,
      collapseActives: '1'
    }
  },
  props: {
    title: {
      default: ''
    },
    buttons: {
      default: () => [],
      type: Array
    },
    formData: {
      default: () => {
        return {}
      },
      type: Object
    }
  }
}
</script>

<style lang="scss" scoped>
@import './publish/publish.scss';
</style>