<template>
  <div class="wrapper">
    <dl style="padding-left: 6em">
      <dt>领导签批意见</dt>
      <dd>
        <div class="item">
          <ul>
            <li>
              <div class="per-idea-text" >意见1</div>
              <div class="per-idea-info">
                <span>签批人签字</span>
                <span>2019-9-25</span>
              </div>
            </li>
          </ul>
        </div>
      </dd>
    </dl>
    <dl style="padding-left: 6em">
      <dt>办公厅意见</dt>
      <dd>
        <div class="item">
          <ul>
            <li>
              <div class="per-idea-text" >意见1</div>
              <div class="per-idea-info">
                <span>签批人签字</span>
                <span>2019-9-25</span>
              </div>
            </li>
          </ul>
        </div>
      </dd>
    </dl>
    <dl style="padding-left: 6em">
      <dt>人力资源部</dt>
      <dd>
        <div class="item">
          <ul>
            <li>
              <div class="per-idea-text" >意见1</div>
              <div class="per-idea-info">
                <span>签批人签字</span>
                <span>2019-9-25</span>
              </div>
            </li>
          </ul>
        </div>
      </dd>
    </dl>
  </div>
</template>

<script>
export default {
  name: 'options',
  props: {
    
  },
  data () {
    return {
      
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/views/publish/components/ShenHeQianPiYiJian.scss';
</style>