<template>
  <el-dialog title="传阅" :visible.sync="dialogVisible">
    <el-scrollbar>
      <div v-loading="loading" class="loading" v-if="loading" />
      <div class="content" v-else>
        <p><span>标题:</span>{{data.title}}</p>
        <p><span>正文:</span>{{data.title}}.doc <el-button @click="handlePreviewDocument" size="mini">查看</el-button></p>
        <p><span>附件:</span><uploadFile :id="data.outId || inId" /></p>
      </div>
    </el-scrollbar>
  </el-dialog>
</template>

<script>
import uploadFile from '@/components/uploadFile/uploadFile'
export default {
  name: 'dialog',
  components: {
    uploadFile
  },
  data () {
    return {
      data: null,
      dialogVisible: false,
      loading: true
    }
  },
  methods: {
    getData(v) {
      this.loading = true;
      let url = v.poName == '收文' || v.poName == '部门收文' ? 'archivesIn/getInfoById' : 'archivesOut/getInfoById';
      let params = {
        id: v.recordId || v.outId || v.inId
      }
      this.axios(url, {params})
        .then(res => {
          if(res) {
            this.data = res.result;
            console.log(1111, res)
          }
          this.loading = false
        })
    },
    handlePreviewDocument() {
        /**
        * 查看公文正文
        * @return {void}
        * @author cheng_xiaona 2019/4/24
        */
        window.readDoc('', this.data.pdfId, 'YZ_ARCHIVES_FILELIST')
      },
  },
  watch: {
    params: {
      deep: true,
      handler(v) {
        this.getData(v)
      }
    },
    visible(v) {
      this.dialogVisible = v
    }
  },
  created() {
    this.dialogVisible = this.$store.state.globalDialog
    this.getData(this.params)
  }
}
</script>

<style lang="scss" scoped>
  .el-scrollbar {
    height: 200px;
    width: 100%;
    font-size: 13px;
    line-height: 2em;
  }
  .loading {
    width: 100%;
    height: 200px;
  }
  /deep/ {
    .el-dialog__body {
      padding: 0 10px 10px;
    }
  }
  p {
    position: relative;
    padding-left: 3.5em;
    span {
      position: absolute;
      top: 0;
      left: 0;
      font-weight: bold
    }
  }
</style>