<template>
  <div class="content-wrapper">
    <el-row>
      <el-col :span="12">
        <el-tabs type="border-card" v-model="activeName1">
          <el-tab-pane v-if="DaiBan" name="DaiBan">
            <span slot="label">待办<i class="num">({{DaiBan.count}})</i> </span>
            <el-scrollbar>
              <div class="content" v-if="DaiBan">
                <!-- -->
                <div
                v-for="(v, i) in DaiBan.data"
                class="list has-circl has-name_time_type"
                :title="'[' + v.poName + ']'+ v.title + '(' + v.preTime + ')'"
                @click="DaiBanHandleClick(v, 'DaiBan')">
                <!-- <div class="circl" :class="{red2: i < 3, red1: i >2 && i < 6 }" /> -->
                  <div class="circl" :class="{red2: v.hj == '特急', red1: v.hj == '紧急' }" />
                  <div class="text"><p>{{v.title}}</p></div>
                  <div class="right">
                    <em class="fl name">{{v.preUserName}}</em>
                    <span class="fl time">{{setViewTime(v.preTime)}}</span>
                    <i class="fl">[{{v.poName}}]</i>
                  </div>
                </div>
              </div>
            </el-scrollbar>
          </el-tab-pane>
          <el-tab-pane v-if="DaiYue" name="DaiYue">
             <span slot="label">待阅<i class="num">({{DaiYue.count}})</i> </span>
             <el-scrollbar>
               <div class="content" v-if="DaiYue">
                <div @click="DaiBanHandleClick(v, 'DaiYue')" v-for="(v, i) in DaiYue.data" class="list has-name_time_type" :title="'[' + v.poName + ']'+ v.title + '(' + v.preTime + ')'" :key="i">
                  <div class="text"><p>{{v.title}}</p></div>
                  <div class="right">
                   <em class="fl name">{{v.preUserName}}</em>
                   <span class="fl">{{setViewTime(v.preTime)}}</span>
                   <i class="fl">[{{v.poName}}]</i>
                  </div>
                </div>
               </div>
               <div class="content" v-else v-loading="true" />
             </el-scrollbar>
          </el-tab-pane>
          <el-tab-pane v-if="CaoGao" name="CaoGao">
            <span slot="label">草稿<i class="num" v-if="CaoGao">({{CaoGao.count}})</i> </span>
            <el-scrollbar>
              <div class="content" v-if="CaoGao">
                <div @click="DaiBanHandleClick(v, 'CaoGao')" v-for="(v, i) in CaoGao.data" class="list has-time_type" :title="'[' + v.poName + ']'+ v.title + '(' + v.creDate + ')'" :key="i">
                  <div class="text"><p>{{v.title}}</p></div>
                  <div class="right">
                    <span class="fl">{{setViewTime(v.creDate)}}</span>
                    <i class="fr">[{{v.poName}}]</i>
                  </div>
                </div>
              </div>
              <div class="content" v-else v-loading="true" />
            </el-scrollbar>
          </el-tab-pane>
        </el-tabs>
        <div class="more" @click="$router.push({name: 'More', query: {title: i, name: v}})" v-if="activeName1 == i" v-for="(v, i) in {DaiBan: '待办',DaiYue: '待阅',CaoGao: '草稿'}">更多<i class="el-icon-d-arrow-right"></i></div>
      </el-col>
      <el-col :span="12">
        <el-tabs type="border-card">
          <el-tab-pane class="list-box" v-if="TongZhiGongGao">
            <span slot="label">通知公告({{TongZhiGongGao.count}})</span>
            <el-scrollbar>
              <div class="content" v-if="TongZhiGongGao">
                <div @click="handleOpenTongZhi(v.url)" v-for="(v, i) in TongZhiGongGao.data" class="list" :title="v.title">
                  <div class="text"><p>{{v.title}}</p></div>
                  <div class="right">
                    {{setViewTime(v.issueTime)}}
                  </div>
                </div>
              </div>
              <div class="content" v-else v-loading="true"></div>
            </el-scrollbar>
          </el-tab-pane>
        </el-tabs>
        <div class="more" @click="$router.push({name: 'More', query: {title: 'TongZhi',name:'通知公告'}})">更多<i class="el-icon-d-arrow-right"></i></div>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
        <el-tabs type="border-card" v-model="activeName2">
          <el-tab-pane class="list-box" v-if="YiBan" name="YiBan">
            <span slot="label">已办<i class="num">({{YiBan.count}})</i> </span>
            <el-scrollbar>
              <div class="content">
                <div v-for="(v, i) in YiBan.data" class="list has-time_type" :title="'[' + v.poName + ']'+ v.title + '(' + v.preTime + ')'" @click="DaiBanHandleClick(v, 'YiBan')">
                  <div class="text"><p>{{v.title}}</p></div>
                  <div class="right">
                    <em class="fl name">&emsp;</em>
                    <span class="fl">{{setViewTime(v.preTime)}}</span>
                    <i class="fl">[{{v.poName}}]</i>
                  </div>
                </div>
              </div>
            </el-scrollbar>
          </el-tab-pane>
          <el-tab-pane v-if="YiYue" name="YiYue">
            <span slot="label">已阅<i class="num">({{YiYue.count}})</i> </span>
            <el-scrollbar>
              <div class="content">
                <div @click="DaiBanHandleClick(v, 'YiYue')" v-for="(v, i) in YiYue.data" class="list has-time_type" :title="'[' + v.poName + ']'+ v.title + '(' + v.creTime + ')'">
                  <div class="text"><p>{{v.sendTitle}}</p></div>
                  <div class="right">
                    <em class="fl name">&emsp;</em>
                    <span class="fl">{{setViewTime(v.creTime)}}</span>
                    <i class="fl">[{{v.poName}}]</i>
                  </div>
                </div>
              </div>
            </el-scrollbar>
          </el-tab-pane>
          <el-tab-pane v-if="YiFa" name="YiFa">
            <span slot="label">已发<i class="num">({{YiFa.count}})</i> </span>
            <el-scrollbar>
              <div class="content">
                <div @click="YiFaHandleClick(v)" v-for="(v, i) in YiFa.data" class="list has-time_type" :title="'[' + v.poName + ']'+ v.title + '(' + v.creDate + ')'">
                  <!-- <div class="text"><p>{{v.title}}</p></div>
                  <div class="right">
                    <span class="fl">{{setViewTime(v.creDate)}}</span>
                    <i class="fl">[{{v.poName}}]</i>
                  </div> -->
                  <div class="text"><p>{{v.title}}</p></div>
                  <div class="right">
                    <em class="fl name">&emsp;</em>
                    <span class="fl">{{setViewTime(v.creDate)}}</span>
                    <i class="fl">[{{v.poName}}]</i>
                  </div>
                </div>
              </div>
            </el-scrollbar>
          </el-tab-pane>
        </el-tabs>
        <div class="more" @click="$router.push({name: 'More', query: {title: i, name: v}})" v-if="activeName2 == i" v-for="(v, i) in {YiBan: '已办',YiYue: '已阅',YiFa: '已发'}">更多<i class="el-icon-d-arrow-right"></i></div>
      </el-col>
      <el-col :span="12">
        <el-tabs type="border-card">
          <el-tab-pane class="list-box">
            <span slot="label">新建模板</span>
            <el-scrollbar>
              <div class="clearfix content">
                <p class="list model" :title="v.text" v-for="v in createModelsData" @click="handleModleClick(v)">
                  <i class="el-icon-document" />{{v.name}}
                </p>
              </div>
            </el-scrollbar>
          </el-tab-pane>
        </el-tabs>
        <div class="more" @click="handleMoreModels">更多<i class="el-icon-d-arrow-right"></i></div>
      </el-col>
    </el-row>
    <el-button v-if="messageData.count > 0" @click="messageClosed = false" class="message" :class="{show: messageClosed}" type="primary" icon="el-icon-chat-dot-square" circle />
    <div class="message-wrapper" :class="{closed: messageClosed}" v-if="messageData.count > 0">
      <div class="tit">
        {{messageData.count}}条消息
        <div class="more" @click="$router.push({name: 'More', query: {title: 'message',name:'消息'}})">[更多]</div>
        <div class="close" @click="messageClosed = true"><span class="el-icon-close" /></div>
      </div>
      <el-scrollbar>
        <div class="content">
          <div @click="DaiBanHandleClick(v, 'DaiBan')"  v-for="v in messageData.data" class="list" :title="v.title">
            <div class="text"><p>{{v.title}}</p></div>
            <div class="right">
              <em class="fl name">{{v.preUserName}}</em>
              <span class="fl time">{{setViewTime(v.preTime)}}</span>
            </div>
          </div>
        </div>
      </el-scrollbar>
    </div>
  </div>
</template>
<script>

export default {
  name: 'vContent',
  components: {
    
  },
  data () {
    return {
      messageClosed: false,
      messageData: {
        count: 0,
        data: []
      },
      drawer: false,
      timer: null,
      timer1: null,
      dialogVisible: true,
      activeName1: 'DaiBan',
      activeName2: 'YiBan',
      createModelsData: [
        {
          name: '发文',
          url: 'publish',
          isNew: '1'
        },
        {
          name: '收文',
          url: 'ShouWen',
          isNew: '1'
        },
        {
          name: '签报',
          url: 'QianBao',
          isNew: '1'
        },
        {
          name: '白头文',
          url: 'BaiTouWen',
          isNew: '1'
        },
      ],
      lineHeight: "1.5em",
      DaiBan:null,
      DaiYue:null,
      FaWen: null,
      YiBan: null,
      CaoGao: null,
      TongZhiGongGao: null,
      YiYue: null,
      YiFa: null,
      urls: {
        DaiBan: 'backlog/getBackLogByUserId',
        DaiYue: 'pendread/getPendReadInfo',
        YiBan: 'finished/getFinishedByUserId',
        CaoGao: 'archivesOut/getCgInfo',
        TongZhiGongGao: 'news/getNewsInfo',
        YiYue: 'afterread/getAfterReadInfo',
        YiFa: 'sent/getSentByPage'
      },
    }
  },
  computed: {
    messageBoxShow() {
      return this.$store.state.messageBoxShow
    }
  },
  created() {
    window.getHomeData = this.getData
    this.activeName1 = this.$store.state.activeName1 || 'DaiBan';
    this.activeName2 = this.$store.state.activeName2 || 'YiBan';
    this.getData()
    this.getModelData();
    this.getMessage()
  },
  methods: {
    getMessage() {
      this.axios('message/getMessageList')
        .then(res => {
          this.messageData = {
            count: res.count,
            data: res.result
          }
          this.messageClosed = res.count == 0
        })
    },
    getData() {
      let  params = {
        limit: null,
        title: null,
        startTime: null,
        endTime: null
      };
      for(let i in this.urls) {
        let posts = ['CaoGao', 'YiFa', 'TongZhiGongGao']
        this.axios({
          url: this.urls[i],
          method: posts.includes(i) ? 'POST' : 'GET',
          data: params
        })
          .then(res => {
            if(res) {
              this[i] = {count: res.count, data: res.result};
            }
          })
      }
    },
    handleMoreModels() {
      // let { href } = this.$router.resolve({name: 'MoreModels'});
      this.$router.push({name: 'More', query: {to: 'models'}})
    },
    handleModleClick(v) {
      console.log(v)
      if(v.isNew == '1') {
        this.$router.push(v.url.length ? '/newWindow/' + v.url : '/')
      } else {
        window.open(v.url, '_blank')
      }
    },
    getModelData() {
      this.axios('xjmb/findCyXjmb')
        .then(res => {
          (res) && (this.createModelsData = this.createModelsData.concat(res.result))
        })
    }
  },
  mounted() {
    this.timer = setInterval(this.getData, 300000)
    this.timer1 = setInterval(this.getMessage, 120000)
  },
  watch: {
    activeName1(v) {
      this.$store.commit('SET_ACTIVENAME1', v)
    },
    activeName2(v) {
      this.$store.commit('SET_ACTIVENAME2', v)
    },
    $route: {
      deep: true,
      handler(v) {
        clearInterval(this.timer)
        clearInterval(this.timer1);
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import './content.scss';
</style>