.content-wrapper {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 4px 0 6px 0;
  overflow: hidden;
}
.el-row {
  height: 50%;
  box-sizing: border-box;
  padding: 0 5px;
}
.el-tabs,
.el-col {
  height: 100%;
}
.el-col {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  padding: 6px 5px 6px;
}
/deep/ .el-tabs--border-card > .el-tabs__header .el-tabs__item {
  &.is-active{
    color: #409EFF;
  }
  i {
    font-style: normal;
  }
}
.el-tab-pane {
  font-size: 12px
}
.more{
  position: absolute;
  right: 10px;
  top: 17px;
  font-size: 12px;
  color: #333;
  cursor: pointer;
}
.list {
  position: relative;
  line-height: 1em;
  width: 100%;
  padding-right: 105px;
  line-height: 2.2em;
  border-bottom: 1px dashed #ddd;
  box-sizing: border-box;;
  position: relative;
  height: 2.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  &.has-circl {
    padding-left: 15px;
    .red2{
      background-color: #F56C6C;
    }
    .red1{
      background-color: #E6A23C;
    }
  }
  &.has-name_time_type {
    padding-right: 244px;
  }
  &.has-time_type {
    padding-right: 193px
  }
  .circl {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -5px;

  }
  .text {
    padding-right: 5px;
  }
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  .right {
    position: absolute;
    top: 0;
    right: 0;
  }
  span {
    white-space: nowrap;
    text-align: center;
    width: 10em
  }
  em, i{
    font-style: normal;
  }
  i {
    /* text-justify:inter-ideograph;
    text-align-last: justify; */
    text-align: right;
    cursor: pointer;
    color: #e6a23c;
    width: 75px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    /*padding: 0 .5em;*/
    box-sizing: border-box;
    /* &:after {
      position: absolute;
      content: ']';
      right: 0;
      top: 0;
    }
    &:before {
      position: absolute;
      content: '[';
      left: 0;
      top: 0;
    } */
  }
}
.model {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 10px;
  cursor: pointer;
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  i {
    display: inline-block;
    width: auto;
    margin-right: 5px;
  }
}
/deep/ .el-tabs--border-card > .el-tabs__content {
  padding: 0;
}
/deep/ {
  .el-tabs--border-card {
    position: relative;
    padding-top: 40px;
    box-sizing: border-box;
    .el-tabs__content,
    .el-tab-pane {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }
  .el-tabs__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }
   .el-scrollbar__wrap {
     overflow-x: hidden;
   }
}
.name {
  width: 4em;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  position: relative;
  padding: 10px;
  &>div {
    cursor: pointer
  }
  &.empty {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .el-icon-document {
      font-size: 5em;
      display: block;
      color: #ddd;
    }
  }
}
.el-scrollbar {
  width: 100%;
  height: 100%;
  position: relative;
}
.message-wrapper {
  z-index: 9999;
  position: absolute;
  right: 10px;
  bottom: 10px;
  overflow: hidden;
  transition: all .3s;
  background: #fff;
  box-shadow: 1px 2px 10px #ccc;
  border-radius: 5px;
  .el-scrollbar {
    width: 400px;
    height: 200px;
    position: relative;
  }
  .tit {
    position: relative;
    border-bottom: 1px solid #eee;
    line-height: 2em;
    padding: 0 10px;
    background: #3c6ed1;
    background: linear-gradient(to bottom, #3c6ed1, #30509b);
    color: #fff;
    .close {
      position: absolute;
      right: 10px;
      bottom: 0;
      cursor: pointer
    }
  }
  .content {
    font-size: 12px;
  }
  &.closed {
    opacity: 0;
    transform: translate(100%, 100%) scale(0) skew(30deg,30deg);
  }
  .list {
    padding-right: 168px;
  }
  .more {
    position: absolute;
    right: 35px;
    top: 0;
    color: #fff;
  }
}
.message {
  z-index: 9999;
  position: absolute;
  right: -10px;
  bottom: 0;
  transition: all .3s;
  opacity: 0;
  &:hover {
    right: 0;
    color: blue;
  }
  .el-icon-chat-dot-square {
    cursor: pointer
  }
  &.show {
    opacity: 1;
  }
}