.wrapper {
  height: 100%;
  margin: 0 10px;
  background: #fff;
  box-sizing: border-box;
  padding-top: 41px;
}
.menu-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.menu {
  background: #e4e7ed;
  background: linear-gradient(#f2f6fc, #e4e7ed);
  height: 40px;
  width: 100%
}
$h: 40px;
/deep/ .el-menu--horizontal > .el-menu-item,
/deep/ .el-menu--horizontal > .el-submenu .el-submenu__title {
  line-height: $h;
  height: $h;
}
.search-box {
  position: absolute;
  right: 10px;
  top: 4px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0 5px;
  border: 1px solid transparent;
  .el-icon-search {
    cursor: pointer;
  }
  input {
    color: #999;
    margin: 5px;
    width: 0;
    background: none;
    transition: all .3s
  }
  &.open {
    background: #fff;
    border-color: #ddd;
    input {
      width: 200px
    }
  }
}