<template>
  <div class="wrapper position-r">
    <v-nav />
    <div class="search-box search-click open">
      <input type="text" v-model="searchContent" class="search-click" placeholder="请搜索" />
      <i class="el-icon-search search-click" @click="searchHandle" />
    </div>
    <v-content v-if="$store.state.activeId == 'index'" />
    <div class="iframe-box" v-show="$store.state.activeId != 'index'">
      <iframe :src="$store.state.url" frameborder="0" />
    </div>
  </div>
</template>

<script>
import vNav from '@/components/menu/nav'
import vContent from './content.vue'
export default {
  name: 'home',
  components: {
    vNav,
    vContent
  },
  data() {
    return {
      searchContent: null,
      
    }
  },
  methods: {
    searchHandle() {
      /**
      * 搜索事件
      * @return {void}
      * @author cheng_xiaona 2019/3/19 11:27:18
      */
      let v = this.searchContent;
      this.$router.push({
        name: 'Search',
        query: {
          searchText: v
        }
      })
    }
  },
  created() {
  }
}
</script>
<style lang="scss" scoped>
  @import './home.scss';
  .iframe-box {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

</style>
