<template>
  <div id="app" class="new-window" v-if="isNewWindow">
    <router-view />
  </div>
  <div id="app" v-else>
    <vHeader />
    <div class="content-wrapper" :style="{'padding-left': (open ? 200 : 0) + 'px'}">
      <vMenu @update:open="v => open = v" />
      <keep-alive><router-view /></keep-alive>
    </div>
  </div>
</template>

<script>
import vHeader from '@/components/Header'
import vMenu from '@/components/menu/menu'
export default {
  name: 'App',
  components: {
    vHeader,
    vMenu,
  },
  data () {
    return {
      open: true,
      excludes: ['newWindow', 'Search'],
      isNewWindow: false,
      includes: []
    }
  },
  methods: {
    checkRoute() {
      this.isNewWindow = false;
      for(let i = 0; i < this.excludes.length; i++) {
        if(this.$route.path.includes(this.excludes[i])) {
          this.isNewWindow = true;
          break
        }
      }
    },
    
  },
  created() {
    this.checkRoute();
  },
  watch: {
    $route: {
      deep: true,
      handler(v) {
        this.checkRoute();
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  #app {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    padding-top: 100px;
    &.new-window {
      padding: 0;
    }
  }
  .content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 200px;
    box-sizing: border-box;
    transition: all .4s;
  }
</style>