/* theme color */
$--color-primary: teal;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
.el-button--primary {
  background-color: #108ee9;
  border-color: #108ee9;
  &:hover,
  &:focus {
    background: #66b1ff;
    border-color: #66b1ff;
    color: #fff;
  }
}
.el-input__inner:focus {
  border-color: #66b1ff;
}
.padding10 {
  padding: 10px;
}
.el-pager li.active {
    color: #fff;
    cursor: default;
    background: teal;
}
/*审批单类型的样式*/
.publish-style {
$h: 30px;
$font: 12px;
  .el-input__inner,
  .el-select .el-input
  .el-input__inner,
  .el-textarea__inner,
  .el-checkbox__inner {
    font-family: Microsoft yahei;
    border: none;
    border-bottom: 1px solid #f56c6c;
    border-radius: 0;
    font-size: $font;
    color: #333;
  }
  .el-checkbox__label {
    padding-left: 5px;
    line-height: inherit;
    font-size: 12px;
  }
  .is-checked .el-checkbox__inner,
  .el-checkbox__inner {
    border: 1px solid #f56c6c;
    width: 12px;
    height: 12px;
    &:after {
      top: 0;
      left: 3px;
    }
  }
  .is-checked .el-checkbox__inner {
    background: #f56c6c;
  }
  .el-select .el-input .el-select__caret {
    color: #f56c6c;
  }
  .el-form-item__label,
  .el-input,
  .el-radio__label {
    font-size: $font;
    line-height: $h;
  }
  .el-form-item__label {
    padding: 0;
    margin-right: 10px;
  }
  .el-radio__inner {
    width: $font;
    height: $font
  }
  .el-radio__input.is-checked .el-radio__inner {
    background: teal;
    border-color:teal;
  }
  .el-form-item__content,
  .el-form--inline .el-form-item,
  .el-input__inner,
  .el-input__icon {
    line-height: $h
  }
  .el-input__inner {
    height: $h;
  }
  .el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
    border-color: #ddd;
  }
}
.el-select-dropdown__item.selected {
  color: #66b1ff;
}
.el-table td,
.el-select-dropdown__empty {
  font-size: 12px;
}
.el-table th {
  background: #f2f2f2
}
.expanded.el-tree-node__expand-icon {
  display: inline-block;
}
.el-date-editor {
  &.el-input__inner {
    background: none
  }
  .el-range-input,
  .el-range-separator {
    background: none
  }
}
.el-table .ascending.sort-caret {
  top: -2px \0/IE9;
}
.el-table .descending.sort-caret {
  bottom: -2px \0/IE9;
}
.el-date-editor {
  .el-range-input,
  .el-range-separator {
    position: relative;
    top: -8px \0/IE9;
  }
  &.el-input__inner {
    position: relative;
    top: 5px \0/IE9;
  }
}
.el-textarea .el-textarea__inner{
  resize: none;
}