html,
body {
  width: 100%;
  min-width: 650px;
  height: 100%;
  min-height: 400px;
  padding: 0;
  margin: 0;
  background: #e3e3e3;
  font-family: Microsoft yahei;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  outline: none;
  font-weight: normal;
}
.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
$w: 10px;
.circl {
  display: inline-block;
  width: $w;
  height: $w;
  border-radius: 50%;
  background: #c0c4cc;
  margin-right: 5px;
  &.red2 {
    background: #e02222;
  }
  &.red1 {
    background: #e6a23c
  }
}
table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

*::-webkit-scrollbar {
 width: 4px
}

*::-webkit-scrollbar-thumb {
 background: transparent;
 border-radius: 4px
}

*:hover::-webkit-scrollbar-thumb {
 background: hsla(0, 0%, 53%, .4)
}

*:hover::-webkit-scrollbar-track {
 background: hsla(0, 0%, 53%, .1)
}

.bgfff {
  background: #fff
}

.scroll {
  overflow: scroll
}

.scroll-y {
  overflow-y: scroll;
}
.fl {
  float: left;
}

.fr {
  float: right;
}

.padding10 {
  padding: 10px;
}
.position-r {
  position: relative;
}

.potition-a {
  position: absolute;
}

.position-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  border: none;
}
.pointer {
  cursor: pointer;
}
.font12 {
  font-size: 12px
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex{
  display: flex;
}
.flex1{
  flex: 1;
}
.flex-center{
  align-items: center;
  justify-content: center;
}
.flex-column{
  flex-flow: column;
  display: flex;
}