<template>
  <div class="wrapper" v-loading="loading" :element-loading-text="loadingText">
    <div class="top-bar"><span @click="handleBack" class="el-icon-arrow-left" />{{barText}}</div>
    <div class="content-wrapper">
      <div class="content" :class="{actived: actived == 1}">
        <el-radio v-for="v in radioData" v-model="nextStep" :label="v">{{v.name}}</el-radio>
      </div>
      <div class="content" :class="{actived: actived == 2}">
        <div class="wrapper">
          <p>已选择人员：</p>
          <div class="memeber">
            {{memberText}}
          </div>
          <p>办理类型：</p>
          <div class="examinetag">
            <el-radio :selected="i == 0" v-model="examinetag" v-for="(v, i) in examinetagRadioData" :label="v.type" v-if="v.name != '共同办'">{{setName(v.name)}}理</el-radio>
          </div>
          <div class="content-wrapper tree-wrapper">
            <el-tree ref="tree"
              @check-change="checkChange"
              :data="treeData"
              :default-checked-keys="defaultCheckedKeys"
              show-checkbox default-expand-all node-key="id" :props="{label: 'name', children: 'nodes'}" />
          </div>
        </div>
      </div>
      <!-- <div class="content" :class="{actived: actived == 3}">
        <div class="memeber">
          已选择人员： <br />
          {{memberText}}
        </div>
        <el-radio :selected="i == 0" v-model="examinetag" v-for="(v, i) in examinetagRadioData" :label="v.type">{{setName(v.name)}}理</el-radio>
        <ul class="tip">
          <li v-for="(v, i) in tips">{{i}}理：{{v}}</li>
        </ul>
      </div> -->
      <div class="content" :class="{actived: actived == 4}">
        <div class="top-icon">
          <div class="el-icon-check" />
          <p>提交成功,{{time}}秒后自动返回，或者您点击左上角返回图标返回！</p>
        </div>
        <ul class="tip">
          <li><span>下一环节：</span> {{opName}}</li>
          <li><span>下一办理人：</span> {{receiveName}}</li>
        </ul>
      </div>
    </div>
    <el-button type="primary" :disabled="!nextStep" v-if="actived == 1" @click="handleSubmitNext">下一步</el-button>
    <!-- <el-button type="primary" :disabled="checkdNodes.length == 0" v-if="actived == 2" @click="actived+= 1">下一步</el-button> -->
    <el-button type="primary" @click="handleSubmitMember()" :disabled="!examinetag || checkdNodes.length == 0" v-if="actived == 2">提交</el-button>
    <div class="shadow-wrapper" :class="{'actived': shadowShow}">
      <div class="shadow">
        <p><span class="el-icon-info" />您确认要取消工作流提交吗？</p>
        <div class="btn">
          <button @click="handleCancel">取消</button>
          <button @click="handleSure">确认</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'workStream',
  data () {
    return {
      nextStep: null,
      radioData: [],
      initWorkStreamData: null,//初始化后工作流返回的数据
      workStreamData: null, //提交下一环节后返回的工作流数据
      memberData: [], //人员树
      examinetag: null,
      examinetagRadioData: [],//办理类型redioa
      loading: true,
      loadingText: '加载中...',
      barText: '',
      actived: null,
      treeData: [],
      defaultCheckedKeys: [],
      firstFlag: true,
      memberText: null,
      /*tips: {
        '顺序办': '按选择的办理人顺序依次办理；',
        '并行办': '选择的办理人不分先后顺序并行办理；',
        '竞争办': '选择的办理人只要有一个用户办理即可;',
      },*/
      opName: '', //下一环节
      receiveName: '',//下一环节办理人
      success: false,
      shadowShow: false,
      time: 5,
      order: 999,
    }
  },
  computed: {
    checkdNodes() {
      return this.$refs.tree.getCheckedNodes()
    },
  },
  methods: {
    initWorkData() {
      /**
      * 工作流初始化
      * 勿动
      * 轻易勿动
      * 动前一定要备份， 一定要备份
      * 这个接口有毒，垃圾
      * @return {void}
      * @author cheng_xiaona 2019/7/8 11:47
      */
      let data = JSON.parse(this.$route.query.params);
      this.axios
        .post('gzl/yddEncoderGzlInfo', data)
        .then(res => {
          if(res.result.flag == 1) {
            let result = res.result.node[0]
            this.opName = result.opName
            this.receiveName = result.receiveName
            this.actived = 4
          } else {
            let status = this.checkValid(res, () => {
              this.radioData = res.result.node;
              this.nextStep = this.radioData[0];
              this.initWorkStreamData = res.result;
            });
            this.actived = 1
          }
          this.loading = false;
        })
        .catch(err => {
          console.log(err)
        })
    },
    setDilogSatatus(treeData) {
      let ti = this.workStreamData.node[0].examinetag.find(v => v.type == 6);
      this.examinetag = (ti || this.workStreamData.node[0].examinetag[0] || this.workStreamData.node[0].examinetag.find(v => v.selected == 'true')).type;
      if (treeData[0].nodes.length == 1 && ((treeData[0].nodes[0].nodes && treeData[0].nodes[0].nodes.length == 1) || !treeData[0].nodes[0].nodes)) {
        this.memberChecked = treeData;
        this.handleSubmitMember(true)
      } else {
        treeData.forEach(parent => {
          parent.deptId = 0;
          parent.nodes.forEach(child => {
            child.deptId = parent.id
          })
        })
        this.treeData = treeData;
        this.examinetagRadioData = this.workStreamData.node[0].examinetag.reverse();
        this.dialogVisible = true;
        this.actived = 2
        this.loading = false
      }
    },
    handleSubmitNext() {
      /**
      * 下一环节提交点击事件
      * @return {void}
      * @author cheng_xiaona 2019/5/9
      */
      let data = JSON.parse(JSON.stringify(this.initWorkStreamData))
      if(data.flag == 'flowinstance') {
        this.workStreamData = this.copyObj(this.initWorkStreamData)
        this.setDilogSatatus(this.initTreeData(this.copyObj(this.initWorkStreamData.node)))
      } else {
        data.node = [this.nextStep];
        this.loadingText = '提交中...'
        this.loading = true
        this.axios
          .post('gzl/yddEncoderGzlInfo', data)
          .then(res => {
            this.checkValid(res, () => {
              this.memberData = res.result.node;
              this.workStreamData = res.result;
              if(res.result.flag == 1) {
                let result = res.result.node[0]
                this.opName = result.opName
                this.receiveName = result.receiveName
                this.actived = 4;
                this.loading = false
              } else {
                this.setDilogSatatus(this.initTreeData(res.result.node))
              }
            })
          })
      }
    },
    checkChange(data, status, childStatus) {
      /**
      * data 属性的数组中该节点所对应的对象、节点本身是否被选中、节点的子树中是否有被选中的节点
      * @param data {Object} 属性的数组中该节点所对应的对象
      * @param status {Boolean} 节点本身是否被选中
      * @param childStatus {Boolean} 节点的子树中是否有被选中的节点
      * @return {void}
      * @author cheng_xiaona 2019/4/20
      */
      if(status) {
        data.order = Number(this.order);
        this.order--
      } else {
        data.order = 0
      }
      let arr = JSON.parse(JSON.stringify(this.$refs.tree.getCheckedNodes()));
      arr = arr.filter(v => !v.nodes);
      arr.sort((a, b) => b.order-a.order)
      let textArr = [];
      arr.forEach(v => textArr.push(v.name))
      this.memberText = textArr.join('/');
    },
    handleSubmitMember(isSingle) {
      /**
      * 人员选择后提交事件
      * @param isSingle {Boolean} 是否只有一个人，选填默认否
      * @return {void}
      * @author cheng_xiaona
      * 选择人员：注意：remind改成对象，limit改成对象，examinetag改成一个值，多的人员删除
      **/
      this.loadingText = '正在提交中...'
      this.loading = true
      console.log(isSingle)
      let node = this.copyObj(this.workStreamData.node)
      if(!isSingle) {
        node[0].nodes = this.formateTreeData(this.copyObj(this.workStreamData.node[0].nodes));
      }
      node.forEach(v => {
        v.remind = v.remind[0];
        v.limit = Object.assign({}, v.limit);
        v.examinetag = this.examinetag;
      })
      this.workStreamData.node = node;
      this.axios
        .post('gzl/yddEncoderGzlInfo', this.workStreamData)
        .then(res => {
          this.success = this.checkValid(res, () => {
            let result = res.result.node[0]
            this.opName = result.opName
            this.receiveName = result.receiveName
            this.actived = 4
          })
          this.loading = false
        })
    },
    trim(str) {
      return str.replace(/\s+/g, '')
    },
    formateTreeData(treeData) {
      let res = [];
      let checkedNodes = JSON.parse(JSON.stringify(this.$refs.tree.getCheckedNodes().filter(v => !v.nodes)));
      checkedNodes.sort((a, b) =>  b.order - a.order)
      Array.prototype.getParentNodes = function(node, parent) {
        this.forEach(v => {
          let p = JSON.stringify(v)
          let c = JSON.stringify(node);
          if(p.includes(c) && p != c) {
            let item = JSON.parse(p)
            item.nodes = [];
            parent.push(item);
            v.nodes.getParentNodes(node, item.nodes)
          } else if(p == c) {
            parent.push(node)
          }
        })
      }
      checkedNodes.forEach(v => {
        treeData.getParentNodes(v, res)
      })
      Array.prototype.clearOrder = function() {
        this.forEach(v => {
          delete v.order;
          (v.nodes) && (v.nodes.clearOrder())
        })
      }
      res.clearOrder();
      console.log(res)
      return res
    },
    checkValid(res, fn) {
      /**
      * 检查是否提交成功
      */
      let msg = this.trim(res.result.exception);
      if (res && res.result && msg.length == 0) {
        fn()
        return true
      }
      else {
        this.$message({
          message: msg,
          type: 'error'
        });
        return false
      }
    },
    initTreeData(treeData) {
      Array.prototype.initSelected = function() {
        this.forEach(v => {
          v.selected = false;
          v.order = 0;
          if(v.nodes) v.nodes.initSelected();
        })
      };
      treeData.initSelected();
      return treeData
    },
    setName(name) {
      return name.replace('同时办', '并行办')
    },
    copyObj(obj) {
      return JSON.parse(JSON.stringify(obj))
    },
    handleBack() {
      if(this.actived == 4) {
        // window.close()
        this.$route.query.from ? location.replace(this.$route.query.from) : history.back(-1)
        /*location.replace(this.$route.query.from || 'http://portalapp2.cnmc.com.cn/ysoa/approval/FiveScreen.html')*/
      } else if(this.actived == 1) {
        this.shadowShow = true
      } else {
        this.actived-= 1
      }
    },
    handleSure() {
      this.shadowShow = false;
      this.$route.query.from ? location.replace(this.$route.query.from) : history.back(-1)
      // location.replace(this.$route.query.from || '/')
    },
    handleCancel() {
      this.shadowShow = false
    },
    setState() {
      /**
      * 设置文的状态
      * @return {void}
      * @author cheng_xiaona 2019/8/19
      */
      this.axios
        .post(this.$route.query.fileName + '/updateSubFlagById?id=' + this.$route.query.id + '&subFlag=01')
    }
  },
  created() {
    this.initWorkData()
  },
  watch: {
    actived(v) {
      switch(v) {
        case 1:
          this.barText = '请选择下一环节';
          break;
        case 2:
          this.barText = '请选择参与者';
          break;
        /*case 3:
          this.barText = '请选择办理类型'
          break;*/
        default:
          this.barText = '办理结果';
          this.setState();
          let timer = setInterval(() => {
            this.time--;
            if(this.time == 0) {
              clearInterval(timer);
              this.handleBack()
            }
          }, 1000);
          break
      }
    }
  },
  mounted() {
    window.addEventListener('beforeunload', function(event) {
      console.log('beforeunload')
                return 1;
    });
    
  }
}
</script>

<style lang="scss" scoped>
  .flex {
    display: flex
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .top-bar {
    line-height: 2.5em;
    font-size: .16rem;
    background: #0768ce;
    text-align: center;
    height: 2.5em;
    color: #fff;
    position: relative;
     span[class^="el-icon-arrow"] {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
  }
  .content-wrapper {
    position: relative;
    background: #fff;
    flex: 1;
    overflow: hidden;
  }
  .content {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 15px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: scroll;
    z-index: 1;
    transform: translateX(100%);
    transition: all .3s;
    &.actived {
      z-index: 2; 
      left: -100%;
    }
  }
  .el-button {
    border-radius: 0
  }
  .el-radio {
    display: block;
    margin-bottom: 10px;
  }
  .tree-wrapper {
    overflow: scroll;
  }
  .memeber,
  .tip {
    font-size: .14rem;
    border: 1px solid #dcdfe6;
    border-radius: 3px;
    padding: 10px;
    background: #e6f0fa;
    line-height: 1.5em;
    margin-bottom: 10px;
  }
  .examinetag {
    font-size: .12rem;
    line-height: 2em;
    padding: 10px;
    background: #f5f7fa;
    display: flex;
    align-items: center;
    /deep/ {
      .el-radio {
        margin-bottom: 0
      }
    }
  }
  .top-icon {
    text-align: center;
    div[class^="el-icon-"]{
      padding: 10px;
      font-size: .50rem;
      border-radius: 50%;
      background: #67c23a;
      color: #fff;
    }
    p {
      margin: 10px 0 20px;
    }
  }
  .shadow-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0,0,0,.3);
    opacity: 0;
    transition: all .3s;
    &.actived {
      z-index: 9999;
      opacity: 1;
      .shadow {
        top: 50%;
      }
    }
  }
  .shadow {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -100%);
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    transition: all .3s;
    p {
      font-size: .13rem;
      line-height: 1.5em;
      padding: 10px;
      text-align: center;
    }
    .el-icon-info {
      color: #e6a23c;
    }
    .btn {
      display: flex;
      button {
        flex: 1;
        font-size: .13rem;
        line-height: 2em;
        color: #fff;
        background: #3986d8;
        &:first-child {
          background: #065eb9;
        }
      }
    }
  }
</style>