<template>
  <div class="loading" v-loading="loading" v-if="loading" />
  <div class="wrapper" v-else>
    <office-js :src="'/js/office/office.js?timestamp=' + timeStamp()" />
    <common-js :src="'/js/common.js?timestamp=' + timeStamp()" />
    <router-view />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'newWindow',
  components: {
    'office-js': {
      render(createElement) {
        return createElement('script', {
          attrs: {
            type: 'text/javascript',
            src: this.src
          }
        })
      }
    },
    'common-js': {
      render(createElement) {
        return createElement('script', {
          attrs: {
            type: 'text/javascript',
            src: this.src
          }
        })
      }
    }

  },
  data () {
    return {
      loading: true
    }
  },
  computed: {
  },
  methods: {
    ...mapActions(['getWbInfo', 'getDwInfo', 'getJGZInfo', 'getSpecailDepartments', 'getButtons'])
  },
  created() {
    if(!this.$store.state.specailDepartment) {
      Promise.all([
        this.getWbInfo(),
        this.getDwInfo(),
        this.getSpecailDepartments(),
        this.getJGZInfo()])
        .then(res => {
          this.loading = false
        })
    } else {
      this.loading = false
    }
  },
  watch: {
    $route: {
      deep: true,
      handler(v) {
        delete window.formData;
        if(v.path.includes('newWindow/')) {
          this.loading = true;
          this.$nextTick(() => {
            this.loading = false
          })
        }
      }
    },
  },
  beforeRouteLeave(from, to, next) {
    delete window.formData;
    next()
  }
}
</script>
<style lang="scss" scoped>
 .loading {
    height: 100%;
 }
 .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
 }
</style>
