<template>
  <statistic title="公文各环节办理时效">
    <div class="content">
      <tableTemp
      url="statistics/document"
      :columns="columns"
      :search="search"
      @update:params="v => params = v"
     />
    </div>
    <div class="bar" ref="chart" />
  </statistic>
</template>

<script>
import statistic from './components/statistics.vue'
import TableTemp from '@/components/table/temp.table1.vue'
import echarts from 'echarts'
export default {
  name: 'document',
  components: {
    statistic,
    TableTemp
  },
  data () {
    return {
      params: {},
      chart: null,
      search: {
        form: {
          poName: null,
          year: null,
        },
        items: [
          {
            label: '流程',
            prop: 'poName',
            type: 'select',
            multiple: true,
            width: '600px',
            options: [
              {
                label: '发文',
                value: 'fw'
              },
              {
                label: '签报',
                value: 'qb'
              },
              {
                label: '白头文',
                value: 'btw'
              },
              {
                label: '收文',
                value: 'sw'
              },
              {
                label: '部门收文',
                value: 'bmsw'
              },
            ]
          },
          {
            label: '请选择',
            prop: 'year',
            type: 'datePicker',
            dateType: 'month',
            placeholer: '请选择年-月',
            format: 'yyyy年M月'
          },
        ]
      },
      columns: [
        {
          label: '月份',
          prop: 'month',
        },
        {
          label: '拟稿环节',
          prop: 'ngStep',
        },
        {
          label: '会签环节',
          prop: 'hqStep'
        },
        {
          label: '审批环节',
          prop: 'spStep'
        },
        {
          label: '办公厅环节',
          prop: 'bgtStep'
        }
      ]
    }
  },
  methods: {
    getChartData() {
      return new Promise((resolve, reject) => {
        this.axios({
          url: 'statistics/document/chart',
          data: this.params,
          method: 'post'
        })
          .then(res => {
            if(res) {
              resolve(res.result)
            } else {
              reject(res.msg)
            }
          })
          .catch(err => {
            reject(err)
          })
      })
    },
    createChart(data) {
      this.chart = echarts.init(this.$refs.chart)
      let series = [];
      for(let i in data.data) {
        series.push({
          name: i,
          type:'bar',
          data: data.data[i],
          barWidth: 10,
          itemStyle: {
            normal: {
              label: {
                show: true,
                position: 'top',
              }
            }
          }
        })
      }
      let option = {
        title: {
          text: data.title
        },
        legend: {
          data:['拟稿环节','会签环节','审批环节','办公厅环节']
        },
        tooltip: {
          trigger: 'item'
        },
        yAxis: [{
          type: 'value'
        }],
        xAxis : [
          {
            axisLabel: {
              interval:0,
              // rotate: 20
            },
            type: 'category',
            data: data.xAxis
          }
        ],
        series
      }
      this.chart.setOption(option)
    }
  },
  mounted() {
    /*this.getChartData()
      .then(res => {
        this.createChart(res)
      })*/
  },
  watch: {
    params: {
      deep: true,
      handler(v) {
        this.getChartData()
          .then(res => {
            this.createChart(res)
          })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'group.scss'
</style>