<template>
  <statistic :title="'各部门' + (documentType == 'FaWen' ? '发文' : '收文') + '处理时效'">
    <div class="content">
      <tableTemp
      :columns="s.columns"
      :url="s.url"
      :search="search"
      :HeaderCellClassName="HeaderCellClassName"
      @update:params="v => params = v"
     />
    </div>
    <div class="bar" ref="chart" />
  </statistic>
</template>

<script>
import statistic from './components/statistics.vue'
import TableTemp from '@/components/table/temp.table1.vue'
import echarts from 'echarts'
export default {
  name: 'group',
  components: {
    statistic,
    TableTemp
  },
  data () {
    return {
      documentType: 'ShouWen',
      params: {},
      search: {
        form: {
          year: null,
        },
        items: [
          {
            label: '请选择',
            prop: 'year',
            type: 'datePicker',
            dateType: 'month',
            placeholer: '请选择年-月',
            format: 'yyyy年M月'
          },
        ]
      },
      config: {
        ShouWen: {
          url: 'statistics/groupSW',
          chartUrl: 'statistics/groupSW/chart',
          columns: [
            {
              label: '部门',
              prop: 'deptName',
              minWidth: '120',
              sortable: true
            },
            {
              label: '收文处理总件数',
              prop: 'count',
              width: '150',
              sortable: true
            },
            {
              label: '平均处理时效',
              prop: 'times',
              width: '150',
              sortable: true
            },
          ]
        },
        FaWen: {
          url: 'statistics/groupFW',
          chartUrl: 'statistics/groupFW/chart',
          columns: [
            {
              label: '部门',
              prop: 'deptName',
              minWidth: '120',
              sortable: true
            },
            {
              label: '发文处理总数量',
              prop: 'count',
              width: '150',
              sortable: true
            },
            {
              label: '处理件数',
              prop: 'deptName',
              children: [
                {
                  label: '主办',
                  prop: 'countZhuBan',
                  width: '100',
                  sortable: true
                },
                {
                  label: '会签',
                  prop: 'countHuiQian',
                  width: '100',
                  sortable: true
                }
              ]
            },
            {
              label: '平时处理时效',
              prop: 'deptName',
              children: [
                {
                  label: '主办',
                  prop: 'timeZhuBan',
                  width: '100',
                  sortable: true
                },
                {
                  label: '会签',
                  prop: 'timeHuiQian',
                  width: '100',
                  sortable: true
                }
              ]
            }
          ]
        },
      },
      chartData: null,
      loading: true,
      chart: null
    }
  },
  computed: {
    s() {
      return this.config[this.documentType]
    }
  },
  methods: {
    HeaderCellClassName({row, column, rowIndex, columnIndex}) {
      return this.$route.query.documentType == 'FaWen' ? '' : 'center'
    },
    getChartData() {
      return new Promise((resolve, reject) => {
        this.axios({
          method: 'post',
          data: this.params,
          url: this.s.chartUrl
        })
          .then(res => {
            if(res) {
              resolve(res.result)
            } else {
              reject(res.msg)
            }
          })
          .catch(err => {
            reject(err)
          })
      })
    },
    createChart(data) {
      this.chart = echarts.init(this.$refs.chart)
      let option = {
        title: {
          text: data.title
        },
        tooltip: {
          trigger: 'item'
        },
        yAxis: [{
          type: 'value'
        }],
        xAxis : [
          {
            axisLabel: {
              interval:0,
              // rotate: 20
            },
            type: 'category',
            data: data.xAxis
          }
        ],
        series: [
          {
            type:'bar',
            data: data.data,
            barWidth: 30,
            itemStyle: {
              normal: {
                label: {
                  show: true,
                  position: 'top',
                }
              }
            }
          },
        ]
      }
      this.chart.setOption(option)
    }
  },
  created() {
    this.documentType = this.$route.query.documentType || 'ShouWen';
  },
  watch: {
    params: {
      deep: true,
      handler() {
        this.getChartData()
          .then(res => {
            this.createChart(res)
          })
      }
    }
  },
  /*mounted() {
    this.getChartData()
      .then(res => {
        this.createChart(res)
      })
  }*/
}
</script>

<style lang="scss" scoped>
@import 'group.scss'
</style>