<template>
  <div class="p-wrapper">
    <toolBar />
    <div class="view">
      <router-view />
    </div>
  </div>
</template>

<script>
import toolBar from '@/components/toolBar'
export default {
  name: 'statistics',
  components: {
    toolBar
  },
  data () {
    return {
      
    }
  }
}
</script>

<style lang="scss" scoped>
.p-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 40px;
  overflow: hidden;
}
.view {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
</style>