<template>
  <statistic title="人员公文处理效率排名表">
    <TableTemp
      :columns="columns"
      :search="search"
      url="statistics/members"
      HeaderCellClassName="center"
      orderHidden
      @update:params="v => params = v"
    />
  </statistic>
</template>

<script>
import statistic from './components/statistics.vue'
import TableTemp from '@/components/table/temp.table1.vue'
export default {
  name: 'member',
  components: {
    statistic,
    TableTemp
  },
  data () {
    return {
      params: {},
      columns: [
        {
          label: '排名',
          prop: 'order',
          width: 50
        },
        {
          label: '人员',
          prop: 'name',
        },
        {
          label: '公文处理数量',
          children: [
            {
              label: '全部',
              prop: 'allCount'
            },
            {
              label: '发文',
              prop: 'fwCount'
            },
            {
              label: '签报',
              prop: 'qbCount'
            },
            {
              label: '白头文',
              prop: 'btwCount'
            },
            {
              label: '部门收文',
              prop: 'bmswCount'
            },
          ]
        }
      ],
      search: {
        form: {
          year: null,
          deptName: null
        },
        items: [
          {
            label: '时间',
            prop: 'year',
            type: 'datePicker',
            dateType: 'month',
            placeholer: '请选择年月',
            format: 'yyyy年M月'
          },
          {
            label: '部门',
            prop: 'deptName'
          }
        ]
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  /deep/ {
    .el-scrollbar__view {
      height: 100%
    }
  }
</style>