<template>
  <statistic title="人员处理时效">
    <div class="content">
      <tableTemp
      orderHidden
      :columns="columns"
      :url="url"
      :search="search"
      @update:params="v => params = v"
     />
    </div>
    <div class="statistic">
      <div ref="timesChart" />
      <div ref="countChart" />
    </div>
  </statistic>
</template>

<script>
import statistic from './components/statistics.vue'
import TableTemp from '@/components/table/temp.table1.vue'
import echarts from 'echarts'
export default {
  name: 'MemberByMonth',
  components: {
    statistic,
    TableTemp
  },
  data () {
    return {
      params: {},
      documentType: 'ShouWen',
      search: {
        form: {
          year: null,
          name: null
        },
        items: [
          {
            label: '人员',
            prop: 'name',
          },
          {
            label: '请选择',
            prop: 'year',
            type: 'datePicker',
            dateType: 'month',
            placeholer: '请选择年-月',
            format: 'yyyy年M月'
          },
        ]
      },
      url: 'statistics/memberByMonth',
      columns: [
        {
          label: '月份',
          prop: 'month',
          minWidth: '70'
        },
        {
          label: '处理平均时间',
          prop: 'times',
        },
        {
          label: '处理件数',
          prop: 'count',
        },
      ],
      loading: true,
      chart: null
    }
  },
  methods: {
    getLineData() {
      this.axios({
        url: 'statistics/memberByMonth/timesChart',
        data: this.params,
        method: 'post'
      })
        .then(res => {
          if(res) {
            this.createChart(res.result, this.$refs.timesChart, 'line')
          }
        })
    },
    getBarData() {
      this.axios({
        url: 'statistics/memberByMonth/countChart',
        data: this.params,
        method: 'post'
      })
        .then(res => {
          if(res) {
            this.createChart(res.result, this.$refs.countChart)
          }
        })
    },
    createChart(data, dom, type) {
      this.chart = echarts.init(dom)
      let option = {
        title: {
          text: data.title
        },
        tooltip: {
          trigger: 'item'
        },
        yAxis: [{
          type: 'value'
        }],
        xAxis : [
          {
            axisLabel: {
              interval:0,
              // rotate: 20
            },
            type: 'category',
            data: data.xAxis
          }
        ],
        series: [
          {
            type: type || 'bar',
            data: data.data,
            barWidth: 30,
            itemStyle: {
              normal: {
                label: {
                  show: true,
                  position: 'top',
                }
              }
            }
          },
        ]
      }
      this.chart.setOption(option)
    }
  },
  created() {
    
  },
  mounted() {
  },
  watch: {
    params: {
      deep: true,
      handler(v) {
        this.getLineData();
        this.getBarData();
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'group.scss';
.content {
  height: 538px;
}
.statistic {
  margin-top: 10px;
  height: 600px;
  background: #fff;
  &>div {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    height: 100%
  }
}
</style>