<template>
  <div class="wrapper" :class="{'no-bar': selection}">
    <toolBar v-if="!selection" />
    <div class="main flex1">
      <el-tabs type="border-card">
        <el-tab-pane label="全部" title="全部">
          <search-temp @update:selection="updateSelection" :selection="selection" isInit :form="allForm" />
        </el-tab-pane>
        <el-tab-pane label="发文" title="发文">
          <search-temp @update:selection="updateSelection" :selection="selection" :query="{wjType: 'fw'}" :url="url" :form="FaWenForm" /></el-tab-pane>
        <el-tab-pane label="签报" title="签报">
          <search-temp @update:selection="updateSelection" :selection="selection" :query="{wjType: 'qb'}" :url="url" :form="QianBaoForm" /></el-tab-pane>
        <el-tab-pane label="白头文" title="白头文">
          <search-temp @update:selection="updateSelection" :selection="selection" :query="{wjType: 'btw'}" :url="url" :form="QianBaoForm" />
        </el-tab-pane>
        <el-tab-pane label="收文" title="收文">
          <search-temp @update:selection="updateSelection" :selection="selection" :query="{wjType: 'sw'}" url="search/searchSW" :form="ShouWenForm" />
        </el-tab-pane>
        <el-tab-pane label="部门收文" title="收文">
          <search-temp @update:selection="updateSelection" :selection="selection" :query="{wjType: 'bmsw'}" url="search/searchSW" :form="ShouWenForm" />
        </el-tab-pane>
      </el-tabs>
    </div>
    <div class="btns" v-if="$route.query.checked == 1">
      <el-button size="small" @click="handleCancel">取消</el-button>
      <el-button size="small" :disabled="!(selections && selections.length)" type="primary" @click="handleSure">确认</el-button>
    </div>
  </div>
</template>

<script>
import searchTemp from './search.temp.vue'
import columnConfig from './colum.config.js'
import toolBar from '@/components/toolBar'
export default {
  name: 'Search',
  components: {
    searchTemp,
    toolBar
  },
  data () {
    let subFlagOptions = [
      {
        label: '全部',
        value: '-1'
      },
      {
        label: '办理中',
        value: '01'
      }, {
        label: '已办结',
        value: '02'
      }
    ]
    return {
      selections: null,
      url: 'search/searchFW',
      allForm: [
        {
          prop: 'poName',
          label: '文件类型',
          isColumn: true,
          width: 120
        },
        {
          prop: 'title',
          label: '标题',
          type: 'input',
          show: true,
          isColumn: true,
          minWidth: '200'
        },
        {
          prop: 'createTime',
          label: '日期',
          type: 'dates',
          show: true,
          isColumn: true,
          width: '150'
        },
        {
          prop: 'subFlag',
          label: '办理状态',
          type: 'select',
          show: true,
          isColumn: true,
          options: subFlagOptions,
          width: '120'
        },
      ],
      FaWenForm: [
        {
          prop: 'poName',
          label: '文件类型',
          isColumn: true,
          width: 120
        },
        {
          prop: 'title',
          label: '标题',
          type: 'input',
          show: true,
          isColumn: true,
          minWidth: '200'
        },
        {
          prop: 'outCode',
          label: '文号',
          type: 'input',
          show: true,
          isColumn: true,
          width: 120,
        },
        {
          prop: 'ngDate',
          label: '拟稿日期',
          type: 'dates',
          show: true,
          isColumn: false,
          width: '150'
        },
        {
          prop: 'fwDate',
          label: '发文日期',
          type: 'dates',
          show: true,
          isColumn: true,
          width: '150'
         },
        {
          prop: 'ngDeptName',
          label: '拟稿部门',
          type: 'input',
          show: false,
          isColumn: true,
        },
        /*{
          prop: 'name1',
          label: '签发人',
          type: 'input',
          show: false,
          isColumn: true,
        },*/
        {
          prop: 'bgshgUserName',
          label: '主送领导',
          type: 'input',
          show: false,
          isColumn: false,
        },
        {
          prop: 'zhsDept',
          label: '主送单位',
          type: 'input',
          show: false,
          isColumn: false,
        },
        {
          prop: 'chsDept',
          label: '抄送单位',
          type: 'input',
          show: false,
          isColumn: false,
        },
        {
          prop: 'affixName',
          label: '附件名称',
          type: 'input',
          show: false,
          isColumn: false,
        },
        {
          prop: 'subFlag',
          label: '办理状态',
          type: 'select',
          show: false,
          isColumn: true,
          options: subFlagOptions,
          width: '120'
        },
      ],
      ShouWenForm: [
        {
          prop: 'poName',
          label: '文件类型',
          isColumn: true,
          width: 120
        },
        {
          prop: 'title',
          label: '标题',
          type: 'input',
          show: true,
          isColumn: true,
          minWidth: '200'
        },
        {
          prop: 'inNum',
          label: '收文编号',
          type: 'input',
          show: true,
          isColumn: true,
          width: 120,
        },
        {
          prop: 'inSort',
          show: true,
          isColumn: true,
          label: '收文类型',
          width: 120,
          type: 'select',
          show: true,
          isColumn: true,
          options: [
            {
              value: '命令',
            },
            {
              value: '决定',
            },
            {
              value: '公告',
            },
            {
              value: '通告',
            },
            {
              value: '通知',
            },
            {
              value: '通报',
            },
            {
              value: '议案',
            },
            {
              value: '报告',
            },
            {
              value: '请示',
            },
            {
              value: '批复',
            },
            {
              value: '意见',
            },
            {
              value: '函',
            },
            {
              value: '纪要',
            },
            {
              value: '决议',
            },
            {
              value: '公报'
            },
          ]
        },
        {
          prop: 'comingDeptName',
          label: '来文单位',
          type: 'input',
          show: true,
          isColumn: true,
          width: 200
        },
        {
          prop: 'comingCode',
          label: '来文字号',
          type: 'input',
          show: false,
          isColumn: true,
          width: 120,
        },
        {
          prop: 'comingDate',
          label: '来文日期',
          type: 'input',
          show: false,
          isColumn: true,
          width: '150'
        },
        {
          prop: 'zsldNames',
          label: '主送领导',
          type: 'input',
          show: false,
          isColumn: false,
        },
        {
          prop: 'zhsDept',
          label: '主办单位',
          type: 'input',
          show: false,
          isColumn: false,
        },
        {
          prop: 'creUserDept',
          label: '拟办单位',
          type: 'input',
          show: false,
          isColumn: false,
        },
        {
          prop: 'chsDept',
          label: '阅知单位',
          type: 'input',
          show: false,
          isColumn: false,
        },
        {
          prop: 'yzryNames',
          label: '阅知人员',
          type: 'input',
          show: false,
          isColumn: false,
        },
        {
          prop: 'affixName',
          label: '公文附件名称',
          type: 'input',
          show: false,
          isColumn: false,
        },
      ],
      QianBaoForm: [
        {
          prop: 'poName',
          label: '文件类型',
          isColumn: true,
          width: 120
        },
        {
          prop: 'title',
          label: '标题',
          type: 'input',
          show: true,
          isColumn: true,
          minWidth: '200'
        },
        {
          prop: 'outCode',
          label: '编号',
          type: 'input',
          show: true,
          isColumn: true,
          width: 120,
        },
        {
          prop: 'ngDeptName',
          label: '拟稿单位',
          type: 'input',
          show: true,
          isColumn: true,
        },
        {
          prop: 'draftsmanName',
          label: '拟稿人员',
          type: 'input',
          show: true,
          isColumn: true,
          width: 120,
        },
        {
          prop: 'ngDate',
          label: '拟稿日期',
          type: 'dates',
          show: false,
          isColumn: false,
          width: '150'
        },
        {
          prop: 'bgshgUserName',
          label: '呈送领导',
          type: 'input',
          show: false,
          isColumn: true,
          width: 120,
        },
        {
          prop: 'chsDept',
          label: '阅知部门',
          type: 'input',
          show: false,
          isColumn: true,
          width: 150,
        },
      ]
    }
  },
  computed: {
    selection() {
      return this.$route.query.checked == 1
    },
  },
  methods: {
    updateSelection(v) {
      this.selections = v
    },
    handleCancel() {
      window.close()
    },
    handleSure() {
      localStorage.setItem('selection', JSON.stringify(this.selections))
      window.close();
    }
  },
  created() {
    this.allForm.find(v => v.prop == 'title').value = this.$route.query.searchText
    // this.allForm[1].value = this.$route.query.searchText
  },
  watch: {
    searchType(v) {
      if (v) {
        let s = this.subTypes[v];
        let res = [];
        for(let i = 0; i < s.lneght; i++) {
          let label = s[i];
          let C = columnConfig[label];
          res.push({
            label,
            prop: C.prop,
            width: C.width
          })
        }
      } else {
        this.colums = this.columnsInt
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'search.scss';
</style>