.table-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.el-icon-menu {
  position: absolute;
  top: 17px;
  right: 26px;
  cursor: pointer;
}
/deep/ {
  .el-checkbox__label {
    /*display: block*/
    font-size: 12px
  }
  .el-checkbox__inner {
    width: 12px;
    height: 12px;
  }
}
.checkbox-group {
  position: absolute;
  top: 32px;
  right: 30px;
  width: 100px;
  background: #fff;
  box-shadow: 0 1px 7px #ddd;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
  padding: 10px;
}
.el-checkbox-group {
  width: 100%;
}
.el-icon-search {
  margin-right: 5px;
}
.el-collapse {
  border-radius: 5px;
  box-shadow: 1px 1px 7px #ddd;
  border: none;
  overflow: hidden;
}
/deep/ {
  .el-collapse-item__header {
    padding-left: 10px;
    /*background: #f2f6fc;*/
    &.is-active {
      border-bottom: 1px solid #f2f6fc
    }
  }
  .el-scrollbar__wrap {
    overflow: inherit;
  }
}
.main {
  padding: 10px 10px 15px;
}
.el-form {
  padding-right: 10px;
}
/deep/ .el-button--primary {
  /* background-color: #007373;
  border-color: #339999; */
}
$lw: 74px;
.el-form-item {
  position: relative;
  width: 25%;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding-left: $lw;
  margin-right: 0
}

.search-content {
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 1px 7px #ccc;
}
.red {
  margin-right: 10px;
  cursor: pointer;
  color: red;
}
.el-tag {
  margin-right: 5px;
}
.text-r {
  text-align: right;
  width: 210px;
  padding-top: 5px;
}
.w100 {
  width: 100%;
  text-align: center;
}
/deep/ {
  .el-form--inline .el-form-item__content {
    width: 100%;
    & > * {
      width: 100%
    }
  }
  .el-form-item__label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $lw
  }
  .el-input__inner,
  .el-form-item__label {
    font-size: 12px;
  }
  .el-collapse-item__content {
    padding-bottom: 0
  }
  .el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: auto
  }
}
.table-box {
  margin: 10px 0;
  flex: 1;
  overflow: hidden;
}
