<template>
  <div class="position-r table-wrapper" ref="wrapper">
    <el-collapse @change="collapseChange">
      <el-collapse-item class="position-r" name="search" ref="collapse">
        <template slot="title">
          <span class="el-icon-search" />搜索
        </template>
        <i ref="column" class="el-icon-menu" @click="checkGroupShow = true" />
        <div class="main" v-if="searchForm" v-show="checkboxGroup.length">
          <el-form class="clearfix" :model="searchForm" inline>
            <el-form-item v-show="checkboxGroup.includes(v.label)" v-for="v in form" :label="v.label" :prop="v.prop">
              <el-input size="small" v-if="v.type == 'input'" v-model="searchForm[v.prop]" />
              <el-date-picker  size="small" v-else-if="v.type == 'datepicker' " v-model="searchForm[v.prop]" />
              <el-date-picker type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                size="small"
                v-else-if="v.type == 'dates' "
                v-model="searchForm[v.prop]" />
              <el-select  size="small" v-else-if="v.type == 'select'" v-model="searchForm[v.prop]">
                <el-option v-for="o in v.options" :label="o.label || o.value" :value="o.value" />
              </el-select>
            </el-form-item>
          </el-form>
          <div style="text-align: center">
            <el-button size="small" icon="el-icon-refresh" @click="handleReset">重置</el-button>
            <el-button size="small" icon="el-icon-search" type="primary" @click="handleSearch">搜索</el-button>
          </div>
        </div>
      </el-collapse-item>
    </el-collapse>
    <div class="table-box" :style="{height: tableHeight}">
      <el-table
        height="100%"
        v-loading="loading"
        :data="tableData"
        @sort-change="sortChange"
        @row-click="rowClick"
        @selection-change="handleSelectionChange"
        border>
        <el-table-column
          v-if="selection"
          type="selection"
          width="55" />
        <el-table-column
          prop="orderNum"
          label="序号"
          width="55" />
        <el-table-column
          sortable
          v-if="v.isColumn"
          :width="v.width || ''"
          :minWidth="v.minWidth || ''"
          showOverflowTooltip
          v-for="v in form"
          :label="v.label"
          :prop="v.prop">
          <template slot-scope="scope">
            <div class="psition-r content" v-html="createTemp(scope, v)" />
          </template>
        </el-table-column>
      </el-table>
    </div>
    <el-pagination ref="page" @size-change="sizeChange" @current-change="currentChange" :current-page="pageQuery.page" :page-sizes="pageSizes" :page-size="pageQuery.limit" layout="total, sizes, prev, pager, next, jumper" :total="pageQuery.count">
    </el-pagination>
    <div class="checkbox-group" ref="group" v-show="checkGroupShow">
      <el-checkbox-group v-model="checkboxGroup">
        <el-checkbox v-for="v in form" :value="v.show" :label="v.label" :disabled="checkboxGroup.length == 1 && checkboxGroup[0] == v.label" />
      </el-checkbox-group>
    </div>
  </div>
</template>

<script>
export default {
  name: 'searchTemp',
  props: {
    data: {
      type: Object,
      default: () => {
        return {}
      }
    },
    form: {
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    title: '',
    isInit: {
      type: Boolean,
      default: false
    },
    url: {
      type: String,
      default: 'search/searchAll'
    },
    query: {
      type: Object,
      default: () => {
        return {}
      }
    },
    selection: {
      type: Boolean,
      default: false
    }
  },
  data () {
    let pageSizes = [10, 20, 30];
    return {
      searchForm: [],
      tableData: [],
      loading: true,
      checkboxGroup: [],
      checkAll: false,
      checkGroupShow: false,
      pageSizes,
      pageQuery: { page: 1, limit: pageSizes[0], count: 0 },
      order: {
        orderBy: '',
        orderAD: '',
      },
      tableHeight: '100%'
    }
  },
  computed: {
  },
  methods: {
    collapseChange(v) {
      console.log(v, this.$refs.collapse.$el.clientHeight)
      let timer = setTimeout(() => {
        this.tableHeight = this.computedHeight() + 'px'
      }, 350)
    },
    currentChange(v) {
      this.pageQuery.page = v;
      this.createData()
    },
    sizeChange(v) {
      this.pageQuery.limit = v;
      this.createData()
    },
    copyObject(obj) {
      return JSON.parse(JSON.stringify(obj))
    },
    handleReset() {
      for(let i in this.searchForm) {
        this.searchForm[i] = null
      }
      /*this.pageQuery.limit = this.pageSizes[0];
      this.pageQuery.page = 1
      this.createData(this.pageQuery)*/
    },
    sortChange(column) {
      this.order = {
        orderBy: column.prop,
        orderAD: column.order.replace('ending', '')
      }
      this.createData();
      return false
    },
    handleSearch() {
      this.pageQuery.page = 1
      this.createData()
    },
    computedHeight() {
      let wrapper = this.$refs.wrapper.clientHeight,
          page = this.$refs.page.$el.clientHeight,
          collapse = this.$refs.collapse.$el.clientHeight;
      console.log(wrapper, collapse, page, this.$refs.wrapper,  this.$refs.page.$el)
      return wrapper - collapse - page - 20
    },
    createData(data) {
      /**
      * 搜索
      * @param data {Object} 搜索条件
      * @return {void}
      * @author cheng_xiaona 2019/5/17
      */
      this.loading = true;
      data = data || Object.assign(this.copyObject(this.pageQuery), this.copyObject(this.searchForm), this.copyObject(this.order), this.copyObject(this.query))
      this.axios
        .post(this.url, data)
        .then(res => {
          this.loading = false
          if(res) {
            res.result.forEach((v, i) => {
              v.orderNum = (this.pageQuery.page - 1) * this.pageQuery.limit + (i + 1)
            })
            this.pageQuery.count = res.count;
            this.tableData = res.result;
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    handleTagClose(v) {
      this.createData()
    },
    handleCheckAllChange(v) {
      let arr = [];
      if(v) {
        this.form.forEach(v => arr.push(v.label))
      }
      this.checkboxGroup = arr;
    },
    rowClick(row) {
      let otherWindow = this.indexHandleClick(row, 'YiBan', true);
      let timer = setInterval(() => {
        if(otherWindow.closed) {
          clearInterval(timer);
          this.createData()
        }
      }, 1500)
    },
    handleSelectionChange(v) {
      this.$emit('update:selection', v)
    },
    createTemp(s, config) {
      let prop = s.column.property;
      let res = s.row[prop];
      let _p = prop.toLowerCase();
      if(_p.includes('date') || _p.includes('time')){
        res =  this.setViewTime(res)
      }
      return res
    }
  },
  created() {
    let searchForm = {};
    for(let i = 0; i < this.form.length; i++) {
      let v = this.form[i]
      searchForm[v.prop] = null;
      (v.value) && (searchForm[v.prop] = v.value);
      (v.show) && (this.checkboxGroup.push(v.label));
    }
    this.checkAll = this.checkboxGroup.length == this.form.length;
    this.searchForm = searchForm;
    this.createData();
  },
  watch: {
    form: {
      deep: true,
      handler(v) {
        for(let i in v) {
          (v.value) && (this.searchForm[i] = v.value)
        }
      }
    },
    cHeight(v) {
    }
  },
  mounted() {
    if(window.navigator.userAgent.includes('MSIE 9.0')) {
      let timer = setInterval(() => {
        let wHeight = this.$refs.wrapper.clientHeight,
          pHeight = this.$refs.page.$el.clientHeight
        if(wHeight && pHeight) {
          window.wHeight = wHeight;
          window.pHeight = pHeight;
        }
        if(window.pHeight && window.wHeight) {
          this.tableHeight = window.wHeight - window.pHeight - 50 - 20 + 'px'
          clearInterval(timer)
        }
      }, 35);
      window.addEventListener('resize', e => {
        this.tableHeight = this.computedHeight() + 'px'
      }, false)
    }
    document.addEventListener('click', e => {
      let current = e.target;
      let gDom = this.$refs.group
      let doms = Array.from(new Set(gDom.getElementsByTagName('*')));
      if(current != this.$refs.column && !doms.includes(current) && current != gDom) {
        this.checkGroupShow = false
      }
    }, false)
  }
}
</script>

<style lang="scss" scoped>
@import 'search.temp.scss';
</style>