.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 30px;
  font-size: 12px;
  /*overflow: hidden;*/
  display: flex;
  flex-direction: column;
  &.no-bar {
    padding-top: 0;
    padding-bottom: 40px;
  }
}
.btns {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  text-align: center;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ddd;
  z-index: 999
}
.main {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.el-tabs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 38px;
  box-sizing: border-box;
}
/deep/ {
  .el-tabs__content {
    flex: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .el-tabs--border-card > .el-tabs__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.el-tab-pane {
  height: 100%;
}